@import '@/backend/assets/styles/mixins.scss';

.card {
  padding: rem(15) rem(30) rem(20);
  position: relative;
  overflow: hidden;
}

.chart {
  height: 100%;
  width: 120px;
  position: absolute;
  top: -3px;
  right: 0;

  :global(.ct-line) {
      stroke-width: 1px;
  }

  :global(.ct-series-a .ct-point,
  .ct-series-a .ct-line,
  .ct-series-a .ct-bar,
  .ct-series-a .ct-slice-donut) {
    stroke: #004585;
  }

  :global(.ct-series-a .ct-slice-pie,
  .ct-series-a .ct-area) {
    fill: #0084ff;
  }
}

.amount {
  font-size: rem(36);
  color: $black;
  margin-bottom: rem(-10);
}

.title {
  color: $text;
  text-transform: uppercase;
  font-weight: bold;
}
