<template>
  <div>
    <div class="row">
      <div class="col-lg-8">
        <div class="card">
          <div class="card-body">
            <h4 class="text-black mb-3">
              <strong>Episode information</strong>
            </h4>
            <div class="row">
              <div class="col-lg-12">
                <!--input hidden-->
                <a-form-item :colon=false>
                  <a-input type='hidden' v-decorator="[`${episodeLegacyId}`]"/>
                </a-form-item>
                <a-form-item :colon=false>
                  <a-input type='hidden' v-decorator="[`${episodeId}`]"/>
                </a-form-item>
                <!--end input hidden-->

                <a-form-item label="Episode Title - Vietnamese" :colon="false">
                  <a-input
                    placeholder="Tập..."
                    v-decorator="[`${episodeAlternateName}`,{ rules: [{ required: true, message: 'Please input your Title!', whitespace: true }] }]"
                  />
                </a-form-item>

                <a-form-item label="Episode Title - English" :colon="false">
                  <a-input
                    placeholder="Episode..."
                    v-decorator="[`${episodeName}`,{ rules: [{ required: true, message: 'Please input your Title!', whitespace: true }] }]"
                  />
                </a-form-item>

                <a-form-item label="Duration (minutes)" :colon="false">
                  <a-input
                    placeholder="45"
                    v-decorator="[`${episodeDuration}`,{ rules: [{ required: true, message: 'Please input your Title!', whitespace: true }] }]"
                  />
                </a-form-item>

                <a-form-item label="Episode Number" :colon="false">
                  <a-input v-decorator="[`${episodeNumber}`]"/>
                </a-form-item>

                <a-form-item label="Long Description" :colon="false">
                  <a-textarea
                    placeholder="Long Description"
                    :rows="4"
                  />
                </a-form-item>

                <a-form-item label="Short Description" :colon="false">
                  <a-textarea
                    placeholder="Short Description"
                    :rows="4"
                    v-decorator="[`${episodeDescription}`,
                      { rules: [{ max: 120, message: 'Short Description cannot be longer than 120 characters', whitespace: true
                       }]         
                      }
                    ]"
                    :maxLength="120"
                  />
                </a-form-item>

                <a-form-item label="Sync From" :label-col="{ span: 3 }" :wrapper-col="{ span: 25 }">
                  <a href="#">Google Sheet Link</a>
                </a-form-item>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="row">
          <div class="card">
            <div class="card-body">
              <h4 class="text-black mb-3">
                <strong>Source</strong>
              </h4>
              <dl class="row">
                <dt class="col-xl-6">Status</dt>
                <dd class="col-xl-6">Ready</dd>
                <dt class="col-xl-6">Created date</dt>
                <dd class="col-xl-6">18/08/2019</dd>
                <dt class="col-xl-6">Last Sync</dt>
                <dd class="col-xl-6">3 days ago</dd>
              </dl>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="card">
            <div class="card-body">
              <h4 class="text-black mb-3">
                <strong>Source review</strong>
              </h4>
              <dl class="row">
                <dt class="col-xl-6">Source 4K review</dt>
                <dd class="col-xl-6">12/08/2019</dd>
                <dt class="col-xl-6">Source HD review</dt>
                <dd class="col-xl-6">18/08/2019</dd>
              </dl>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-body">
                <h4 class="text-black mb-3">
                  <strong>Thumbnail</strong>
                </h4>
                <upload-image :option="{
                    title: undefined,
                    dimensions: undefined,
                    photo: data.episode.image ? data.episode.image : [], 
                    functions: {
                      mounted: mountedFunction
                    },
                    decorator: `${episodeImage}`,
                    uploadRoute: '/admin/movie/uploadImage',
                    uploadData: {
                      name: title.slug + '_episode_' + this.data.episode.episodeNumber
                    },
                    form: form, 
                    config: imageConfig,
                    key: data.episode._id
                  }"
                />
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <h4 class="text-black mb-3">
              <strong>Marker</strong>
            </h4>
            <div class="row">
              <div class="col-lg-6">
                <a-form-item label="Marker Type">
                  <a-select
                    showSearch
                    placeholder="Ask user to play next Video"
                    style="width: 100%;"
                  >
                    <a-select-option value="red">Ask user to play next Video</a-select-option>
                    <a-select-option value="black">Play Advertising</a-select-option>
                  </a-select>
                </a-form-item>
              </div>
              <div class="col-lg-6">
                <a-form-item label="Description">
                  <a-input placeholder="Description" v-decorator="['title']"/>
                </a-form-item>
              </div>
              <div class="col-lg-6">
                <a-form-item label="Next Video ID">
                  <a-input
                    placeholder="Release Year"
                    v-decorator="['title']"
                  />
                </a-form-item>
              </div>
              <div class="col-lg-6">
                <div class="row">
                  <div class="col-lg-6">
                    <a-form-item label="Star time">
                      <a-input placeholder v-decorator="['title']"/>
                    </a-form-item>
                  </div>
                  <div class="col-lg-6">
                    <a-form-item label="Time">
                      <a-input placeholder v-decorator="['title']"/>
                    </a-form-item>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <a-form-item label="Message">
                  <a-input
                    placeholder="Please play next Video"
                    v-decorator="['title']"
                  />
                </a-form-item>
              </div>
            </div>
            <hr/>
            <div class="row">
              <div class="col-lg-12">
                <a-form-item>
                  <a-table :columns="columns" :rowKey="record => record.key" :dataSource="dataMarker">
                    <div slot="status" slot-scope="status">
                      <a-switch :defaultChecked="status == 1 ? true: false"/>
                    </div>
                  </a-table>
                </a-form-item>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</template>

<script>
  const columns = [
    {
      title: "#",
      dataIndex: "key"
    },
    {
      title: "Type",
      dataIndex: "type",
      scopedSlots: {customRender: "thumbnail"}
    },
    {
      title: "Next videoID",
      dataIndex: "next"
    },
    {
      title: "Start time",
      dataIndex: "start"
    },
    {
      title: "End time",
      dataIndex: "end"
    },
    {
      title: "",
      dataIndex: "status",
      scopedSlots: {customRender: "status"}
    }
  ]

  const dataMarker = [
    {
      key: "1",
      type: "Ask user to play next video",
      next: "47'",
      start: "47'",
      end: "50'",
      status: 1
    },
    {
      key: "2",
      type: "Ask user to play next video",
      next: "47'",
      start: "47'",
      end: "50'",
      status: 0
    }
  ]

  import {mapGetters} from 'vuex'

  export default {
    components: {
      UploadImage: () => import(/* webpackChunkName: "js/chunks/upload-image.chunk" */ '@/backend/components/CommonComponents/UploadImage'),
    },
    props: {
      data: Object,
    },
    data() {
      return {
        columns,
        dataMarker,
        episodeLegacyId: undefined,
        episodeId: undefined,
        episodeAlternateName: undefined,
        episodeNumber: undefined,
        episodeName: undefined,
        episodeDuration: undefined,
        episodeDescription: undefined,
        episodeImage: undefined,
      }
    },
    computed: {
      ...mapGetters('movie_content/detail', {
        form: 'form',
        title: 'title'
      }),
      ...mapGetters('config', {
        imageConfig: 'image'
      }),
    },
    methods: {
      mountedFunction() {
        this.form.setFieldsValue({
          [this.episodeImage]: this.listPhoto
        })
      },
    },
    created() {
      this.episodeLegacyId = `containsSeason[${this.data.seasonIndex}].episode[${this.data.episodeIndex}].legacy_id`
      this.episodeId = `containsSeason[${this.data.seasonIndex}].episode[${this.data.episodeIndex}]._id`
      this.episodeAlternateName = `containsSeason[${this.data.seasonIndex}].episode[${this.data.episodeIndex}].alternateName`
      this.episodeNumber = `containsSeason[${this.data.seasonIndex}].episode[${this.data.episodeIndex}].episodeNumber`
      this.episodeName = `containsSeason[${this.data.seasonIndex}].episode[${this.data.episodeIndex}].name`
      this.episodeDuration = `containsSeason[${this.data.seasonIndex}].episode[${this.data.episodeIndex}].duration`
      this.episodeDescription = `containsSeason[${this.data.seasonIndex}].episode[${this.data.episodeIndex}].description`
      this.episodeImage = `containsSeason[${this.data.seasonIndex}].episode[${this.data.episodeIndex}].image`
    },
    mounted() {
      this.form.setFieldsValue({
        [this.episodeLegacyId]: this.data.episode.legacy_id
      })
      this.form.setFieldsValue({
        [this.episodeId]: this.data.episode._id
      })
      this.form.setFieldsValue({
        [this.episodeAlternateName]: this.data.episode.alternateName
      })
      this.form.setFieldsValue({
        [this.episodeNumber]: this.data.episode.episodeNumber
      })
      this.form.setFieldsValue({
        [this.episodeName]: this.data.episode.name
      })
      this.form.setFieldsValue({
        [this.episodeDuration]: this.data.episode.duration
      })
      this.form.setFieldsValue({
        [this.episodeDescription]: this.data.episode.description
      })
    },
  }
</script>

<style>
</style>
