<template>
  <div>
    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-8">
            <a-form :form="form" :selfUpdate="true">
              <div class="row">
                <div class="col-lg-12">
                  <!-- Metadata -->
                  <div class="card">
                    <div class="card-body">
                      <h4 class="text-black mb-3">
                        <strong>Metadata</strong>
                      </h4>
                      <div class="row">
                        <div class="col-lg-6">
                          <a-form-item label="Vietnamese Title" :colon="false">
                            <a-input
                              placeholder="Movie title"
                              v-decorator="['alternateName',{ rules: [{ required: true, message: 'Please input your Title', whitespace: true }] }]"
                            />
                          </a-form-item>
                        </div>
                        <!-- Original Title -->
                        <div class="col-lg-6">
                          <a-form-item label="Original Title" :colon="false">
                            <a-input placeholder="Movie original title" v-decorator="['name']" />
                          </a-form-item>
                        </div>
                      </div>

                      <div class="row">
                        <!--englishName-->
                        <div class="col-lg-6">
                          <a-form-item label="English Title" :colon="false">
                            <a-input
                              placeholder="Movie English title"
                              v-decorator="['englishName',{ rules: [{ required: true, message: 'Please input your English Title', whitespace: true }] }]"
                            />
                          </a-form-item>
                        </div>
                        <!--country-->
                        <div class="col-lg-3">
                          <a-form-item label="Country" :colon="false">
                            <a-select
                              showSearch
                              placeholder="Select a country"
                              mode="default"
                              style="width: 100%;"
                              v-decorator="['countryOfOrigin[0].code']"
                              ref="country"
                              :filterOption="countryFilter"
                              @change="onSelectCountry"
                              @inputKeydown="onEnterCountry"
                            >
                              <a-select-option
                                v-for="country in allCountries"
                                :key="country.code"
                                :value="country.code"
                              >{{ country.viName }}</a-select-option>
                            </a-select>
                          </a-form-item>
                        </div>
                        <!--datePublished-->
                        <div class="col-lg-3">
                          <a-form-item label="Release Year" :colon="false">
                            <a-input
                              placeholder="Release Year"
                              v-decorator="['datePublished',
																{
																		rules: [{ pattern: /^[0-9]*$/,message: 'The value must be a number'}]
																}
														]"
                            />
                          </a-form-item>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-lg-6">
                          <a-form-item label="Title type" :colon="false">
                            <a-select
                              placeholder="Select a title type"
                              style="width: 100%;"
                              v-decorator="['type']"
                            >
                              <a-select-option
                                v-for="type in types"
                                :key="type.name"
                                :value="type.name"
                              >{{type.name}}</a-select-option>
                            </a-select>
                          </a-form-item>
                        </div>
                        <!-- <div class="col-lg-6" > -->
                        <!-- <div > -->
                        <div class="col-lg-6" v-show="title.type == 'tvseries'">
                          <a-form-item label="Total Season" :colon="false">
                            <a-input placeholder="Total Season" v-decorator="['numberOfSeasons']" />
                          </a-form-item>
                        </div>

                        <div class="col-lg-6" v-show="title.type == 'tvseries'">
                          <a-form-item label="Total Season" :colon="false">
                            <a-input placeholder="Total Season" v-decorator="['numberOfSeasons']" />
                          </a-form-item>
                        </div>
                      </div>

                      <div class="row">
                        <!-- Publisher -->
                        <div class="col-lg-6">
                          <a-form-item label="Publisher" :colon="false">
                            <a-select
                              showSearch
                              placeholder="Select publishser"
                              style="width: 100%;"
                              v-decorator="['publisher']"
                            >
                              <a-select-option
                                v-for="item in allPublishers"
                                :key="item.name"
                                :value="item.name"
                              >{{item.name}}</a-select-option>
                            </a-select>
                          </a-form-item>
                        </div>
                        <!-- Studio -->
                        <div class="col-lg-6">
                          <a-form-item label="Studio" :colon="false">
                            <a-select
                              mode="tags"
                              placeholder="Studio"
                              notFoundContent
                              :allowClear="true"
                              style="width: 100%"
                              v-decorator="['productionCompany']"
                            ></a-select>
                          </a-form-item>
                        </div>
                      </div>

                      <!-- Duration -->
                      <div class="row">
                        <div class="col-lg-6" v-if="title.type !== 'tvseries'">
                          <a-form-item label="Duration" :colon="false">
                            <a-input
                              placeholder="Select Duration"
                              v-decorator="['duration',
																{
																		rules: [{ pattern: /^[0-9]*$/,message: 'The value must be a number'}]
																}
														]"
                            />
                          </a-form-item>
                        </div>
                        <!-- Age Rating -->
                        <div class="col-lg-6">
                          <a-form-item label="Age Rating" :colon="false">
                            <a-select
                              showSearch
                              placeholder="Select a age rating"
                              style="width: 100%;"
                              v-decorator="['contentRating',
                                      {
                                        initialValue:['P - Thích hợp mọi độ tuổi']    
                                      }
                                    ]"
                            >
                              <a-select-option
                                v-for="age in ages"
                                :key="age.name"
                                :value="age.name"
                              >{{age.name}}</a-select-option>
                            </a-select>
                          </a-form-item>
                        </div>
                      </div>

                      <!-- Rating -->
                      <div class="row">
                        <div class="col-lg-6">
                          <a-form-item label="Rating IMDB" :colon="false">
                            <a-input
                              placeholder="Rating IMDB"
                              v-decorator="['aggregateRating.imdb',
																				{
																						rules: [{ validator: checkIsNumber }]
																				}
																		]"
                            />
                          </a-form-item>
                        </div>
                        <div class="col-lg-6">
                          <a-form-item label="Fimplus Rating" :colon="false">
                            <a-input
                              placeholder="Select a rating"
                              v-decorator="['aggregateRating.fimplus.ratingValue',
																								{
																									rules: [{ pattern: /^[0-9]*$/,message: 'The value must be a number'}]
																								}
																						]"
                            />
                          </a-form-item>
                        </div>
                      </div>
                      <!--Slug-->
                      <div class="row">
                        <div class="col-lg-6">
                          <a-form-item label="Slug" :colon="false">
                            <a-input
                              placeholder="Slug"
                              v-decorator="['slug',{ rules: [{ required: true, message: 'Please input your Slug', whitespace: true }] }]"
                            />
                          </a-form-item>
                        </div>
                        <!-- <a-form-item :colon="false">
                          <a-input type="hidden" v-decorator="['legacy_id']" />
                        </a-form-item>-->
                      </div>
                      <!--Genre-->
                      <div class="row">
                        <div class="col-lg-6">
                          <a-form-item label="Genre" :colon="false">
                            <a-select
                              mode="multiple"
                              :placeholder="title.genre"
                              v-decorator="['genre', { rules: [{ validator: checkGenreLength }] }]"
                              style="width: 100%"
                              @change="onSelectGenre"
                            >
                              <a-select-option
                                v-for="genre in genres.main"
                                :value="genre.name"
                                :key="genre.name"
                              >{{ genre.name }}</a-select-option>
                            </a-select>
                          </a-form-item>
                        </div>
                        <div class="col-lg-6">
                          <a-form-item label="SubGenre" :colon="false">
                            <a-select
                              mode="multiple"
                              :placeholder="title.subGenre"
                              v-decorator="['subGenre']"
                              style="width: 100%"
                              @change="onSelectSubGenre"
                            >
                              <a-select-option
                                v-for="genre in genres.sub"
                                :value="genre.name"
                                :key="genre.name"
                              >{{ genre.name }}</a-select-option>
                            </a-select>
                          </a-form-item>
                        </div>
                      </div>
                      <!--description-->
                      <div class="row">
                        <div class="col-lg-12">
                          <a-form-item label="Long Description" :colon="false">
                            <a-textarea
                              placeholder="Long Description"
                              :rows="4"
                              v-decorator="['description']"
                            />
                          </a-form-item>
                          <a-form-item label="Short Description" :colon="false">
                            <a-textarea
                              placeholder="Short Description"
                              :rows="4"
                              v-decorator="['disambiguatingDescription',
																			{ rules: [{ max: 120, message: 'Short Description cannot be longer than 120 characters' }]}
																		]"
                              :maxLength="120"
                            />
                          </a-form-item>
                          <!-- Spotlight -->
                          <a-form-item label="Spotlight" :colon="false">
                            <a-radio-group name="radioGroup" :defaultValue="1">
                              <div class="icons-list">
                                <a-radio :value="1">
                                  <a-tooltip placement="topLeft">
                                    <template slot="title">
                                      <span>Trivia</span>
                                    </template>
                                    <img width="25px" :src="'/img/backend/spotline/chair@3x.png'" />
                                  </a-tooltip>
                                </a-radio>
                                <a-radio :value="2">
                                  <a-tooltip placement="topLeft">
                                    <template slot="title">
                                      <span>Box Office</span>
                                    </template>
                                    <img
                                      width="25px"
                                      :src="'/img/backend/spotline/ticket_box@3x.png'"
                                    />
                                  </a-tooltip>
                                </a-radio>
                                <a-radio :value="3">
                                  <a-tooltip placement="topLeft">
                                    <template slot="title">
                                      <span>Cannes</span>
                                    </template>
                                    <img
                                      width="25px"
                                      :src="'/img/backend/spotline/golden_palm@3x.png'"
                                    />
                                  </a-tooltip>
                                </a-radio>
                                <a-radio :value="4">
                                  <a-tooltip placement="topLeft">
                                    <template slot="title">
                                      <span>Oscar</span>
                                    </template>
                                    <img width="25px" :src="'/img/backend/spotline/oscar@3x.png'" />
                                  </a-tooltip>
                                </a-radio>
                              </div>
                            </a-radio-group>
                          </a-form-item>
                          <a-form-item label="Spotline description" :colon="false">
                            <a-textarea
                              placeholder="Spotline"
                              :rows="4"
                              v-decorator="['spotline',
                                            { rules: [{ max: 70, message: 'Spotline cannot be longer than 70 characters' }]},
                                        ]"
                              :maxLength="70"
                            />
                          </a-form-item>
                        </div>
                      </div>

                      <!--Keyword-->
                      <div class="row">
                        <div class="col-lg-12">
                          <span>Keyword</span>
                          <div class="card">
                            <div class="card-body">
                              <div class="col-lg-12">
                                <a-form-item label="SearchKeyword" :colon="false">
                                  <a-select
                                    mode="tags"
                                    placeholder="searchKeyword..."
                                    notFoundContent
                                    :allowClear="true"
                                    v-decorator="['keyword.searchKeyword',
                                        { rules: [{ validator: checkKeyword },]
                                        }]"
                                  ></a-select>
                                </a-form-item>
                              </div>
                              <div class="col-lg-12">
                                <a-form-item label="RecKeyWord" :colon="false">
                                  <a-select
                                    mode="tags"
                                    placeholder="recKeyword..."
                                    notFoundContent
                                    :allowClear="true"
                                    v-decorator="['keyword.recKeyword',
                                        { rules: [{ validator: checkKeyword },]
                                    }]"
                                  ></a-select>
                                </a-form-item>
                              </div>
                              <div class="col-lg-12">
                                <a-form-item label="Franchise" :colon="false">
                                  <a-select
                                    mode="tags"
                                    placeholder="franchise..."
                                    notFoundContent
                                    :allowClear="true"
                                    v-decorator="['keyword.franchise',
                                          { rules: [{ validator: checkKeyword },]
                                          }]"
                                  ></a-select>
                                </a-form-item>
                              </div>
                              <div class="col-lg-12">
                                <a-form-item label="RemakeOf" :colon="false">
                                  <a-select
                                    mode="tags"
                                    placeholder="remakeOf..."
                                    notFoundContent
                                    :allowClear="true"
                                    v-decorator="['keyword.remakeOf',
                                        { rules: [{ validator: checkKeyword },]
                                        }]"
                                  ></a-select>
                                </a-form-item>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <!--Google Sheet-->
                      <div class="row">
                        <div class="col-lg-12">
                          <a-form-item
                            label="Sync From"
                            :label-col="{ span: 3 }"
                            :wrapper-col="{ span: 25 }"
                          >
                            <a href="#">Google Sheet Link</a>
                          </a-form-item>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </a-form>

            <!-- Director-->
            <content-director />

            <!-- Actor-->
            <content-actor />
          </div>

          <div class="col-lg-4">
            <!--Source-->
            <div class="row">
              <div class="col-lg-12">
                <div class="card">
                  <div class="card-body">
                    <div class="d-flex">
                      <h4 class="text-black mb-3 flex-fill">
                        <strong>Source</strong>
                      </h4>
                      <a-button type="link" @click="showSourceModal">CHANGE</a-button>
                      <content-source-modal
                        :visible="sourceModalVisible"
                        :cancel="hideSourceModal"
                        :apply="selectSourceModal"
                        :data="listDam"
                        :loading="loadingSource"
                      />
                    </div>
                    
                    <dl class="row">
                      <dt class="col-xl-6">Status</dt>
                      <dd class="col-xl-6 font-size-16" 
                        :class="{'text-success': damInfo.status == 'ready', 'text-warning': damInfo.status == 'processing'}" 
                      >
                        <a-button type="link" icon="redo" v-if="damInfo.status == 'processing'"></a-button>
                        {{damInfo.status}}
                      </dd>

                      <dt class="col-xl-6">Create date</dt>
                      <dd class="col-xl-6">18/08/2019</dd>

                      <dt class="col-xl-6">Last Sync</dt>
                      <dd class="col-xl-6">3 days ago</dd>
                      
                      <dt class="col-xl-6">
                        <h4 class="text-black mb-3">
                          <strong>Audio</strong>
                        </h4>
                      </dt>
                      <dd class="col-xl-6">
                        <ul class='ul-type-none'>
                          <li v-for="audio in damInfo.features.audioLang">{{audio}}</li>
                        </ul>
                      </dd>

                      <dt class="col-xl-6">
                        <h4 class="text-black mb-3">
                          <strong>Subtitle</strong>
                        </h4>
                      </dt>
                      <dd class="col-xl-6">
                        <ul class='ul-type-none'>
                          <li v-for="list in damInfo.features.subtitle">{{list.lang}}</li>
                        </ul>
                      </dd>

                    </dl>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-12">
                <div class="card">
                  <div class="card-body">
                    <h4 class="text-black mb-3">
                      <strong>Video Publish</strong>
                    </h4>
                    <dl class="row" v-for="list in damInfo.videoItems">
                      <dt class="col-xl-6 font-size-18">Profile {{list.detail.quality}}</dt>
                      <dd class="col-xl-6"></dd>

                      <dt class="col-xl-6 padding-left-25">Status</dt>

                      <dd class="col-xl-6 font-size-14"
                        :class="{'text-success': list.status == 'ready', 'text-warning': list.status == 'processing'}" 
                      >
                        {{list.status}}
                      </dd>

                      <dt class="col-xl-6 padding-left-25">Dimension</dt>
                      <dd class="col-xl-6">{{list.detail.dimension}}</dd>

                      <dt class="col-xl-6 padding-left-25">HDR</dt>
                      <dd class="col-xl-6">
                          <ul class='ul-type-none'>
                            <li v-for="listHDR in list.detail.HDR">{{listHDR}}</li>
                          </ul>
                      </dd>

                      <dt class="col-xl-6 padding-left-25">Audio</dt>
                      <dd class="col-xl-6">
                        <ul class='ul-type-none'>
                          <li v-for="listAudio in list.detail.soundQuality">{{listAudio}}</li>
                        </ul>
                      </dd>

                      <dt class="col-xl-6 padding-left-25">Create date</dt>
                      <dd class="col-xl-6">{{moment.unix(list.createdAt).format('DD-MM-YYYY')}}</dd>
                      <dt class="col-xl-6 padding-left-25">Update date</dt>
                      <dd class="col-xl-6">{{moment.unix(list.updatedAt).format('DD-MM-YYYY')}}</dd>
                      <hr />
                    </dl>
                  </div>
                </div>
              </div>
            </div>

            <!-- Source review -->
            <div class="row">
              <div class="col-lg-12">
                <div class="card">
                  <div class="card-body">
                    <h4 class="text-black mb-3">
                      <strong>Source review</strong>
                    </h4>
                    <dl class="row">
                      <dt class="col-xl-6">Source 4K review</dt>
                      <dd class="col-xl-6">12/08/2019</dd>
                      <dt class="col-xl-6">Source HD review</dt>
                      <dd class="col-xl-6">18/08/2019</dd>
                    </dl>
                    <hr />
                    <div class="text-right">
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!--Settings-->
            <content-setting />

            <!-- Time to publish -->
            <a-form :form="form" :selfUpdate="true">
              <div class="row">
                <div class="col-lg-12">
                  <div class="card">
                    <div class="card-body">
                      <h4 class="text-black mb-3">
                        <strong>Time to publish</strong>
                      </h4>
                      <a-form-item label="Publish on" :colon="false">
                        <a-date-picker
                          allowClear
                          style="width: 100%;"
                          placeholder="Publish on"
                          showTime
                          format="DD-MM-YYYY HH:mm:ss"
                          :disabledDate="disabledPublishOn"
                          v-decorator="['publishScheduleOn']"
                        />
                      </a-form-item>
                      <a-form-item label="Start on" :colon="false">
                        <a-date-picker
                          allowClear
                          style="width: 100%;"
                          placeholder="Start on"
                          showTime
                          format="DD-MM-YYYY HH:mm:ss"
                          :disabledDate="disabledStartOn"
                          v-decorator="['copyrightStartOn']"
                        />
                      </a-form-item>
                      <a-form-item label="Expire on" :colon="false">
                        <a-date-picker
                          allowClear
                          style="width: 100%;"
                          placeholder="Expire on"
                          showTime
                          format="DD-MM-YYYY HH:mm:ss"
                          :disabledDate="disabledExpireOn"
                          v-decorator="['copyrightExpireOn']"
                        />
                      </a-form-item>
                    </div>
                  </div>
                </div>
              </div>
            </a-form>

            <!-- Tags -->
            <a-form :form="form" :selfUpdate="true">
              <div class="row">
                <div class="col-lg-12">
                  <div class="card">
                    <div class="card-body">
                      <h4 class="text-black mb-3">
                        <strong>Tags</strong>
                      </h4>
                      <a-form-item :colon="false">
                        <a-select
                          mode="tags"
                          placeholder="Tags"
                          notFoundContent
                          :allowClear="true"
                          v-decorator="['tags']"
                        ></a-select>
                      </a-form-item>
                    </div>
                  </div>
                </div>
              </div>
            </a-form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script src="./script.js"></script>
<style scope>
@import "./style.scope.scss";
</style>
