<template>
    <div class="row">
        <div class="col-lg-12">
            <a-tabs defaultActiveKey="1" :tabPosition="tabPosition">
                <a-tab-pane tab="TV" key="1">
                    <tv/>
                </a-tab-pane>
                <a-tab-pane tab="Website" key="2">
                    <web/>
                </a-tab-pane>
                <a-tab-pane tab="Mobile" key="3">
                    <mobile/>
                </a-tab-pane>
            </a-tabs>
        </div>
    </div>
</template>

<script>
    import { Table, AutoComplete, Button, Select, Skeleton, Input, Form, Tabs } from 'ant-design-vue';
    window.Vue.use(Table);
    window.Vue.use(AutoComplete);
    window.Vue.use(Button);
    window.Vue.use(Select);
    window.Vue.use(Skeleton);
    window.Vue.use(Input);
    window.Vue.use(Form);
    window.Vue.use(Tabs);
    export default {
        components: {
            tv: () => import(/* webpackChunkName: "js/chunks/tv.chunk" */ './page_tv/index.vue'),
            web: () => import(/* webpackChunkName: "js/chunks/web.chunk" */ './page_web/index.vue'),
            mobile: () => import(/* webpackChunkName: "js/chunks/mobile.chunk" */ './page_mobile/index.vue'),
        },
        data() {
            return {
                tabPosition: 'top'
            }
        },
    }
</script>

<style>

</style>
