<template>
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <h4 class="text-black mb-3">
            <strong>Trailer listing</strong>
          </h4>
          <div class="row">
            <div class="col-lg-12">
              <a-table
                :columns="columns"
                :rowKey="record => record.legacy_id"
                :dataSource="title.video"
                :pagination="pagination"
              >
                <div :class="$style.container" slot="thumbnail" slot-scope="value, record, index">
                  <div :class="$style.figure">
                    <img :class="$style.img2" :src="previewImage[index].url" alt />
                    <div :class="$style.hoverMenu">
                      <div :class="$style.imageMenu">
                        <div :class="$style.menuUpload">
                          <label class="btn btn-sm btn-success" style="font-size: 8px;">
                            REPLACE IMAGE
                            <input
                              type="file"
                              name="image"
                              :data="record.legacy_id"
                              ref="file"
                              @change="handleClickUpload(index, $event)"
                              style="display: none;"
                            />
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div slot="sourceStatus">
                  <span class="text-success">Ready</span>
                </div>
                <div slot="status" slot-scope="status">
                  <a-switch :defaultChecked="status == 'active' ? true: false">
                    <a-icon type="check" slot="checkedChildren" />
                    <a-icon type="close" slot="unCheckedChildren" />
                  </a-switch>
                </div>
              </a-table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
const columns = [
  {
    title: "Thumbnail",
    dataIndex: "thumbnail",
    scopedSlots: { customRender: "thumbnail" }
  },
  {
    title: "Title",
    dataIndex: "name"
  },
  {
    title: "Source Status",
    scopedSlots: { customRender: "sourceStatus" }
  },
  {
    title: "",
    dataIndex: "status",
    scopedSlots: { customRender: "status" }
  }
];

import { Table, Icon, Switch } from 'ant-design-vue';
import { mapGetters, mapActions } from "vuex";

window.Vue.use(Table);
window.Vue.use(Icon);
window.Vue.use(Switch);

export default {
  data() {
    return {
      columns,
      previewImage: [],
      pagination: {
        total: 2,
        showTotal: (total, range) =>
          `${range[0]}-${range[1]} of ${total} items`,
        pageSize: 10
      },
      video: [],
    };
  },
  computed: {
    ...mapGetters({
      title: "$_title/title"
    }),
    ...mapGetters("config", {
      image: "image"
    })
  },
  methods: {
    ...mapActions({
      setDataField: '$_title/setDataField',
      uploadImage: '$_title/uploadImage',
    }),
    uploadPhoto(legacy_id, file, index) {
      let formData = new FormData();
      formData.append("file", file);
      formData.append("legacy_id", legacy_id);
      formData.append("name", this.title.slug + "_" + "trailer_");
      this.uploadImage(formData)
        .then((response) => {
          let thumbnail = response.data.data.url;
          this.$store.commit('$_title/SET_TRAILER_THUMBNAIL', { index: index, data: thumbnail });
          this.previewImage[index].legacy_id = thumbnail;
          this.previewImage[index].url = this.image.resize.w300 + thumbnail;
          this.$store.commit('$_title/CHANGE_SAVE_STATUS', { status: false });
          this.$message.success("Upload successfully!");
        })
        .catch((error) => {
          this.$message.error("Your photo dimensions is not correct.");
        });
    },
    handleClickUpload(index, e) {
      this.uploadPhoto(
        e.target.attributes.data.value,
        e.target.files[0],
        index
      );
    }
  },
  created() {
    this.pagination.total = this.title.video.length;
    this.title.video.forEach((value, index, array) => {
      this.previewImage.push({
        legacy_id: value.legacy_id,
        url: value.thumbnail
      });
    });

    this.$store.subscribe((mutation, state) => {
      if (mutation.type == "$_title/RESET_TITLE") {
        this.previewImage = [];
        this.title.video.forEach((value, index, array) => {
          this.previewImage.push({
            legacy_id: value.legacy_id,
            url: value.thumbnail
          });
        });
      }
    });
  }
};
</script>

<style lang="scss" module>
@import "./style.module.scss";
</style>

