<template>
  <a-tabs v-model="activeKey" tabPosition="right" type="editable-card" hideAdd @edit="onEdit">
    <a-tab-pane v-for="pane in panes" :tab="pane.title" :key="pane.key" :closable="pane.closable">
      <component :is="pane.content" :functions="pane.params" :data="pane.data"></component>
    </a-tab-pane>
  </a-tabs>
</template>
<script>
  import {mapGetters} from 'vuex'
  import {ObjectID} from 'bson'

  export default {
    components: {
      ListSeason: () => import(/* webpackChunkName: "js/chunks/list-season.chunk" */ './list/index.vue'),
      SeasonDetail: () => import(/* webpackChunkName: "js/chunks/season-detail.chunk" */ './detail/season/index.vue'),
      EpisodeDetail: () => import(/* webpackChunkName: "js/chunks/episode-detail.chunk" */ './detail/episode/index.vue'),
    },
    data() {
      const panes = [
        {
          title: 'Listing',
          content: 'list-season',
          key: 'list',
          params: {
            editEpisode: this.editEpisode,
            editSeason: this.editSeason,
            addEpisode: this.addEpisode,
            addSeason: this.addSeason,
            removeEpisode: this.removeEpisode,
            removeSeason: this.removeSeason
          },
          closable: false,
        }
      ]

      return {
        panes,
        activeKey: 'list',
      }
    },
    computed: {
      ...mapGetters('movie_content/detail', {
        movieData: 'title'
      }),
    },
    methods: {
      onEdit(targetKey, action) {
        if (action == 'remove') {
          this.removeTab(targetKey)
        }
      },
      removeTab(targetKey) {
        let activeKey = this.activeKey
        let lastIndex
        this.panes.forEach((pane, i) => {
          if (pane.key === targetKey) {
            lastIndex = i - 1
          }
        })
        const panes = this.panes.filter(pane => pane.key !== targetKey)
        if (lastIndex >= 0 && activeKey === targetKey) {
          activeKey = panes[lastIndex].key
        }
        this.panes = panes
        this.activeKey = activeKey
      },
      editEpisode(seasonIndex, episodeIndex) {
        let season = this.movieData.containsSeason[seasonIndex]
        let episode = season.episode[episodeIndex]
        if (
          _.find(this.panes, {key: 'episode-' + episode.episodeNumber + 'season-' + season.seasonNumber}) ==
          undefined
        ) {
          let episodeDetail = {
            title: 'Episode ' + episode.episodeNumber + ' - Season ' + parseInt(season.seasonNumber + 1),
            content: 'episode-detail',
            key: 'episode-' + episode.episodeNumber + 'season-' + season.seasonNumber,
            data: {
              seasonIndex: seasonIndex,
              episodeIndex: episodeIndex,
              episode: episode
            },
            closable: true
          }
          this.panes.push(episodeDetail)
        }
        this.activeKey = 'episode-' + episode.episodeNumber + 'season-' + season.seasonNumber
      },
      addEpisode(seasonIndex) {
        let season = this.movieData.containsSeason[seasonIndex]

        // Generate _id for episode
        let arrayIdEpisode = []
        let _id = new ObjectID()
        season.episode.forEach((value, index, array) => {
          arrayIdEpisode.push(value._id)
        })
        while (arrayIdEpisode.includes(_id.toString() != false)) {
          _id = new ObjectID()
        }

        let episode = {
          _id: _id.toString(),
          episodeNumber: season.episode.length + 1,
          alternateName: 'Tập mới',
          legacy_id: undefined,
          name: 'New episode',
          duration: undefined,
          description: undefined,
          image: []
        }

        let episodeDetail = {
          title: episode.alternateName + ' - Season' + parseInt(season.seasonNumber + 1),
          content: 'episode-detail',
          key: 'episode-' + episode.episodeNumber + 'season-' + season.seasonNumber,
          data: {
            seasonIndex: seasonIndex,
            episodeIndex: season.episode.length,
            episode: episode
          },
          closable: true
        }

        this.movieData.containsSeason[seasonIndex].episode.push(episode)
        this.panes.push(episodeDetail)
        this.activeKey = 'episode-' + episode.episodeNumber + 'season-' + season.seasonNumber
      },
      removeEpisode(seasonIndex, episodeIndex) {
        let season = this.movieData.containsSeason[seasonIndex]
        let episode = season.episode[episodeIndex]
        this.removeTab('episode-' + episode.episodeNumber + 'season-' + season.seasonNumber)
        this.movieData.containsSeason[seasonIndex].episode.splice(episodeIndex, 1)
      },
      editSeason(seasonIndex) {
        let season = this.movieData.containsSeason[seasonIndex]
        if (_.find(this.panes, {key: 'season-' + season.seasonNumber}) == undefined) {
          let seasonDetail = {
            title: 'Season ' + parseInt(season.seasonNumber + 1),
            content: 'season-detail',
            key: 'season-' + season.seasonNumber,
            data: {seasonIndex: seasonIndex, season: season},
            closable: true
          }
          this.panes.push(seasonDetail)
        }
        this.activeKey = 'season-' + season.seasonNumber
      },
      addSeason() {
        // Generate _id for episode
        let arrayIdSeason = []
        let _id = new ObjectID()
        this.movieData.containsSeason.forEach((value, index, array) => {
          arrayIdSeason.push(value._id)
        })
        while (arrayIdSeason.includes(_id.toString() != false)) {
          _id = new ObjectID()
        }

        let season = {
          _id: _id.toString(),
          name: 'New Season',
          alternateName: 'Phần mới',
          seasonNumber: this.movieData.containsSeason.length,
          slug: 'new-season',
          numberOfEpisodes: '',
          episode: []
        }

        let seasonDetail = {
          title: season.alternateName,
          content: 'season-detail',
          key: 'season-' + season.seasonNumber,
          data: {seasonIndex: this.movieData.containsSeason.length, season: season},
          closable: true
        }

        this.movieData.containsSeason.push(season)
        this.panes.push(seasonDetail)
        this.activeKey = 'season-' + season.seasonNumber
      },
      removeSeason(seasonIndex) {
        let season = this.movieData.containsSeason[seasonIndex]
        this.removeTab('season-' + season.seasonNumber)
        this.movieData.containsSeason.splice(seasonIndex, 1)
      },
    }
  }
</script>
<style>
</style>
