<template>
  <div>
    <a-form :form="form" :selfUpdate="true">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-8">
              <div class="row">
                <div class="col-lg-12">
                  <div class="card">
                    <div class="card-body">
                      <h4 class="text-black mb-3">
                        <strong>Season information</strong>
                      </h4>
                      <div class="row" style="display:none">
                        <a-form-item :colon="false">
                          <a-input v-decorator="['_id']" />
                        </a-form-item>
                      </div>
                      <div class="row">
                        <div class="col-lg-6">
                          <a-form-item label="Season Title - English" :colon="false">
                            <a-input
                              placeholder="Seasion title english"
                              v-decorator="['englishName',{ rules: [{ required: true, message: 'Please input Seasion Title English', whitespace: true }] }]"
                            />
                          </a-form-item>
                        </div>
                        <div class="col-lg-6">
                          <a-form-item label="Season Title - Vietnamese" :colon="false">
                            <a-input
                              placeholder="Seasion title vietnamese"
                              v-decorator="['alternateName',{ rules: [{ required: true, message: 'Please input Seasion Title Vietnamese', whitespace: true }] }]"
                            />
                          </a-form-item>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-lg-6">
                          <a-form-item label="Original Season Title" :colon="false">
                            <a-input
                              placeholder="Movie original title"
                              v-decorator="['name']"
                            />
                          </a-form-item>
                        </div>
                        <div class="col-lg-6">
                          <a-form-item label="Release year" :colon="false">
                            <a-input
                              placeholder="Release year"
                              v-decorator="['releaseYear']"
                            />
                          </a-form-item>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-lg-6">
                          <a-form-item label="Season Number" :colon="false">
                            <a-input placeholder="Season Number" v-decorator="['seasonNumber']" />
                          </a-form-item>
                        </div>
                        <div class="col-lg-6">
                          <a-form-item label="Total Episode" :colon="false">
                            <a-input
                              placeholder="Total Episode"
                              v-decorator="['numberOfEpisodes']"
                            />
                          </a-form-item>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-6">
                          <a-form-item label="Slug" :colon="false">
                            <a-input placeholder="Slug" v-decorator="['slug']" />
                          </a-form-item>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-lg-12">
                          <a-form-item label="Long Description" :colon="false">
                            <a-textarea placeholder="Long Description" :rows="4" />
                          </a-form-item>
                          <a-form-item label="Short Description" :colon="false">
                            <a-textarea
                              placeholder="Short Description"
                              :rows="4"
                              v-decorator="['description',
                                  { rules: [{ max: 120, message: 'Short Description cannot be longer than 120 characters', whitespace: true
                                  }],
                                  }
                                ]"
                              :maxLength="120"
                            />
                          </a-form-item>
                        </div>
                      </div>

                      <!--Google Sheet-->
                      <div class="row">
                        <div class="col-lg-12">
                          <a-form-item
                            label="Sync From"
                            :label-col="{ span: 3 }"
                            :wrapper-col="{ span: 25 }"
                          >
                            <a href="#">Google Sheet Link</a>
                          </a-form-item>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Director-->
              <div class="row">
                <div class="col-lg-12">
                  <div class="card">
                    <div class="card-body">
                      <h4 class="text-black mb-3">
                        <strong>Director</strong>
                      </h4>
                      <a-form-item>
                        <a-select showSearch placeholder="Choose People" style="width: 100%;">
                          <a-select-option value="red">Leonardo DiCaprio</a-select-option>
                          <a-select-option value="black">Brad Pitt</a-select-option>
                          <a-select-option value="green">Angelina Jolie</a-select-option>
                        </a-select>
                      </a-form-item>
                      <hr />
                      <div>
                        <a-table
                          :columns="directorColumns"
                          :dataSource="directorData"
                          :rowKey="record => record.detail._id"
                          :pagination="{ pageSize: 5 }"
                        >
                          <template slot="#" slot-scope="value, record, index">{{ index + 1 }}</template>
                          <template slot="img" slot-scope="value">
                            <img width="50px" :src="value ? value : '/img/backend/404error.jpeg'" />
                          </template>
                          <template slot="action">
                            <a-button icon="cross" size="small">Remove</a-button>
                          </template>
                        </a-table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Actor-->
              <div class="row">
                <div class="col-lg-12">
                  <div class="card">
                    <div class="card-body">
                      <h4 class="text-black mb-3">
                        <strong>Actor</strong>
                      </h4>
                      <a-form-item>
                        <a-select showSearch placeholder="Choose People" style="width: 100%;">
                          <a-select-option value="red">Leonardo DiCaprio</a-select-option>
                          <a-select-option value="black">Brad Pitt</a-select-option>
                          <a-select-option value="green">Angelina Jolie</a-select-option>
                        </a-select>
                      </a-form-item>
                      <hr />
                      <div>
                        <a-table
                          :columns="actorColumns"
                          :dataSource="actorData"
                          :rowKey="record => record.detail._id"
                          :pagination="{ pageSize: 5 }"
                        >
                          <template slot="#" slot-scope="value, record, index">{{ index + 1 }}</template>
                          <template slot="img" slot-scope="value">
                            <img width="50px" :src="value ? value : '/img/backend/404error.jpeg'" />
                          </template>
                          <template slot="action">
                            <a-button icon="cross" size="small">Remove</a-button>
                          </template>
                        </a-table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4">
              <!--Keyword-->
              <div class="row">
                <div class="col-lg-12">
                  <div class="card">
                    <div class="card-body">
                      <h4 class="text-black mb-3">
                        <strong>Keyword</strong>
                      </h4>
                      <a-form-item :colon="false">
                        <a-select
                          mode="multiple"
                          v-decorator="['keyword',
                                {
                                  initialValue: ['a1', 'b2']
                                }]"
                          style="width: 100%"
                          placeholder="Please select"
                        >
                          <a-select-option v-for="i in 25" :key="(i + 9).toString(36) + i">
                            {{(i +
                            9).toString(36) + i}}
                          </a-select-option>
                        </a-select>
                      </a-form-item>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row float-right">
                <div class="col-lg-12">
                  <a-button @click="handleCancel">CANCEL</a-button>
                  <a-button type="primary" @click="handleApply">APPLY</a-button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </a-form>
  </div>
</template>

<script>
const directorColumns = [
  {
    title: "",
    scopedSlots: { customRender: "#" }
  },
  {
    title: "Image",
    dataIndex: "detail.image",
    scopedSlots: { customRender: "img" }
  },
  {
    title: "Name",
    dataIndex: "detail.name"
  },
  {
    title: "Action",
    dataIndex: "action",
    scopedSlots: { customRender: "action" }
  }
];
const actorColumns = [
  {
    title: "",
    scopedSlots: { customRender: "#" }
  },
  {
    title: "Image",
    dataIndex: "detail.image",
    scopedSlots: { customRender: "img" }
  },
  {
    title: "Name",
    dataIndex: "detail.name"
  },
  {
    title: "Role",
    dataIndex: "role"
  },
  {
    title: "Action",
    dataIndex: "action",
    scopedSlots: { customRender: "action" }
  }
];

import { Form, Input, Select, Table, Button } from 'ant-design-vue';
import { mapGetters, mapActions } from "vuex";

window.Vue.use(Form);
window.Vue.use(Input);
window.Vue.use(Select);
window.Vue.use(Table);
window.Vue.use(Button);

export default {
  props: {
    data: Object,
    functions: Object
  },
  data() {
    return {
      seasonData: {
        englishName: undefined
      },
      actorColumns,
      directorColumns,
      directorData: [],
      actorData: []
    };
  },
  computed: {
    ...mapGetters({
      title: "$_title/title"
    })
  },
  methods: {
    ...mapActions({
      editSeason: '$_title/editSeason',
      addSeason: '$_title/addSeason',
    }),
    handleApply() {
      this.form.validateFields((err, values) => {
        if (!err) {
          if (this.data.type === 'edit') {
            console.log(this.seasonData)
            this.editSeason({
              seasonIndex: this.data.seasonIndex,
              seasonData: this.seasonData
            })
          } else {
            this.addSeason({
              seasonData: this.seasonData
            })
          }
          this.$forceUpdate();
          this.functions.removeTab(this.data.tabKey);
        }
      });
    },
    handleCancel() {
      this.functions.removeTab(this.data.tabKey);
    }
  },
  beforeCreate() {
    let self = this;
    this.form = this.$form.createForm(this, {
      onValuesChange(dom, values) {
        _.merge(self.seasonData, values);
      }
    });
  },
  created() {
    this.seasonData = _.merge(this.seasonData, this.data.season);
  },
  mounted() {
    this.form.setFieldsValue({
      _id: this.data.season._id
    });
    this.form.setFieldsValue({
      name: this.data.season.name
    });
    this.form.setFieldsValue({
      alternateName: this.data.season.alternateName
    });
    this.form.setFieldsValue({
      englishName: this.data.season.englishName
    });
    this.form.setFieldsValue({
      seasonNumber: this.data.season.seasonNumber
    });
    this.form.setFieldsValue({
      numberOfEpisodes: this.data.season.numberOfEpisodes
    });
    this.form.setFieldsValue({
      slug: this.data.season.slug
    });
    this.form.setFieldsValue({
      actor: this.data.season.actor
    });
    this.form.setFieldsValue({
      director: this.data.season.director
    });
    this.form.setFieldsValue({
      description: this.data.season.description
    });
    this.form.setFieldsValue({
      releaseYear: this.data.season.releaseYear
    });
  }
};
</script>

<style scoped>
</style>
