<template>
    <div class="row">
        <div class="col-lg-12">
            <a-form
                    :form="form"
                    @submit.prevent="handleSubmit"
            >
                <div class="row">
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="text-black mb-3">
                                    <strong>Page Information</strong>
                                </h4>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <a-form-item label="Name" :colon=false>
                                            <a-input placeholder="Name"
                                                     v-decorator="['name',{ rules: [{ required: true, message: 'Please input your Name' }] }]"
                                            />
                                            <a-input type="hidden" v-decorator="['_id']"/>
                                        </a-form-item>
                                    </div>
                                    <!-- titleEnglish -->
                                    <div class="col-lg-6">
                                        <a-form-item label="Page Title-English" :colon=false>
                                            <a-input placeholder="title English"
                                                     v-decorator="['titleEnglish',{ rules: [{ required: true, message: 'Please input your title English' }] }]"
                                            />
                                        </a-form-item>
                                    </div>

                                    <!-- Platform -->
                                    <div class="col-lg-6">
                                        <a-form-item label="Platform" :colon="false">
                                            <a-input placeholder="Platform"
                                                     v-decorator="['platform',{initialValue: 'tv'}]"
                                                     disabled
                                            />
                                        </a-form-item>
                                    </div>

                                    <!-- titleVietnamese -->
                                    <div class="col-lg-6">
                                        <a-form-item label="Page Title-Vietnamese" :colon=false>
                                            <a-input placeholder="title Vietnamese"
                                                     v-decorator="['titleVietnamese',{ rules: [{ required: true, message: 'Please input your title Vietnamese' }] }]"
                                            />
                                        </a-form-item>
                                    </div>

                                    <!-- slug -->
                                    <div class="col-lg-6">
                                        <a-form-item label="Slug" :colon=false>
                                            <a-input placeholder="Slug"
                                                     v-decorator="['slug',{ rules: [{ required: true, message: 'Please input your Slug' }] }]"
                                            />
                                        </a-form-item>
                                    </div>
                                    <!-- Status -->
                                    <div class="col-lg-6">
                                        <a-form-item label=" " :colon=false>
                                            <a-checkbox @change="onCheck" v-decorator="['status',{valuePropName: 'checked'}]">Active</a-checkbox>
                                        </a-form-item>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <!--Spotlight-->
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <a-form-item label="Ribbon Spotlight" :colon=false>
                                                    <a-auto-complete
                                                            @select="select"
                                                            @search="search(keyword,'Spotlight')"
                                                            :value="keyword"
                                                            :open="openSpotligh"
                                                            :allowClear="true"
                                                            :class="$style.searchInput"
                                                            ref="searchInput"
                                                            optionLabelProp="text"
                                                            @blur="onBlur"
                                                    >
                                                        <template slot="dataSource">
                                                            <a-select-option v-for="item in listSearch" :key="item._id+'-'+item.ribbonType" :text="item.name">
                                                                <div class="ant-list-item">
                                                                    <div class="ant-list-item-meta">
                                                                        <div class="ant-list-item-meta-content">
                                                                            <h4 class="ant-list-item-meta-title" style="font-size: 12px">
                                                                                Name : {{ item.name }}
                                                                            </h4>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </a-select-option>
                                                        </template>
                                                        <a-input-search
                                                                :class="$style.searchInput"
                                                                placeholder="Searching..."
                                                                v-model="keyword"
                                                                v-on:keyup.esc="openSpotligh = false"
                                                        />
                                                    </a-auto-complete>
                                                </a-form-item>
                                            </div>
                                            <div class="col-lg-12 mt-2">
                                                <a-list itemLayout="horizontal" :dataSource="ribbonLocal.spotlight" :rowKey="record => record._id">
                                                    <a-list-item slot="renderItem" slot-scope="record">
                                                        <a-list-item-meta :description="record.name+'-'+record.alternateName">
                                                            <span slot="title">{{record.name}}</span>
                                                        </a-list-item-meta>
                                                        <a slot="actions" @click="onClose(record._id, record.ribbonType)">x</a>
                                                    </a-list-item>
                                                </a-list>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--landScape Top-->
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <a-form-item label="Ribbon Landscape top" :colon=false>
                                                    <a-auto-complete
                                                            @select="select"
                                                            @search="search(keywordLanscape,'Landscape','top')"
                                                            :value="keywordLanscape"
                                                            :open="openLanscape"
                                                            :allowClear="true"
                                                            :class="$style.searchInput"
                                                            ref="searchInput"
                                                            optionLabelProp="text"
                                                            @blur="onBlur"
                                                    >
                                                        <template slot="dataSource">
                                                            <a-select-option v-for="item in listSearchLanscape" :key="item._id+'-'+'LandscapeTop'" :text="item.name">
                                                                <div class="ant-list-item">
                                                                    <div class="ant-list-item-meta">
                                                                        <div class="ant-list-item-meta-content">
                                                                            <h4 class="ant-list-item-meta-title" style="font-size: 12px">
                                                                                Name : {{ item.name }}
                                                                            </h4>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </a-select-option>
                                                        </template>
                                                        <a-input-search
                                                                :class="$style.searchInput"
                                                                placeholder="Searching..."
                                                                v-model="keywordLanscape"
                                                                v-on:keyup.esc="openLanscape = false"
                                                        />
                                                    </a-auto-complete>
                                                </a-form-item>
                                            </div>
                                            <div class="col-lg-12 mt-2">
                                                <a-list itemLayout="horizontal" :dataSource="ribbonLocal.landscapeTop" :rowKey="record => record._id">
                                                    <a-list-item slot="renderItem" slot-scope="record">
                                                        <a-list-item-meta :description="record.name+'-'+record.alternateName">
                                                            <span slot="title">{{record.name}}</span>
                                                        </a-list-item-meta>
                                                        <a slot="actions" @click="onClose(record._id, 'Landscape')">x</a>
                                                    </a-list-item>
                                                </a-list>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Original-->
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <a-form-item label="Ribbon Original" :colon=false>
                                                    <a-auto-complete
                                                            @select="select"
                                                            @search="search(keywordOriginal,'Original')"
                                                            :value="keywordOriginal"
                                                            :open="openOriginal"
                                                            :allowClear="true"
                                                            :class="$style.searchInput"
                                                            ref="searchInput"
                                                            optionLabelProp="text"
                                                            @blur="onBlur"
                                                    >
                                                        <template slot="dataSource">
                                                            <a-select-option v-for="item in listOriginal" :key="item._id+'-'+item.ribbonType" :text="item.name">
                                                                <div class="ant-list-item">
                                                                    <div class="ant-list-item-meta">
                                                                        <div class="ant-list-item-meta-content">
                                                                            <h4 class="ant-list-item-meta-title" style="font-size: 12px">
                                                                                Name : {{ item.name }}
                                                                            </h4>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </a-select-option>
                                                        </template>
                                                        <a-input-search
                                                                :class="$style.searchInput"
                                                                placeholder="Searching..."
                                                                v-model="keywordOriginal"
                                                                v-on:keyup.esc="openOriginal = false"
                                                        />
                                                    </a-auto-complete>
                                                </a-form-item>
                                            </div>
                                            <div class="col-lg-12 mt-2">
                                                <a-list itemLayout="horizontal" :dataSource="ribbonLocal.original" :rowKey="record => record._id">
                                                    <a-list-item slot="renderItem" slot-scope="record">
                                                        <a-list-item-meta :description="record.name+'-'+record.alternateName">
                                                            <span slot="title">{{record.name}}</span>
                                                        </a-list-item-meta>
                                                        <a slot="actions" @click="onClose(record._id, record.ribbonType)">x</a>
                                                    </a-list-item>
                                                </a-list>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--landScape Bottom-->
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <a-form-item label="Ribbon Landscape Bottom" :colon=false>
                                                    <a-auto-complete
                                                            @select="select"
                                                            @search="search(keywordLanscapeBottom,'Landscape','bottom')"
                                                            :value="keywordLanscapeBottom"
                                                            :open="openLanscapeBottom"
                                                            :allowClear="true"
                                                            :class="$style.searchInput"
                                                            ref="searchInput"
                                                            optionLabelProp="text"
                                                            @blur="onBlur"
                                                    >
                                                        <template slot="dataSource">
                                                            <a-select-option v-for="item in listSearchLanscapeBottom" :key="item._id+'-'+'LandscapeBottom'" :text="item.name">
                                                                <div class="ant-list-item">
                                                                    <div class="ant-list-item-meta">
                                                                        <div class="ant-list-item-meta-content">
                                                                            <h4 class="ant-list-item-meta-title" style="font-size: 12px">
                                                                                Name : {{ item.name }}
                                                                            </h4>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </a-select-option>
                                                        </template>
                                                        <a-input-search
                                                                :class="$style.searchInput"
                                                                placeholder="Searching..."
                                                                v-model="keywordLanscapeBottom"
                                                                v-on:keyup.esc="openLanscapeBottom = false"
                                                        />
                                                    </a-auto-complete>
                                                </a-form-item>
                                            </div>
                                            <div class="col-lg-12 mt-2">
                                                <a-list itemLayout="horizontal" :dataSource="ribbonLocal.landscapeBottom" :rowKey="record => record._id">
                                                    <a-list-item slot="renderItem" slot-scope="record">
                                                        <a-list-item-meta :description="record.name+'-'+record.alternateName">
                                                            <span slot="title">{{record.name}}</span>
                                                        </a-list-item-meta>
                                                        <a slot="actions" @click="onClose(record._id, 'LandscapeBottom')">x</a>
                                                    </a-list-item>
                                                </a-list>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 text-right">
                        <div class="form-actions">
                            <a-button type="default">CANCEL</a-button>
                            <a-button type="primary" class="mr-2" html-type="submit">SAVE</a-button>
                        </div>
                    </div>
                </div>
            </a-form>
        </div>
    </div>
</template>

<script>
    import {mapGetters, mapMutations, mapActions} from "vuex"
    import ConfigData from '../page.json';
    import { Table, AutoComplete, Button, Select, Input, Form, Checkbox, List } from 'ant-design-vue';
    window.Vue.use(Table);
    window.Vue.use(AutoComplete);
    window.Vue.use(Button);
    window.Vue.use(Select);
    window.Vue.use(Input);
    window.Vue.use(Form);
    window.Vue.use(Checkbox);
    window.Vue.use(List);
    export default {
        props: {
            page: Object,
            ribbon: Array
        },
        beforeCreate() {
            this.form = this.$form.createForm(this);
        },
        data() {
            return {
                keyword: undefined,
                keywordLanscape: undefined,
                keywordOriginal: undefined,
                keywordLanscapeBottom: undefined,
                openSpotligh: false,
                openLanscape: false,
                openOriginal: false,
                openLanscapeBottom: false,
                listSearch: [],
                listSearchLanscape: [],
                listOriginal: [],
                listSearchLanscapeBottom: [],
                dataListSpotligh: [],
                dataListLanscape: [],
                dataListOriginal: [],
                dataListLanscapeBottom: [],
                ribbonList: {
                    spotlight: [],
                    landscapeTop: [],
                    original: [],
                    landscapeBottom: [],
                },
                ribbonLocal: {
                    spotlight: [],
                    landscapeTop: [],
                    original: [],
                    landscapeBottom: [],
                },
                checkbox: false,
                ConfigData
            }

        },
        methods: {
            onBlur() {
                this.openSpotligh = false
                this.openLanscape = false
                this.openOriginal = false
                this.openLanscapeBottom = false
            },
            onCheck (checkedValues) {
                if (checkedValues.target.checked === true) {
                    this.checkbox = true
                } else {
                    this.checkbox = false
                }
            },
            search(keyword,ribbonType,position) {
                clearInterval(this.timer);
                this.timer = setInterval(function () {
                    clearInterval(this.timer);
                    axios
                        .get('/admin/page/searchRibbon', {
                            params: {
                                keyword: keyword,
                                ribbonType: ribbonType,
                                position: position,
                            }
                        })
                        .then(response => {
                            if (response.data.data.ribbonType == 'LandscapeTop') {
                                this.listSearchLanscape = response.data.data.ribbon.data
                                this.openLanscape = true
                            } else if (response.data.data.ribbonType == 'Spotlight') {
                                this.listSearch = response.data.data.ribbon.data
                                this.openSpotligh = true
                            } else if (response.data.data.ribbonType == 'Original') {
                                this.listOriginal = response.data.data.ribbon.data
                                this.openOriginal = true
                            } else if (response.data.data.ribbonType == 'LandscapeBottom') {
                                this.listSearchLanscapeBottom = response.data.data.ribbon.data
                                this.openLanscapeBottom = true
                            }

                        })
                        .catch(error => {
                            console.log(error)
                        });
                }.bind(this), 300)
            },
            select(value) {
                let data = value.split('-');
                clearInterval(this.timer);
                this.timer = setInterval(function () {
                    clearInterval(this.timer);
                    axios
                        .get('/admin/page/findIdRibbon', {
                            params: {
                                id: data[0],
                                ribbonType: data[1],
                            }
                        })
                        .then(response => {
                            if (response.data.data.ribbonType == 'Spotlight') {
                                this.dataListSpotligh = response.data.data.data.ribbon
                                let ribbonList = {
                                    '_id': response.data.data.data.ribbon._id
                                }
                                let checkDuplicate = _.find(this.ribbonList.spotlight, {'_id': response.data.data.data.ribbon._id})
                                if (checkDuplicate === undefined) {
                                    this.ribbonList.spotlight.push(ribbonList)
                                    this.ribbonLocal.spotlight.push(this.dataListSpotligh)
                                } else {
                                    this.$message.warn("Spotlight " + response.data.data.data.ribbon.name + " has been added!")
                                }
                                this.openSpotligh = false
                                this.keyword = undefined
                            } else if (response.data.data.ribbonType == 'LandscapeTop') {
                                this.dataListLanscape = response.data.data.data.ribbon
                                let ribbonList = {
                                    '_id': response.data.data.data.ribbon._id
                                }
                                let checkDuplicate = _.find(this.ribbonList.landscapeTop, {'_id': response.data.data.data.ribbon._id})
                                if (checkDuplicate === undefined) {
                                    this.ribbonList.landscapeTop.push(ribbonList)
                                    this.ribbonLocal.landscapeTop.push(this.dataListLanscape)
                                } else {
                                    this.$message.warn("LandscapeTop " + response.data.data.data.ribbon.name + " has been added!")
                                }
                                this.openLanscape = false
                                this.keywordLanscape = undefined
                            } else if (response.data.data.ribbonType == 'LandscapeBottom') {
                                this.dataListLanscapeBottom = response.data.data.data.ribbon
                                let ribbonList = {
                                    '_id': response.data.data.data.ribbon._id
                                }
                                let checkDuplicate = _.find(this.ribbonList.landscapeBottom, {'_id': response.data.data.data.ribbon._id})
                                if (checkDuplicate === undefined) {
                                    this.ribbonList.landscapeBottom.push(ribbonList)
                                    this.ribbonLocal.landscapeBottom.push(this.dataListLanscapeBottom)
                                } else {
                                    this.$message.warn("LandscapeBottom " + response.data.data.data.ribbon.name + " has been added!")
                                }
                                this.openLanscapeBottom = false
                                this.keywordLanscapeBottom = undefined
                            } else if (response.data.data.ribbonType == 'Original') {
                                this.dataListOriginal = response.data.data.data.ribbon
                                let ribbonList = {
                                    '_id': response.data.data.data.ribbon._id
                                }
                                let checkDuplicate = _.find(this.ribbonList.original, {'_id': response.data.data.data.ribbon._id})
                                if (checkDuplicate === undefined) {
                                    this.ribbonList.original.push(ribbonList)
                                    this.ribbonLocal.original.push(this.dataListOriginal)
                                } else {
                                    this.$message.warn("Original " + response.data.data.data.ribbon.name + " has been added!")
                                }
                                this.openOriginal = false
                                this.keywordOriginal = undefined
                            }
                        })
                        .catch(error => {
                            console.log(error)
                        });
                }.bind(this), 300)
            },
            onClose(id, ribbonType) {
                if (ribbonType === 'Spotlight') {
                    let index = _.findIndex(this.ribbonLocal.spotlight, {'_id': id})
                    this.ribbonLocal.spotlight.splice(index, 1)
                    _.findIndex(this.ribbonList.spotlight, {'_id': id})
                    this.ribbonList.spotlight.splice(index, 1)
                } if (ribbonType === 'Landscape') {
                    let index = _.findIndex(this.ribbonLocal.landscapeTop, {'_id': id})
                    this.ribbonLocal.landscapeTop.splice(index, 1)
                    _.findIndex(this.ribbonList.landscapeTop, {'_id': id})
                    this.ribbonList.landscapeTop.splice(index, 1)
                } if (ribbonType === 'Original') {
                    let index = _.findIndex(this.ribbonLocal.original, {'_id': id})
                    this.ribbonLocal.original.splice(index, 1)
                    _.findIndex(this.ribbonList.original, {'_id': id})
                    this.ribbonList.original.splice(index, 1)
                } if (ribbonType === 'LandscapeBottom') {
                    let index = _.findIndex(this.ribbonLocal.landscapeBottom, {'_id': id})
                    this.ribbonLocal.landscapeBottom.splice(index, 1)
                    _.findIndex(this.ribbonList.landscapeBottom, {'_id': id})
                    this.ribbonList.landscapeBottom.splice(index, 1)
                }
            },
            handleSubmit() {
                if (this.ribbonList.landscapeTop.length > 2) {
                    if (this.ribbonList.landscapeBottom.length > 2) {
                        this.form.validateFields((err, values) => {
                            if (!err) {
                                axios({
                                    method: 'post',
                                    url: '/admin/page/updatePage',
                                    data: {
                                        page: this.ribbonList,
                                        value: values,
                                    }
                                }).then((response) => {
                                    if (response.status === 200) {
                                        this.$message.loading('Action in progress..', 2.5)
                                            .then(() => this.$message.success('Add New Successfully', 2.5))
                                        // window.location.href = '/admin/page';
                                    }
                                });
                            }
                        });
                    } else {
                        this.$message.warn("Not Save Ribbon landscapeBottom less than three!")
                    }
                } else {
                    this.$message.warn("Not Save Ribbon landscapeTop less than three!")
                }
            },
        },
        created() {
            _.each(this.ribbon, (value) =>  {
                _.each(value.spotlight, (item) =>  {
                    let ribbonList = {
                        '_id': item._id
                    };
                    this.ribbonLocal.spotlight.push(item)
                    this.ribbonList.spotlight.push(ribbonList)
                })
                _.each(value.landscapeTop, (item) =>  {
                    let ribbonList = {
                        '_id': item._id
                    };
                    this.ribbonLocal.landscapeTop.push(item)
                    this.ribbonList.landscapeTop.push(ribbonList)
                })
                _.each(value.original, (item) =>  {
                    let ribbonList = {
                        '_id': item._id
                    };
                    this.ribbonLocal.original.push(item)
                    this.ribbonList.original.push(ribbonList)
                })
                _.each(value.landscapeBottom, (item) =>  {
                    let ribbonList = {
                        '_id': item._id
                    };
                    this.ribbonLocal.landscapeBottom.push(item)
                    this.ribbonList.landscapeBottom.push(ribbonList)
                })
            })
        },
        mounted() {
            this.form.setFieldsValue({_id: this.page._id});
            this.form.setFieldsValue({name: this.page.name});
            this.form.setFieldsValue({titleEnglish: this.page.titleEnglish});
            this.form.setFieldsValue({platform: this.page.platform});
            this.form.setFieldsValue({titleVietnamese: this.page.titleVietnamese});
            this.form.setFieldsValue({slug: this.page.slug});
            if (this.page.status === 'active') {
                this.form.setFieldsValue({status: true});
            } else {
                this.form.setFieldsValue({status: false});
            }
        },
    }
</script>

<style lang="scss" module>
    @import "./style.module.scss";
</style>
