<template>
  <div class="row">
    <div class="col-lg-12">
      <div class="row">
        <div class="col-lg-8">
          <div class="row">
            <div class="col-lg-12">
              <!-- Metadata -->
              <div class="card">
                <div class="card-body">
                  <h4 class="text-black mb-3">
                    <strong>Metadata</strong>
                  </h4>
                  <div class="row">
                    <div class="col-lg-6">
                      <a-form-item label="Vietnamese Title" :colon="false">
                        <a-input
                                placeholder="Movie title"
                                v-decorator="['alternateName',{ rules: [{ required: true, message: 'Please input your Title', whitespace: true }] }]"
                        />
                      </a-form-item>
                    </div>
                    <!-- Original Title -->
                    <div class="col-lg-6">
                      <a-form-item label="Original Title" :colon="false">
                        <a-input
                                placeholder="Movie original title"
                                v-decorator="['name']"
                        />
                      </a-form-item>
                    </div>
                  </div>

                  <div class="row">
                    <!--englishName-->
                    <div class="col-lg-6">
                      <a-form-item label="English Title" :colon="false">
                        <a-input
                                placeholder="Movie English title"
                                v-decorator="['englishName',{ rules: [{ required: true, message: 'Please input your English Title', whitespace: true }] }]"
                        />
                      </a-form-item>
                    </div>
                    <!--country-->
                    <div class="col-lg-3">
                      <a-form-item label="Country" :colon="false">
                        <a-select
                                showSearch
                                placeholder="Select a country"
                                mode="default"
                                style="width: 100%;"
                                v-decorator="['countryOfOrigin[0].code']"
                                ref="country"
                                :filterOption="countryFilter"
                                @change="onSelectCountry"
                                @inputKeydown="onEnterCountry"
                        >
                          <a-select-option
                                  v-for="country in allCountries"
                                  :key="country.code"
                                  :value="country.code"
                          >
                            {{ country.viName }}
                          </a-select-option>
                        </a-select>
                      </a-form-item>
                    </div>
                    <!--datePublished-->
                    <div class="col-lg-3">
                      <a-form-item label="Release Year" :colon="false">
                        <a-input placeholder="Release Year" v-decorator="['datePublished',
                            {
                                rules: [{ pattern: /^[0-9]*$/,message: 'The value must be a number'}]
                            }
                        ]"/>
                      </a-form-item>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-lg-6">
                      <a-form-item label="Title type" :colon="false">
                        <a-select
                                placeholder="Select a title type"
                                style="width: 100%;"
                                v-decorator="['type']"
                        >
                          <a-select-option
                                  v-for="type in types"
                                  :key="type.name"
                                  :value="type.name"
                          >{{type.name}}
                          </a-select-option>
                        </a-select>
                      </a-form-item>
                    </div>
                    <!-- <div class="col-lg-6" > -->
                    <!-- <div > -->
                    <div class="col-lg-6" v-show="movieData.type == 'tvseries'">
                      <a-form-item label="Total Season" :colon="false">
                        <a-input placeholder="Total Season"
                                 v-decorator="['numberOfSeasons']"
                        />
                      </a-form-item>
                    </div>
                    <!-- <div class="col-lg-6">
                      <a-form-item label="Total Episode" :colon=false>
                        <a-input placeholder="Total Episode" v-decorator="['containsSeason.0.numberOfEpisodes']"
                                 />
                      </a-form-item>
                    </div>-->
                    <!-- </div> -->
                    <!-- </div> -->
                  </div>

                  <div class="row">
                    <!-- Publisher -->
                    <div class="col-lg-6">
                      <a-form-item label="Publisher" :colon="false">
                        <a-select
                                showSearch
                                placeholder="Select publishser"
                                style="width: 100%;"
                                v-decorator="['publisher']"
                        >
                          <a-select-option
                                  v-for="item in allPublishers"
                                  :key="item.name"
                                  :value="item.name"
                          >{{item.name}}
                          </a-select-option>
                        </a-select>
                      </a-form-item>
                    </div>
                    <!-- Studio -->
                    <div class="col-lg-6">
                      <a-form-item label="Studio" :colon="false">
                        <a-select
                                mode="tags"
                                placeholder="Studio"
                                notFoundContent=""
                                :allowClear="true"
                                style="width: 100%"
                                v-decorator="['productionCompany']"
                        >
                        </a-select>
                      </a-form-item>
                    </div>
                  </div>

                  <!-- Duration -->
                  <div class="row">
                    <div class="col-lg-6" v-if="movieData.type !== 'tvseries'">
                      <a-form-item label="Duration" :colon="false">
                        <a-input placeholder="Select Duration" v-decorator="['duration',
                            {
                                rules: [{ pattern: /^[0-9]*$/,message: 'The value must be a number'}]
                            }
                        ]"/>
                      </a-form-item>
                    </div>
                    <!-- Age Rating -->
                    <div class="col-lg-6">
                      <a-form-item label="Age Rating" :colon="false">
                        <a-select
                                showSearch
                                placeholder="Select a age rating"
                                style="width: 100%;"
                                v-decorator="['contentRating',
                                  {
                                    initialValue:['P - Thích hợp mọi độ tuổi']    
                                  }
                                ]"
                        >
                          <a-select-option
                                  v-for="age in ages"
                                  :key="age.name"
                                  :value="age.name"
                          >{{age.name}}
                          </a-select-option>
                        </a-select>
                      </a-form-item>
                    </div>
                  </div>

                  <!-- Rating -->
                  <div class="row">
                    <div class="col-lg-6">
                      <a-form-item label="Rating IMDB" :colon="false">
                        <a-input placeholder="Rating IMDB"
                                 v-decorator="['aggregateRating.imdb',
                                    {
                                        rules: [{ validator: checkIsNumber }]
                                    }
                                 ]"/>
                      </a-form-item>
                    </div>
                    <div class="col-lg-6">
                      <a-form-item label="Fimplus Rating" :colon="false">
                        <a-input
                                placeholder="Select a rating"
                                v-decorator="['aggregateRating.fimplus.ratingValue',
                                            {
                                               rules: [{ pattern: /^[0-9]*$/,message: 'The value must be a number'}]
                                            }
                                        ]"
                        />
                      </a-form-item>
                    </div>
                  </div>
                  <!--Slug-->
                  <div class="row">
                    <div class="col-lg-6">
                      <a-form-item label="Slug" :colon="false">
                        <a-input
                                placeholder="Slug"
                                v-decorator="['slug',{ rules: [{ required: true, message: 'Please input your Slug', whitespace: true }] }]"
                        />
                      </a-form-item>
                    </div>
                    <a-form-item :colon="false">
                      <a-input type="hidden" v-decorator="['legacy_id']"/>
                    </a-form-item>
                  </div>
                  <!--Genre-->
                  <div class="row">
                    <div class="col-lg-6">
                      <a-form-item label="Genre" :colon="false">
                        <a-select
                                mode="multiple"
                                :placeholder="movieData.genre"
                                v-decorator="['genre', { rules: [{ validator: checkGenreLength }] }]"
                                style="width: 100%"
                                @change="onSelectGenre"
                        >
                          <a-select-option
                                  v-for="genre in genres.main"
                                  :value="genre.name"
                                  :key="genre.name"
                          >{{ genre.name }}
                          </a-select-option>
                        </a-select>
                      </a-form-item>
                    </div>
                    <div class="col-lg-6">
                      <a-form-item label="SubGenre" :colon="false">
                        <a-select
                                mode="multiple"
                                :placeholder="movieData.subGenre"
                                v-decorator="['subGenre']"
                                style="width: 100%"
                                @change="onSelectSubGenre"
                        >
                          <a-select-option
                                  v-for="genre in genres.sub"
                                  :value="genre.name"
                                  :key="genre.name"
                          >{{ genre.name }}
                          </a-select-option>
                        </a-select>
                      </a-form-item>
                    </div>
                  </div>
                  <!--description-->
                  <div class="row">
                    <div class="col-lg-12">
                      <a-form-item label="Long Description" :colon="false">
                        <a-textarea
                                placeholder="Long Description"
                                :rows="4"
                                v-decorator="['description']"
                        />
                      </a-form-item>
                      <a-form-item label="Short Description" :colon="false">
                        <a-textarea
                                placeholder="Short Description"
                                :rows="4"
                                v-decorator="['disambiguatingDescription',
                                  { rules: [{ max: 120, message: 'Short Description cannot be longer than 120 characters' }]}
                                ]"
                                :maxLength="120"
                        />
                      </a-form-item>
                      <!-- Spotlight -->
                      <a-form-item label="Spotlight" :colon="false">
                        <a-radio-group name="radioGroup" :defaultValue="1">
                          <div class="icons-list">
                            <a-radio :value="1">
                              <a-tooltip placement="topLeft" >
                                <template slot="title">
                                  <span>Trivia</span>
                                </template>
                                <img width="25px"
                                   :src="'/img/backend/spotline/chair@3x.png'">
                              </a-tooltip>
                            </a-radio>
                            <a-radio :value="2">
                              <a-tooltip placement="topLeft" >
                                <template slot="title">
                                  <span>Box Office</span>
                                </template>
                                <img width="25px"
                                   :src="'/img/backend/spotline/ticket_box@3x.png'">
                              </a-tooltip>
                            </a-radio>
                            <a-radio :value="3">
                              <a-tooltip placement="topLeft" >
                                <template slot="title">
                                  <span>Cannes</span>
                                </template>
                                <img width="25px"
                                   :src="'/img/backend/spotline/golden_palm@3x.png'">
                              </a-tooltip>
                            </a-radio>
                            <a-radio :value="4">
                              <a-tooltip placement="topLeft" >
                                <template slot="title">
                                  <span>Oscar</span>
                                </template>
                                <img width="25px"
                                   :src="'/img/backend/spotline/oscar@3x.png'">
                              </a-tooltip>
                            </a-radio>
                          </div>
                        </a-radio-group>
                        <a-form-item label="Spotline description" :colon="false">
                          <a-textarea
                                  placeholder="Spotline"
                                  :rows="4"
                                  v-decorator="['spotline',
                                          { rules: [{ max: 70, message: 'Spotline cannot be longer than 70 characters' }]},
                                      ]"
                                  :maxLength="70"
                          />
                          </a-form-item>
                      </a-form-item>
                    </div>
                  </div>

                  <!--Keyword-->
                  <div class="row">
                    <div class="col-lg-12">
                      <span>Keyword</span>
                        <div class="card">
                          <div class="card-body">
                            <div class="col-lg-12">
                                <a-form-item label="SearchKeyword" :colon="false">
                                <a-select
                                        mode="tags"
                                        placeholder="searchKeyword..."
                                        notFoundContent=""
                                        :allowClear="true"
                                        v-decorator="['keyword.searchKeyword',
                                        { rules: [{ validator: checkKeyword },]
                                        }]"
                                >
                                </a-select>
                                </a-form-item>
                            </div>
                              <div class="col-lg-12">
                                <a-form-item label="RecKeyWord" :colon="false">
                                <a-select
                                        mode="tags"
                                        placeholder="recKeyword..."
                                        notFoundContent=""
                                        :allowClear="true"
                                        v-decorator="['keyword.recKeyword',
                                        { rules: [{ validator: checkKeyword },]
                                    }]"
                                >
                                </a-select>
                                </a-form-item>
                              </div>
                              <div class="col-lg-12">
                                <a-form-item label="Franchise" :colon="false">
                                  <a-select
                                          mode="tags"
                                          placeholder="franchise..."
                                          notFoundContent=""
                                          :allowClear="true"
                                          v-decorator="['keyword.franchise',
                                          { rules: [{ validator: checkKeyword },]
                                          }]"
                                  >
                                  </a-select>
                                </a-form-item>
                              </div>
                              <div class="col-lg-12">
                                <a-form-item label="RemakeOf" :colon="false">
                                  <a-select
                                          mode="tags"
                                          placeholder="remakeOf..."
                                          notFoundContent=""
                                          :allowClear="true"
                                          v-decorator="['keyword.remakeOf',
                                        { rules: [{ validator: checkKeyword },]
                                        }]"
                                  >
                                  </a-select>
                                </a-form-item>
                              </div>
                            </div>
                        </div>
                    </div>
                  </div>

                  <!--Google Sheet-->
                  <div class="row">
                    <div class="col-lg-12">
                      <a-form-item
                              label="Sync From"
                              :label-col="{ span: 3 }"
                              :wrapper-col="{ span: 25 }"
                      >
                        <a href="#">Google Sheet Link</a>
                      </a-form-item>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Director-->
          <div class="row">
            <div class="col-lg-12">
              <div class="card">
                <div class="card-body">
                  <h4 class="text-black mb-3">
                    <strong>Director</strong>
                  </h4>
                  <a-auto-complete
                          @select="selectDirector"
                          @search="searchDirector"
                          :allowClear="true"
                          :value="keywordDirector"
                          :open="openDirector"
                          :defaultActiveFirstOption="false"
                          class="searchInput"
                          optionLabelProp="text"
                          @blur="onblur"
                  >
                    <template slot="dataSource">
                      <a-select-option v-for="item in listSearchDirector" :key="item._id" :text="item.name">
                        <div class="ant-list-item">
                          <div class="ant-list-item-meta">
                            <div class="ant-list-item-meta-avatar">
                              <img width="50px"
                                   :src="item.image ? item.image: '/img/backend/404error.jpeg'">
                            </div>
                            <div class="ant-list-item-meta-content">
                              <h4 class="ant-list-item-meta-title" style="font-size: 12px">
                                Name : {{ item.name }}
                              </h4>
                            </div>
                          </div>
                        </div>
                      </a-select-option>
                    </template>
                    <a-input-search
                            class="searchInput"
                            placeholder="Searching..."
                            v-model="keywordDirector"
                            v-on:keyup.esc="openDirector = false"
                            v-on:keyup.enter="searchDirector"
                    />
                  </a-auto-complete>
                  <hr/>
                  <a-skeleton active :loading="loadingSkeDirector">
                    <div id="components-table-demo-size">
                      <a-table
                              :columns="directorColumns"
                              :dataSource="directorData ? directorData : '' "
                              :rowKey="record => record.detail._id"
                              :pagination="paginationDirector"
                              @change="onPageChangeDirector"
                              :loading="loading"
                      >
                        <template slot="#" slot-scope="value, record, index">{{ index + 1 }}
                        </template>
                        <template slot="img" slot-scope="value">
                          <img width="50px" :src="value ? value : '/img/backend/404error.jpeg'"/>
                        </template>
                        <template slot="action" slot-scope="value, record">
                          <a-button
                                  @click="removeDirector(record.detail._id)"
                                  icon="cross"
                                  size="small"
                          >Remove
                          </a-button>
                        </template>
                      </a-table>
                    </div>
                  </a-skeleton>
                </div>
              </div>
            </div>
          </div>

          <!-- Actor-->
          <div class="row">
            <div class="col-lg-12">
              <div class="card">
                <div class="card-body">
                  <h4 class="text-black mb-3">
                    <strong>Actor</strong>
                  </h4>
                  <a-auto-complete
                    @select="selectActor"
                    @search="searchActor"
                    :allowClear="true"
                    :value="keyword"
                    :open="open"
                    :defaultActiveFirstOption="false"
                    class="searchInput"
                    optionLabelProp="text"
                    @blur="onblurActor"
                  >
                    <template slot="dataSource">
                      <a-select-option v-for="item in listSearch" :key="item._id" :text="item.name">
                        <div class="ant-list-item">
                          <div class="ant-list-item-meta">
                            <div class="ant-list-item-meta-avatar">
                              <img width="50px"
                                   :src="item.image ? item.image: '/img/backend/404error.jpeg'">
                            </div>
                            <div class="ant-list-item-meta-content">
                              <h4 class="ant-list-item-meta-title" style="font-size: 12px">
                                Name : {{ item.name }}
                              </h4>
                            </div>
                          </div>
                        </div>
                      </a-select-option>
                    </template>
                    <a-input-search
                      class="searchInput"
                      placeholder="Searching..."
                      v-model="keyword"
                      v-on:keyup.esc="open = false"
                      v-on:keyup.enter="searchActor"
                    />
                  </a-auto-complete>
                  <hr/>
                  <a-skeleton active :loading="loadingSke">
                    <div id="components-table-demo-size">
                      <a-table
                              :columns="actorColumns"
                              :dataSource="actorData"
                              :rowKey="record => record.detail._id"
                              :pagination="pagination"
                              @change="onPageChangeActor"
                              :loading="loading"
                      >
                        <template slot="#" slot-scope="value, record, index">{{ index + 1 }}
                        </template>
                        <template slot="img" slot-scope="value">
                          <img width="50px" :src="value ? value : '/img/backend/404error.jpeg'"/>
                        </template>
                        <template slot="action" slot-scope="value, record">
                          <a-button
                                  @click="removeActor(record.detail._id)"
                                  icon="cross"
                                  size="small"
                          >Remove
                          </a-button>
                        </template>
                      </a-table>
                    </div>
                  </a-skeleton>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4">
          <!--Source-->
          <div class="row">
            <div class="col-lg-12">
              <div class="card">
                <div class="card-body">
                  <h4 class="text-black mb-3">
                    <strong>Source</strong>
                  </h4>
                  <dl class="row">
                    <dt class="col-xl-6">Options</dt>
                    <dd class="col-xl-6">4K, FullHD</dd>
                    <dt class="col-xl-6">Status</dt>
                    <dd class="col-xl-6">In QC</dd>
                    <dt class="col-xl-6">Last Sync</dt>
                    <dd class="col-xl-6">3 days ago</dd>
                  </dl>
                  <h4 class="text-black mb-3">
                    <strong>Video</strong>
                  </h4>
                  <dl class="row">
                    <dt class="col-xl-6">Resolution</dt>
                    <dd class="col-xl-6">4K</dd>
                    <dt class="col-xl-6">HDR</dt>
                    <dd class="col-xl-6">HDR 10+</dd>
                  </dl>
                  <h4 class="text-black mb-3">
                    <strong>Audio</strong>
                  </h4>
                  <dl class="row">
                    <dt class="col-xl-12">Tiếng Việt</dt>
                    <dt class="col-xl-12">Tiếng Việt (thuyết minh)</dt>
                    <dt class="col-xl-12">English</dt>
                    <dt class="col-xl-12">English (5.1)</dt>
                  </dl>
                  <h4 class="text-black mb-3">
                    <strong>Subtitles</strong>
                  </h4>
                  <dl class="row">
                    <dt class="col-xl-12">Tiếng Việt</dt>
                    <dt class="col-xl-12">English (5.1)</dt>
                  </dl>
                </div>
              </div>
            </div>
          </div>

          <!-- Source review -->
          <div class="row">
            <div class="col-lg-12">
              <div class="card">
                <div class="card-body">
                  <h4 class="text-black mb-3">
                    <strong>Source review</strong>
                  </h4>
                  <dl class="row">
                    <dt class="col-xl-6">Source 4K review</dt>
                    <dd class="col-xl-6">12/08/2019</dd>
                    <dt class="col-xl-6">Source HD review</dt>
                    <dd class="col-xl-6">18/08/2019</dd>
                  </dl>
                  <hr/>
                  <div class="text-right">
                     <a-button type="primary">APPLY SOURCE</a-button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!--Setting-->
          <div class="row">
            <div class="col-lg-12">
              <div class="card">
                <div class="card-body">
                  <h4 class="text-black mb-3">
                    <strong>Settings</strong>
                  </h4>
                  <div class="row">
                    <div class="col-lg-12">
                    <a-form :form="settingForm" :selfUpdate="true">
                      <a-form-item label="Delivery" :colon="false">
                        <a-select
                          showSearch
                          placeholder="Select a delivery"
                          @change="onDeliveryChange"
                          v-decorator="['delivery', { rules: [{ required: true, message: 'Please select a Delivery', whitespace: true }] }]"
                        >
                          <a-select-option
                            v-for="delivery in deliveryData"
                            :key="delivery"
                          >
                            {{ delivery }}
                          </a-select-option>
                        </a-select>
                      </a-form-item>

                      <a-form-item label="Price" :colon="false">
                        <a-select
                          showSearch
                          placeholder="Select a price"
                          @change="onPriceChange"
                          v-decorator="['priceType', { rules: [{ required: true, message: 'Please select a Price', whitespace: true }] }]"
                        >
                          <a-select-option
                            v-for="price in priceData"
                            :key="price"
                          >
                            {{ price }}
                          </a-select-option>
                        </a-select>
                      </a-form-item>
                      <a-form-item label="Value" :colon="false">
                        <a-select
                          showSearch
                          placeholder="Select a value"
                          @change="onValueChange"
                          v-decorator="['price', { rules: [{ required: true, message: 'Please select a Value', whitespace: true }]}]"
                        >
                          <a-select-option
                            v-for="value in valueItems"
                            :key="value"
                          >
                            {{ value }}
                          </a-select-option>
                        </a-select>
                      </a-form-item>
                      <label style="font-size: 12px; font-style: italic">{{ labelNote }}</label>
                      <a-form-item label="Start Date" :colon="false">
                        <a-date-picker
                          style="width: 100%;"
                          format="DD-MM-YYYY"
                          v-decorator="['startOn', { rules: [{ required: true, message: 'Please select a Start On day' }, { validator: checkDuplicateStartOn }] }]"
                        />
                      </a-form-item>
                      <a-form-item style="text-align: right">
                        <a href @click.prevent="handleAddSetting">ADD</a>
                      </a-form-item>
                        <div style="max-height: 237px; overflow: scroll;">
                          <span class="font-weight-bold" v-if="listSettings.length > 0">Schedule</span>
                          <div v-for="(setting, index) in listSettings" class="mb-3">
                            <div class="col-md-12 row">
                              <div class="col-md-6">
                                <span>{{ moment.unix(setting.startOn).format('DD-MM-YYYY') }}</span>
                                <br/>
                                <span>{{ setting.delivery }}</span>
                                <br/>
                                <span>{{ setting.priceType }} - {{ setting.price }}</span>
                              </div>
                              <div class="col-md-6" style="float:left">
                                <a @click="removeDelivery(index)">x</a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </a-form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Time to publish -->
          <div class="row">
            <div class="col-lg-12">
              <div class="card">
                <div class="card-body">
                  <h4 class="text-black mb-3">
                    <strong>Time to publish</strong>
                  </h4>
                  <a-form-item label="Publish on" :colon="false">
                    <a-date-picker
                            allowClear
                            style="width: 100%;"
                            placeholder="Publish on"
                            showTime
                            format="DD-MM-YYYY HH:mm:ss"
                            :disabledDate="disabledPublishOn"
                            v-decorator="['publishScheduleOn']"
                    />
                  </a-form-item>
                  <a-form-item label="Start on" :colon="false">
                    <a-date-picker
                            allowClear
                            style="width: 100%;"
                            placeholder="Start on"
                            showTime
                            format="DD-MM-YYYY HH:mm:ss"
                            :disabledDate="disabledStartOn"
                            v-decorator="['copyrightStartOn']"
                    />
                  </a-form-item>
                  <a-form-item label="Expire on" :colon="false">
                    <a-date-picker
                            allowClear
                            style="width: 100%;"
                            placeholder="Expire on"
                            showTime
                            format="DD-MM-YYYY HH:mm:ss"
                            :disabledDate="disabledExpireOn"
                            v-decorator="['copyrightExpireOn']"
                    />
                  </a-form-item>
                </div>
              </div>
            </div>
          </div>

          <!-- Tabs -->
          <div class="row">
            <div class="col-lg-12">
              <div class="card">
                <div class="card-body">
                  <h4 class="text-black mb-3">
                    <strong>Tags</strong>
                  </h4>
                  <a-form-item :colon="false">
                    <a-select
                            mode="tags"
                            placeholder="Tags"
                            notFoundContent=""
                            :allowClear="true"
                            v-decorator="['tags']"
                    >
                    </a-select>
                  </a-form-item>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  const directorColumns = [
    {
      title: "",
      scopedSlots: {customRender: "#"}
    },
    {
      title: "Image",
      dataIndex: "detail.image",
      scopedSlots: {customRender: "img"}
    },
    {
      title: "Name",
      dataIndex: "detail.name"
    },
    {
      title: "Action",
      dataIndex: "action",
      scopedSlots: {customRender: "action"}
    }
  ]
  const actorColumns = [
    {
      title: "",
      scopedSlots: {customRender: "#"}
    },
    {
      title: "Image",
      dataIndex: "detail.image",
      scopedSlots: {customRender: "img"}
    },
    {
      title: "Name",
      dataIndex: "detail.name"
    },
    {
      title: "Role",
      dataIndex: "role"
    },
    {
      title: "Action",
      dataIndex: "action",
      scopedSlots: {customRender: "action"}
    }
  ]

  const deliveryData = ["Trusted", "Exclude SamSung", "Exclude Sony", "Fox"]
  const priceData = ["AVOD", "SVOD", "TVOD"]
  const valueData = {
    AVOD: ["0"],
    SVOD: ["Premium", "Basic"],
    TVOD: [
      "4k - 70,000 VND",
      "4K - 50,000 VND",
      "4K - 42,000 VND",
      "4K - 29,000 VND"
    ]
  }
  import {mapGetters, mapMutations, mapActions} from "vuex"
  import moment from "moment"

  export default {
    data() {
      return {
        moment: moment,
        actorColumns,
        directorColumns,
        deliveryData,
        priceData,
        valueData,
        valueItems: valueData[priceData[0]],
        priceValue: valueData[priceData[0]][0],
        labelNote: "",
        types: [{name: "tvseries"}, {name: "movie"}],
        ages: [{name: "P - Thích hợp mọi độ tuổi"}, {name: "7+"}, {name: "13+"}, {name: "16+"}, {name: "18+"}],
        keyword: undefined,
        keywordDirector: undefined,
        listSearch: [],
        listSearchDirector: [],
        open: false,
        openDirector: false,
        loadingSke: true,
        loadingSkeDirector: true,
        loading: false,
        paginationDirector: {
          pageSize: 5,
          total: '',
          showTotal:(total, range) => `${range[0]}-${range[1]} of ${total} items`
        },
        pagination: {
          pageSize: 5,
          total: '',
          showTotal:(total, range) => `${range[0]}-${range[1]} of ${total} items`
        },
        genres: {},
        listSettings: [],
      }
    },
    computed: {
      ...mapGetters("config", [
        "allCountries",
        "allGenres",
        "allPublishers",
        "allStudio"
      ]),
      ...mapGetters("movie_content/detail", {
        movieData: "title",
        actorData: "actor",
        directorData: "director",
        form: "form"
      }),
    },
    methods: {
      ...mapMutations("movie_content/detail", {
        pullTitle: "PULL_TITLE",
        pullActor: "PULL_ACTOR",
        pullDirector: "PULL_DIRECTOR"
      }),
      ...mapActions({
        setDataField: 'movie_content/detail/setDataField',
      }),
      onblur(e) {
          this.openDirector = false
      },
      onblurActor(e) {
          this.open = false
      },
      checkIsNumber(rule, value, callback) {
        // console.log(value);
        // console.log(this.isPositive(value));return false;
        if (!isNaN(value) || typeof value === undefined) {
          callback();
          return;
        }
        callback('The value must be a number');
      },
      checkGenreLength(rule, value, callback) {
        if (value.length > 1) {
          callback('You must select only one genre')
        } else {
          callback()
        }
      },
      checkDuplicateStartOn(rule, value, callback) {
        let index = _.findIndex(this.listSettings, { startOn: moment(value, 'DD-MM-YYYY 00:00:00').startOf('day').unix() })
        if (index != '-1') {
          callback('Please select another Start on')
        } else {
          callback()
        }
      },
      checkKeyword(rule, value, callback) {
        let bool = true
        if (rule.field === 'searchKeywords') {
          _.each(value, function (i) {
            if (i.length > 20) {
              bool = false
              return false
            }
          })
          if (!bool) {
            callback('SearchKeywords length must be less than 20')
          } else {
            callback()
          }
        } else if (rule.field === 'franchise') {
          _.each(value, function (i) {
            if (i.length > 20) {
              bool = false
              return false
            }
          })
          if (!bool) {
            callback('Franchise length must be less than 20')
          } else {
            callback()
          }
        } else if (rule.field === 'remakeOf') {
          _.each(value, function (i) {
            if (i.length > 20) {
              bool = false
              return false
            }
          })
          if (!bool) {
            callback('RemakeOf length must be less than 20')
          } else {
            callback()
          }
        } else {
          _.each(value, function (i) {
            if (i.length > 20) {
              bool = false
              return false
            }
          })
          if (!bool) {
            callback('RecKeyWord length must be less than 20')
          } else {
            callback()
          }
        }
      },
      disabledStartOn(startOnValue) {
        const expireOnValue = this.movieData.copyrightExpireOn
        if (!startOnValue || !expireOnValue) {
          return false
        }
        return startOnValue.valueOf() > expireOnValue.valueOf()
      },
      disabledExpireOn(expireOnValue) {
        const startOnValue = this.movieData.copyrightStartOn
        if (!expireOnValue || !startOnValue) {
          return false;
        }
        return startOnValue.valueOf() >= expireOnValue.valueOf()
      },
      disabledPublishOn(publishOnValue) {
        const startOnValue = this.movieData.copyrightStartOn;
        const expireOnValue = this.movieData.copyrightExpireOn
        if (!expireOnValue || !startOnValue) {
          return true;
        } else {
          return publishOnValue.valueOf() < startOnValue.valueOf() || publishOnValue.valueOf() > expireOnValue.valueOf()
        }
      },
      selectActor(value) {
        let actor = _.find(this.listSearch, {'_id': value})
        if (_.find(this.actorData, {'_id': value}) == undefined) {
          if (_.find(this.movieData.actor, {'_id': value}) == undefined) {
            let array = {
              'detail': actor
            }
            let actorNew = {
              '_id': value,
              'order': this.actorData.length + 1,
              'role': null
            }

            this.actorData.unshift(array)
            this.movieData.actor.push(actorNew)
            this.pagination.total = this.movieData.actor.length
          } else {
            this.$message.warn("Actor " + actor.name + " has been added!")
          }
        } else {
          this.$message.warn("Actor " + actor.name + " has been added!")
        }
        this.keyword = undefined
        this.open = false
      },
      selectDirector(value) {

        let director = _.find(this.listSearchDirector, {'_id': value})
        if (_.find(this.directorData, {'_id': value}) == undefined) {
          if (_.includes(this.movieData.director, value)) {
            this.$message.warn("Director " + director.name + " has been added!")
          } else {
            let array = {
              'detail': director
            }
            this.directorData.unshift(array)
            this.movieData.director.push(value)
            this.paginationDirector.total = this.movieData.director.length
          }
        } else {
          this.$message.warn("Director " + director.name + " has been added!")
        }
        this.keywordDirector = undefined
        this.openDirector = false
      },
      searchActor() {
        let self = this
        clearInterval(this.timer)
        this.timer = setInterval(function () {
          clearInterval(this.timer)
            axios
            .get('/admin/movie/searchActor', {
              params: {
                keyword: self.keyword,
              }
            })
            .then(response => {
              self.listSearch = response.data.docs.data.data
              self.loading = false
              self.open = true
            })
            .catch(error => {
              console.log(error)
            })
        }.bind(this), 300)
      },
      onPageChangeActor(page) {
        this.loadingSke = true
        this.pagination = page
        setTimeout(() => {
          this.loadingSke = false
        }, 500)
      },
      searchDirector() {
        clearInterval(this.timer)
        this.timer = setInterval(function () {
          clearInterval(this.timer)
          axios
                  .get('/admin/movie/searchDirector', {
                    params: {
                      keyword: this.keywordDirector,
                    }
                  })
                  .then(response => {
                    this.listSearchDirector = response.data.docs.data.data
                    this.openDirector = true
                    this.loading = false
                  })
                  .catch(error => {
                    console.log(error)
                  })
        }.bind(this), 300)
      },
      onPageChangeDirector(page) {
        this.loadingSkeDirector = true
        this.pagination = page
        setTimeout(() => {
          this.loadingSkeDirector = false
        }, 500)
      },
      getContainSeasion(array, type) {
        var data = []
        for (var list in array) {
          var i = array[list]
          if (type === "season") return i.seasonNumber
          else return i.numberOfEpisodes
        }
      },
      getCountryCode(arrayCountry) {
        for (let i in arrayCountry) {
          let country = arrayCountry[i]
          return country.code
        }
      },
      onSelectCountry(value) {
        let country = _.filter(this.allCountries, { code: value })
        _.merge(this.movieData.countryOfOrigin, country)
      },
      onDeliveryChange() {
        // this.settingForm.resetFields([
        //   'priceType',
        //   'price',
        //   'startOn',
        // ])
      },
      onPriceChange(value) {
        this.valueItems = valueData[value]
        this.priceValue = valueData[value][0]
        this.labelNote = ""
        this.settingForm.resetFields([
          'price',
          'startOn',
        ])
      },
      onValueChange(value) {
        let a = "4k - 70,000 VND"
        let b = "4K - 50,000 VND"
        let c = "4K - 42,000 VND"
        let d = "4K - 29,000 VND"
      if (value == a) {
          this.labelNote = "4K - 70.000 VND, FullHD = 50.000 VND"
        }
        if (value == b) {
          this.labelNote = "4K - 50.000 VND, FullHD = 29.000 VND"
        }
        if (value == c) {
          this.labelNote = "4K - 42.000 VND, FullHD = 42.000 VND"
        }
        if (value == d) {
          this.labelNote = "4K - 29.000 VND, FullHD = 19.000 VND"
        }
      },
      handleAddSetting() {
        let self = this

        this.settingForm.validateFields((err, values) => {
            if (!err) {
              self.listSettings.push({
                delivery: self.settingForm.getFieldValue('delivery'),
                priceType: self.settingForm.getFieldValue('priceType'),
                price: self.settingForm.getFieldValue('price'),
                startOn: moment(self.settingForm.getFieldValue('startOn'), 'DD-MM-YYYY 00:00:00').startOf('day').unix(),
              })
              self.settingForm.resetFields([
                'delivery',
                'priceType',
                'price',
                'startOn',
              ])
              this.labelNote = ""
              self.setDataField({
                key: 'settings',
                value: self.listSettings
              })
            }
        })
      },
      removeDirector(id) {
        let index = _.findIndex(this.movieData.director, id)
        this.movieData.director.splice(index, 1)
        index = _.findIndex(this.directorData, {'_id': id})
        this.directorData.splice(index, 1)
        this.paginationDirector.total = this.movieData.director.length
      },
      removeActor(id) {
        let index = _.findIndex(this.movieData.actor, {'_id': id})
        this.movieData.actor.splice(index, 1)
        index = _.findIndex(this.actorData, {'_id': id})
        this.actorData.splice(index, 1)
        this.pagination.total = this.movieData.actor.length
      },
      onSelectSubGenre(values) {
        this.genres.main = this.allGenres.main
        if (values != undefined) {
          values.forEach(value => {
            this.genres.main = _.reject(this.genres.main, {name: value})
          })
        }
      },
      onSelectGenre(values) {
        this.genres.sub = this.allGenres.sub
        if (values != undefined) {
          values.forEach(value => {
            this.genres.sub = _.reject(this.genres.sub, {name: value})
          })
        }
      },
      countryFilter(input, option) {
        return option.componentOptions.children[0].text.toLowerCase().indexOf(input.toLowerCase()) >= 0
      },
      onEnterCountry(keyPressed) {
        if (keyPressed.key === 'Enter') {
          this.$refs.country.blur()
        }
      },

      removeDelivery(index) {
        this.listSettings.splice(index, 1)
      }
    },
    beforeCreate() {
      this.settingForm = this.$form.createForm(this)
    },
    created() {
      this.pagination.total = this.actorData.length
      this.paginationDirector.total = this.directorData.length
      this.genres = {...this.allGenres}
      this.onSelectGenre(this.movieData.genre)
      this.onSelectSubGenre(this.movieData.subGenre)
      this.listSettings = this.movieData.settings
    },
    mounted() {
      setTimeout(() => {
        this.loadingSke = false
        this.loadingSkeDirector = false
      }, 500)
      this.form.setFieldsValue({legacy_id: this.movieData.legacy_id})
      this.form.setFieldsValue({alternateName: this.movieData.alternateName})

      if (typeof this.movieData.englishName !== 'undefined') {
        this.form.setFieldsValue({englishName: this.movieData.englishName})
      } else {
        this.form.setFieldsValue({englishName: this.movieData.name})
      }

      this.form.setFieldsValue({englishName: this.movieData.englishName})
      this.form.setFieldsValue({name: this.movieData.name})
      this.form.setFieldsValue({publisher: this.movieData.publisher})
      this.form.setFieldsValue({
        'countryOfOrigin[0].code': this.getCountryCode(this.movieData.countryOfOrigin)
      })
      this.form.setFieldsValue({datePublished: this.movieData.datePublished})
      this.form.setFieldsValue({type: this.movieData.type})
      this.form.setFieldsValue({
        numberOfSeasons: this.movieData.numberOfSeasons
      })
      // this.form.setFieldsValue({containsSeason: {0:{numberOfEpisodes: this.getContainSeasion(this.movieData.containsSeason, 'episode')}}});
      this.form.setFieldsValue({
        productionCompany: this.movieData.productionCompany
      })
      this.form.setFieldsValue({duration: this.movieData.duration})
      this.form.setFieldsValue({
        aggregateRating: {
          imdb: this.movieData.aggregateRating.imdb,
          fimplus: {
            ratingValue: this.movieData.aggregateRating.fimplus.ratingValue
          }
        }
      })
      this.form.setFieldsValue({contentRating: this.movieData.contentRating})
      this.form.setFieldsValue({slug: this.movieData.slug})
      this.form.setFieldsValue({genre: this.movieData.genre})
      this.form.setFieldsValue({subGenre: this.movieData.subGenre})
      this.form.setFieldsValue({description: this.movieData.description})
      this.form.setFieldsValue({
        disambiguatingDescription: this.movieData.disambiguatingDescription
      })
      this.form.setFieldsValue({
        spotline: this.movieData.spotline
      })
      this.form.setFieldsValue({
        keyword: {
          searchKeyword: this.movieData.keyword.searchKeyword,
          remakeOf:this.movieData.keyword.remakeOf,
          franchise:this.movieData.keyword.franchise,
          recKeyword:this.movieData.keyword.recKeyword,
        }
      })
      // this.form.setFieldsValue({priceType: this.movieData.priceType})
      // this.form.setFieldsValue({price: this.movieData.price})

      if (typeof this.movieData.copyrightExpireOn !== 'undefined' && this.movieData.copyrightExpireOn !== 0) {
        this.form.setFieldsValue({
          copyrightExpireOn: moment.unix(this.movieData.copyrightExpireOn)
        })
      }
      if (typeof this.movieData.copyrightStartOn !== 'undefined' && this.movieData.copyrightStartOn !== 0) {
        this.form.setFieldsValue({
          copyrightStartOn: moment.unix(this.movieData.copyrightStartOn)
        })
      }
      if (typeof this.movieData.publishScheduleOn !== 'undefined' && this.movieData.publishScheduleOn !== 0) {
        this.form.setFieldsValue({
          publishScheduleOn: moment.unix(this.movieData.publishScheduleOn)
        })
      }

      this.form.setFieldsValue({
        tags: this.movieData.tags
      })
    }
  }
</script>

<style scoped>
  .icons-list >>> .anticon {
    margin-right: 6px;
    font-size: 24px;
  }

  .searchInput {
    width: 100%;
    font-size: rem(24);
    font-weight: bold;
    padding: 0;
    height: auto;
    border: none;
  }
  dd{
    text-align: right;
  }
</style>
