<template>
  <a-tabs defaultActiveKey="web" tabPosition="right">
    <a-tab-pane v-for="config in ConfigData" :tab="config.platform" :key="config.key">
      <platform :option="{ config: config, photo: title.image[config.key], platform: config.key, titleSlug: title.slug }"/>
    </a-tab-pane>
    <a-tab-pane tab="All">
      <all-image :photo="photo"/>
    </a-tab-pane>
  </a-tabs>
</template>

<script>
  import { Tabs } from 'ant-design-vue';
  import {mapGetters} from 'vuex'
  import ConfigData from './config.json';

  window.Vue.use(Tabs);

  export default {
    components: {
      Platform: () => import( /* webpackChunkName: "js/chunks/photo-platform.chunk" */ './platform/index.vue'),
      AllImage: () => import( /* webpackChunkName: "js/chunks/photo-all-image.chunk" */ './all_image/index.vue'),
    },
    props: {
      photo: Array
    },
    data() {
      return {
        ConfigData,
      }
    },
    computed: {
      ...mapGetters({
        title: '$_title/title',
      }),
    },
  }
</script>

<style>
</style>
