<template>
    <div>
        <ul id="tabsJustified" class="nav nav-tabs">
            <li class="nav-item" v-show="node.data !== undefined"><a href="" data-target="#detail" data-toggle="tab" class="nav-link small text-uppercase">Detail</a></li>
            <li class="nav-item"><a href="" data-target="#settings" data-toggle="tab" class="nav-link small text-uppercase active">Settings</a></li>
        </ul>
        <br>
        <div class="tab-content">
            <div id="detail" class="tab-pane fade" v-show="node.data !== undefined">
                <h2>
                    {{ node.data !== undefined ? node.data.modelName : '' }}
                    <span class="badge badge-info">{{ details.length }}</span>
                </h2>
                <table class="table card-table table-vcenter table-hover table-bordered text-nowrap">
                    <thead role="row">
                        <tr>
                            <td>MAC</td>
                            <td>User ID</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="item in details">
                            <td>{{ item.macAddress }}</td>
                            <td>{{ item.userId }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div id="settings" class="tab-pane fade active show">
                <div class="form-group row">
                    <label class="col-md-10 form-control-label">Trusted model</label>
                    <div class="col-md-2">
                        <div class="checkbox d-flex align-items-center">
                            <label class="switch switch-label switch-pill switch-primary mr-2" for="trusted"><input
                                class="switch-input" type="checkbox" name="trusted" id="trusted"
                                value="view backend" checked=""><span class="switch-slider" data-checked="on"
                                                                      data-unchecked="off"></span></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "MyTabComponent",
        data() {
            return {

            }
        },
        computed: {
            node() {
                return this.$store.state.tree.nodeSelected
            },
            details() {
                return this.$store.state.tree.nodeDetail
            },
        }
    }
</script>

<style scoped>

</style>
