<template>
    <div>
        <b-card>
            <template slot="header">
                <h3 class="card-title">Ticket List</h3>
                <div class="card-options"><a href="/admin/module/create" class="btn btn-success btn-sm" target="_self">
                    <i class="fe fe-plus-circle"></i> Add New
                </a></div>
            </template>
            <template>
                <div class="row filter">
                    <div class="col-md-12 row">
                       <div class="col-md-3">
                           <label>TICKET TYPE</label>
                           <b-form-select v-model="ticketSelected" :options="ticketType" @change="onTicketTypeChange()">
                           </b-form-select>
                           <div class="mt-3"></div>
                       </div>
                        <div class="col-md-3">
                            <label>STATUS</label>
                            <b-form-select v-model="statusSelected" :options="status" @change="onStatusChange()">
                            </b-form-select>
                            <div class="mt-3"></div>
                        </div>
                        <div class="col-md-3">
                            <label>PLATFORM</label>
                            <b-form-select v-model="platformSelected" :options="platform" @change="onPlatformChange()">
                            </b-form-select>
                            <div class="mt-3"></div>
                        </div>
                        <div class="col-md-3">
                            <label>CATEGORY</label>
                            <b-form-select v-model="categorySelected" :options="category" @change="onCategoryChange()">
                            </b-form-select>
                            <div class="mt-3"></div>
                        </div>
                    </div>
                </div>
            </template>
            <b-datatable
                    ref="datasource"
                    @context-changed="onContextChanged"
                    search-route="ticket/search"
                    delete-route="admin.users.destroy"
                    action-route="admin.users.batch_action"
                    :actions="actions" :selected.sync="selected"
                    :filter="filter"
            >
                <b-table
                        ref="datatable"
                        striped
                        bordered
                        show-empty
                        stacked="md"
                        no-local-sorting
                        :empty-text="('labels.datatables.no_results')"
                        :empty-filtered-text="('labels.datatables.no_matched_results')"
                        :fields="fields"
                        :items="dataLoadProvider"
                >
                    <template slot="HEAD_checkbox" slot-scope="data"></template>
                    <template slot="index" slot-scope="row">
                        <span>{{ row.index + 1 }}</span>
                    </template>
                    <template slot="id" slot-scope="row">
                        <span>{{ row.value }}</span>
                    </template>
                    <template slot="name" slot-scope="row">
                        <router-link
                                v-if="row.item.can_edit"
                                :to="`/users/${row.item.id}/edit`"
                                v-text="row.value"
                        ></router-link>
                        <span v-else v-text="row.value"></span>
                    </template>
                    <template slot="type" slot-scope="row">
                        <span class="badge badge-success" v-if="row.value == 1" >SUPPORT</span>
                        <span class="badge badge-danger" v-if="row.value == 2" >BUG</span>
                        <span class="badge badge-info" v-if="row.value == 3" >GUIDE</span>
                        <span class="badge badge-warning" v-if="row.value == 4" >OTHER</span>
                    </template>
                    <template slot="status" slot-scope="row">
                        <span class="badge badge-success" v-if="row.value == 1" >OPEN</span>
                        <span class="badge badge-primary" v-if="row.value == 2" >IN PROGRESS</span>
                        <span class="badge badge-danger" v-if="row.value == 3" >REJECTED</span>
                        <span class="badge badge-warning" v-if="row.value == 4" >REOPEN</span>
                        <span class="badge badge-info" v-if="row.value == 5" >FINISHED</span>
                        <span class="badge badge-success" v-if="row.value == 6" >DONE</span>
                    </template>
                    <template slot="transaction_tip" slot-scope="row">
                        {{ row.value }}
                    </template>
                    <template slot="roles" slot-scope="row">
                        {{ formatRoles(row.value) }}
                    </template>
                    <template slot="actions" slot-scope="row">
                        <b-button
                                size="sm"
                                variant="warning"
                                v-b-tooltip.hover
                                :title="('buttons.login-as', { name: row.item.name })"
                                class="mr-2"
                        >
                            <i class="fe fe-eye"></i>
                        </b-button>
                        <b-button
                                size="sm"
                                variant="primary"
                                :to="`/users/${row.item.id}/edit`"
                                v-b-tooltip.hover
                                :title="('buttons.edit')"
                                class="mr-2"
                        >
                            <i class="fe fe-edit"></i>
                        </b-button>
                    </template>
                </b-table>
            </b-datatable>
        </b-card>
    </div>
</template>

<script>
    import axios from 'axios'
    export default {
        name: 'TicketList',
        data() {
            return {
                selected: [],
                ticketSelected: 0,
                statusSelected: 0,
                platformSelected: 0,
                categorySelected: 0,
                ticketType: [
                    {value: 0, text: 'All'},
                    {value: 1, text: 'SUPPORT'},
                    {value: 2, text: 'BUG'},
                    {value: 3, text: 'GUIDE'},
                    {value: 4, text: 'OTHER'},
                ],
                status: [
                    {value: 0, text: 'All'},
                    {value: 1, text: 'OPPEN'},
                    {value: 2, text: 'IN PROGRESS'},
                    {value: 3, text: 'REJECTED'},
                    {value: 4, text: 'REOPEN'},
                    {value: 5, text: 'FINISHED'},
                    {value: 6, text: 'DONE'},
                ],
                platform: [
                    {value: 0, text: 'All'},
                    {value: 'IOS', text: 'IOS'},
                    {value: 'Android', text: 'ANDROID'},
                    {value: 'Website', text: 'WEBSITE'},
                    {value: 'Mobile Website', text: 'MOBILE WEBSITE'},
                    {value: 'Samsung TV', text: 'SAMSUNG TV'},
                    {value: 'Sony TV', text: 'SONY TV'},
                    {value: 'LG TV', text: 'LG TV'},
                    {value: 'Other', text: 'OTHER'},
                ],
                category: [],

                filter: [],

                fields: [
                    {
                        key: 'index' ,
                        label: '#'
                    },
                    {
                        key: 'uuid',
                        label: ('Ticket Id'),
                        sortable: true,
                    },
                    {
                        key: 'createdByName',
                        label: ('Created By Name'),
                        sortable: true
                    },
                    {
                        key: 'createdAt',
                        label: ('Creation Date')
                    },
                    {
                        key: 'type',
                        label: ('Ticket Type'),
                        sortable: true
                    },
                    {
                        key: 'status',
                        label: ('Status'),
                        class: 'text-center'
                    },
                    {
                        key: 'account',
                        label: ('Account'),
                        class: 'text-center',
                        sortable: true
                    },
                    {
                        key: 'platform',
                        label: ('Platform'),
                        class: 'text-center',
                    },
                    {
                        key: 'categoryId',
                        label: ('Category'),
                        class: 'text-center',
                    },
                    {
                        key: 'actions',
                        label: ('Action'),
                        class: 'nowrap'
                    }
                ],
                actions: {
                    destroy: ('labels.backend.users.actions.destroy'),
                    enable: ('labels.backend.users.actions.enable'),
                    disable: ('labels.backend.users.actions.disable')
                }

            }
        },
        methods: {
            dataLoadProvider(ctx) {
                return this.$refs.datasource.loadData(ctx.sortBy, ctx.sortDesc)
            },
            onContextChanged() {
                return this.$refs.datatable.refresh()
            },
            onDelete(id) {
                this.$refs.datasource.deleteRow({ user: id })
            },
            onActiveToggle(id) {
                axios
                    .post(route('admin.users.active', { user: id }))
                    .catch(error => {
                        this.$app.error(error)
                    })
            },
            formatRoles(roles) {
                return roles
                    .map(key => {
                        return key.display_name
                    })
                    .join(', ')
            },
            onTicketTypeChange() {
                let position = -1;
                this.filter.map(function (item, index, array) {
                    if (item.name === 'type') {
                        position = index
                    }
                })
                if (this.ticketSelected === 0) {
                    this.filter.splice(position, 1)
                } else {
                    if (position !== -1) {
                        this.filter[position].value = this.ticketSelected
                    } else {
                        this.filter.push({ name: 'type', value: this.ticketSelected, operator: '=' })
                    }
                }
                this.onContextChanged()
            },
            onStatusChange() {
                let position = -1;
                this.filter.map(function (item, index, array) {
                    if (item.name === 'status') {
                        position = index
                    }
                })
                if (this.statusSelected === 0) {
                    this.filter.splice(position, 1)
                } else {
                    if (position !== -1) {
                        this.filter[position].value = this.statusSelected
                    } else {
                        this.filter.push({ name: 'status', value: this.statusSelected, operator: '=' })
                    }
                }
                this.onContextChanged()
            },
            onPlatformChange() {
                let position = -1;
                this.filter.map(function (item, index, array) {
                    if (item.name === 'platform') {
                        position = index
                    }
                })
                if (this.platformSelected === 0) {
                    this.filter.splice(position, 1)
                } else {
                    if (position !== -1) {
                        this.filter[position].value = this.platformSelected
                    } else {
                        this.filter.push({ name: 'platform', value: this.platformSelected, operator: '=' })
                    }
                }
                this.onContextChanged()
            }
        },
    }
</script>
