<template>
  <div class="row">
    <div class="col-lg-12">
      <a-form
        :form="form"
        @submit.prevent="handleSubmit"
      >
        <div class="row">
          <div class="col-lg-6">
            <div class="row">
              <div class="col-lg-12">
                <div class="card">
                  <div class="card-body">
                    <h4 class="text-black mb-3">
                      <strong>People Information</strong>
                    </h4>
                    <div class="row">
                      <div class="col-lg-12">
                        <a-form-item label="Name" :colon=false>
                          <a-input placeholder="Name"
                                   v-decorator="['name',{ rules: [{ required: true, message: 'Please input your Name' }] }]"
                          />
                        </a-form-item>
                      </div>
                      <!-- BirthPlace -->
                      <div class="col-lg-12">
                        <a-form-item label="Nick name" :colon=false>
                          <a-input placeholder="Nick name"
                                   v-decorator="['nickname']"
                          />
                        </a-form-item>
                      </div>
                      <!-- Birthday -->
                      <div class="col-lg-12">
                        <a-form-item label="Birthday" :colon=false>
                          <a-date-picker style="width: 100%;" placeholder="Birthday" format="DD-MM-YYYY"
                                         v-decorator="['birthday']"
                          />
                        </a-form-item>
                      </div>
                      <!-- Gender -->
                      <div class="col-lg-12">
                        <a-form-item label="Gender" :colon=false>
                          <a-radio-group name="radioGroup" v-decorator="['gender', {initialValue: 1}]">
                            <a-radio :value="1">Male</a-radio>
                            <a-radio :value="2">Female</a-radio>
                            <a-radio :value="3">Other</a-radio>
                          </a-radio-group>
                        </a-form-item>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <div class="card">
                  <div class="card-body">
                    <h4 class="text-black mb-3">
                      <strong>IMDB Information</strong>
                    </h4>
                    <div class="row">
                      <div class="col-lg-12">
                        <a-form-item label="Link IMBD" :colon=false>
                          <a-input placeholder="Enter link IMBD"
                                   v-decorator="['identifier']"
                          />
                        </a-form-item>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <div class="card">
                  <div class="card-body">
                    <h4 class="text-black mb-3">
                      <strong>Wikipedia Information</strong>
                    </h4>
                    <div class="row">
                      <div class="col-lg-12">
                        <a-form-item label="Link Wikipedia" :colon=false>
                          <a-input placeholder="Enter link Wikipedia"/>
                        </a-form-item>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="row">
              <div class="col-lg-12">
                <div class="card" style="height: 546px;">
                  <div class="card-body">
                    <h4 class="text-black mb-3"><strong>Images</strong></h4>
                    <div class="row">
                      <div class="col-lg-12">
                        <div :class="$style.boxShadow" @dragover.prevent @drop="hanldeDrop">
                          <div v-if="previewimage == undefined && people.image == null" :class="$style.container">
                            <form method="post" action="#" enctype="multipart/form-data">
                              <div :class="$style.menuUpload">
                                <a-form-item label="" :colon=false>
                                  <label class="btn btn-sm btn-success">
                                    <a-icon type="upload"/>
                                    Upload Photo
                                    <input type="file" name="image" @change="handleClickUpload" style="display: none"
                                           v-decorator="['file', {rules: [{ required: true, message: 'Please input your image' }]}]"
                                    />
                                  </label>
                                </a-form-item>
                              </div>
                              <div>
                                <div class="row d-flex align-items-center justify-content-center h-100">
                                  <div class="col-12" :class="$style.dropzone">
                                    <p class="ant-upload-drag-icon" :class="$style.dropzoneIcon">
                                      <a-icon type="inbox"/>
                                    </p>
                                    <p class="ant-upload-text">Click or drag file to this area to upload</p>
                                  </div>
                                </div>
                              </div>
                            </form>
                          </div>
                          <div v-else-if="previewimage" :class="$style.container">
                            <div :class="$style.figure">
                              <img :src="previewimage"/>
                            </div>
                          </div>
                          <div v-else-if="people.image" :class="$style.container">
                            <div :class="$style.figure">
                              <img :src="people.image"/>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-body">
                <h4 class="text-black mb-3">
                  <strong>Description</strong>
                </h4>
                <a-form-item label="" :colon=false>
                  <a-input v-decorator="['image', {initialValue: previewimage}]" type="hidden"/>
                  <a-input type="hidden" v-decorator="['_id']"/>
                </a-form-item>
                <a-form-item label="" :colon=false>
                  <a-textarea
                    placeholder="Description" :rows="4"
                    v-decorator="['description']"
                  />
                </a-form-item>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 text-right">
            <div class="form-actions">
              <a-button type="default">CANCEL</a-button>
              <a-button type="primary" class="mr-2" html-type="submit">SAVE</a-button>
            </div>
          </div>
        </div>
      </a-form>
    </div>
  </div>
</template>

<script>
  import { Form, Input, DatePicker, Radio, Button } from 'ant-design-vue';
  import {mapGetters, mapMutations} from 'vuex'
  import moment from "moment";

  window.Vue.use(Form);
  window.Vue.use(Input);
  window.Vue.use(DatePicker);
  window.Vue.use(Radio);
  window.Vue.use(Button);

  export default {
    props: {
      people: Object
    },
    beforeCreate() {
      this.form = this.$form.createForm(this);
    },
    data() {
      return {
        previewimage: undefined,
        moment: moment
      }

    },
    computed: {
      ...mapGetters('people/detail', {
        peopleData: 'people',
      }),
      ...mapGetters('config', {
        image: 'image'
      }),
    },
    methods: {
      ...mapMutations('people/detail', {
        pullPeople: 'PULL_PEOPLE',
      }),
      hanldeDrop(e) {
        e.stopPropagation();
        e.preventDefault();
        this.uploadPhoto(e.dataTransfer.files[0]);
      },
      uploadPhoto(file) {
        let formData = new FormData();
        formData.append("file", file);
        let self = this;
        axios
          .post("/admin/people/uploadImage", formData, {
            headers: {
              "Content-Type": "multipart/form-data"
            }
          })
          .then(function (response) {
            if (response.status === 200) {
              self.previewimage = self.image.original + response.data.data;
              self.$message.success("Upload successfully!");
            }
          })
          .catch(error => {
            self.$message.error("Your photo dimensions is not correct.");
          });
      },
      handleClickUpload(e) {
        this.uploadPhoto(e.target.files[0]);
      },
      handleSubmit() {
        this.form.validateFields((err, values) => {
          if (!err) {
            axios({
              method: 'post',
              url: '/admin/people/updatePeople',
              data: {
                value: values,
              }
            }).then((response) => {
              if (response.status === 200) {
                this.$message.loading('Action in progress..', 2.5)
                  .then(() => this.$message.success('Update Successfully', 2.5))
                window.location.href = '/admin/people';
              }
            });
          }
        });
      },
    },

    mounted() {
      this.form.setFieldsValue({_id: this.people._id});
      this.form.setFieldsValue({name: this.people.name});
      if (this.people.identifier) {
        this.form.setFieldsValue({nickname: this.people.nickname});
      }
      if (this.people.birthday) {
        this.form.setFieldsValue({birthday: moment.unix(this.people.birthday)});
      }
      this.form.setFieldsValue({gender: this.people.gender});
      if (this.people.identifier) {
        this.form.setFieldsValue({identifier: this.people.identifier});
      }
      if (this.people.description) {
        this.form.setFieldsValue({description: this.people.description});
      }
    },
  }
</script>

<style lang="scss" module>
  @import "./style.module.scss";
</style>
