<template>
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <h4 class="text-black mb-3">
            <strong>Settings</strong>
          </h4>
          <div class="row">
            <div class="col-lg-12">
              <a-form :form="form" :selfUpdate="true">
                <a-form-item label="Delivery" :colon="false">
                  <a-select
                    showSearch
                    placeholder="Select a delivery"
                    @change="onDeliveryChange"
                    v-decorator="['delivery', { rules: [{ required: true, message: 'Please select a Delivery', whitespace: true }] }]"
                  >
                    <a-select-option v-for="delivery in deliveryData" :key="delivery">{{ delivery }}</a-select-option>
                  </a-select>
                </a-form-item>

                <a-form-item label="Price" :colon="false">
                  <a-select
                    showSearch
                    placeholder="Select a price"
                    @change="onPriceChange"
                    v-decorator="['priceType', { rules: [{ required: true, message: 'Please select a Price', whitespace: true }] }]"
                  >
                    <a-select-option v-for="price in priceData" :key="price">{{ price }}</a-select-option>
                  </a-select>
                </a-form-item>
                <a-form-item label="Value" :colon="false">
                  <a-select
                    showSearch
                    placeholder="Select a value"
                    @change="onValueChange"
                    v-decorator="['price', { rules: [{ required: true, message: 'Please select a Value', whitespace: true }] }]"
                  >
                    <a-select-option v-for="value in valueItems" :key="value">{{ value }}</a-select-option>
                  </a-select>
                </a-form-item>
                <label style="font-size: 12px; font-style: italic">{{ labelNote }}</label>
                <a-form-item label="Start Date" :colon="false">
                  <a-date-picker
                    style="width: 100%;"
                    format="DD-MM-YYYY"
                    v-decorator="['startOn', { rules: [{ required: true, message: 'Please select a Start On day' }, { validator: checkDuplicateStartOn }] }]"
                  />
                </a-form-item>
                <a-form-item style="text-align: right">
                  <a href @click.prevent="handleAddSetting">ADD</a>
                </a-form-item>
                <div style="max-height: 237px; overflow: scroll;">
                  <span class="font-weight-bold" v-if="listSettings.length > 0">Schedule</span>
                  <div v-for="setting in listSettings" class="mb-3">
                    <span>{{ moment.unix(setting.startOn).format('DD-MM-YYYY') }}</span>
                    <br />
                    <span>{{ setting.delivery }}</span>
                    <br />
                    <span>{{ setting.priceType }} - {{ setting.price }}</span>
                  </div>
                </div>
              </a-form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
const deliveryData = ["Trusted", "Exclude SamSung", "Exclude Sony", "Fox"];
const priceData = ["AVOD", "SVOD", "TVOD"];
const valueData = {
	AVOD: [],
	SVOD: ["Premium", "Basic"],
	TVOD: [
		"4k - 70,000 VND",
		"4K - 50,000 VND",
		"4K - 42,000 VND",
		"4K - 29,000 VND"
	]
};

import { Form, Select } from 'ant-design-vue';
import { mapGetters } from 'vuex';
import moment from 'moment';

window.Vue.use(Form);
window.Vue.use(Select);

export default {
  data() {
    return {
      moment: moment,
			deliveryData,
			priceData,
      valueData,
      labelNote: "",
      valueItems: [],
			priceValue: [],
      listSettings: [],
    };
  },
  computed: {
    ...mapGetters({
      title: '$_title/title',
    })
  },
  methods: {
    checkDuplicateStartOn(rule, value, callback) {
      let index = _.findIndex(this.listSettings, {
        startOn: moment(value, "DD-MM-YYYY 00:00:00")
          .startOf("day")
          .unix()
      });
      if (index != "-1") {
        callback("Please select another Start on");
      } else {
        callback();
      }
    },
    onDeliveryChange() {
      this.form.resetFields(["priceType", "price", "startOn"]);
    },
    onPriceChange(value) {
      this.valueItems = valueData[value];
      this.priceValue = valueData[value][0];
      if (value == "TVOD") {
        this.labelNote = "4K - 70.000 VND, FullHD = 50.000 VND";
      } else {
        this.labelNote = "";
      }

      this.form.resetFields(["price", "startOn"]);
    },
    onValueChange(value) {
      let a = "4k - 70,000 VND";
      let b = "4K - 50,000 VND";
      let c = "4K - 42,000 VND";
      let d = "4K - 29,000 VND";
      if (value == a) {
        this.labelNote = "4K - 70.000 VND, FullHD = 50.000 VND";
      }
      if (value == b) {
        this.labelNote = "4K - 50.000 VND, FullHD = 29.000 VND";
      }
      if (value == c) {
        this.labelNote = "4K - 42.000 VND, FullHD = 42.000 VND";
      }
      if (value == d) {
        this.labelNote = "4K - 29.000 VND, FullHD = 19.000 VND";
      }
    },
    handleAddSetting() {
      let self = this;

      this.form.validateFields((err, values) => {
        if (!err) {
          self.listSettings.push({
            delivery: self.form.getFieldValue("delivery"),
            priceType: self.form.getFieldValue("priceType"),
            price: self.form.getFieldValue("price"),
            startOn: moment(
              self.form.getFieldValue("startOn"),
              "DD-MM-YYYY 00:00:00"
            )
              .startOf("day")
              .unix()
          });
          self.form.resetFields([
            "delivery",
            "priceType",
            "price",
            "startOn"
          ]);
          self.setDataField({
            key: "settings",
            value: self.listSettings
          });
        }
      });
    }
  },
  beforeCreate() {
    this.form = this.$form.createForm(this)
  },
  created() {
    this.listSettings = this.title.settings ? this.title.settings : []
  }
};
</script>