<template>
  <div class="row">
    <div
      class="col-lg-12"
      v-for="(season, seasonIndex) in title.containsSeason"
      :key="seasonIndex"
      :id="'container_' + seasonIndex"
    >
      <div class="card card--withShadow">
        <div class="card-body">
          <h4 class="text-black mb-3" style="display: flex;">
            <div style="flex: 1;">
              <a href @click.prevent="editSeason(seasonIndex)">
                <strong>Season {{ season.seasonNumber }} / {{ season.numberOfEpisodes }}
                  Episodes</strong>
              </a>
              <a href @click.prevent="removeSeason(seasonIndex)"><i class="fa fa-trash"></i></a>
            </div>
            <a href class="btn" v-if="seasonIndex == 0" @click.prevent="addSeason()">ADD SEASON</a>
          </h4>
          <div class="row">
            <div class="col-lg-12">
              <div class="row">
                <div class="col-lg-2 col-md-3 col-xs-6 mb-5">
                  <div class="d-flex align-items-center justify-content-center"
                       style="border: 1px dashed #d9d9d9; height: 120px;">
                    <a href class="btn" @click.prevent="addEpisode(seasonIndex)">ADD EPISODE</a>
                  </div>
                </div>
                <div
                  class="col-lg-2 col-md-3 col-xs-6 mb-5"
                  v-for="(episode, episodeIndex) in season.episode.slice(0, episodeDisplay[seasonIndex].limit)"
                  :key="episode._id"
                >
                  <a-skeleton active :loading="loading">
                    <div>
                      <div style="padding-bottom: 5px;">
                        <img :src="getImageURL(getActiveImage(episode.image))"
                             :alt="episode.name"
                             :class="$style.imageEpisode"/>
                      </div>
                      <div>
                        <div class="text-black">
                          <a
                            href
                            @click.prevent="editEpisode(seasonIndex, episodeIndex)"
                          >
                            <strong>{{ episode.name }}</strong>
                          </a>
                          <a href @click.prevent="removeEpisode(seasonIndex, episodeIndex)"
                             style="float:right;"><i
                            class="fa fa-trash"></i></a>
                        </div>
                      </div>
                    </div>
                  </a-skeleton>
                </div>
              </div>

              <div class="row" v-if="season.episode.length >= episodeDisplay[seasonIndex].limit">
                <div class="col-lg-12">
                  <div class="text-right">
                    <a
                      href
                      @click.prevent="seeMore(season.episode.length, seasonIndex)"
                    >{{ episodeDisplay[seasonIndex].text }}</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div v-if="title.containsSeason.length == 0" class="col-lg-2 col-md-3 col-xs-6">
      <div class="d-flex align-items-center justify-content-center"
            style="border: 1px dashed #d9d9d9; height: 120px;">
        <a href class="btn" @click.prevent="addSeason">ADD SEASON</a>
      </div>
    </div>
  </div>
</template>

<script>
  import {mapGetters, mapMutations} from 'vuex'

  export default {
    props: {
      functions: Object,
    },
    data() {
      return {
        episodeDisplay: [],
        loading: true,
      }
    },
    computed: {
      ...mapGetters('config', {
        image: 'image'
      }),

      ...mapGetters({
        title: '$_title/title'
      }),
    },
    methods: {
      seeMore(length, index) {
        if (this.episodeDisplay[index].expanded === false) {
          this.episodeDisplay[index].limit = length
          this.episodeDisplay[index].text = 'Less than'
          this.episodeDisplay[index].expanded = true
        } else {
          this.episodeDisplay[index].limit = 11
          this.episodeDisplay[index].text = 'See more'
          this.episodeDisplay[index].expanded = false
          
          let container = this.$el.querySelector("#container_" + index)
          if (container) {
            container.scrollIntoView();
          }
        }
      },
      editEpisode(seasonIndex, episodeIndex) {
        this.functions.editEpisode(seasonIndex, episodeIndex)
      },
      addEpisode(seasonIndex) {
        this.functions.addEpisode(seasonIndex)
      },
      removeEpisode(seasonIndex, episodeIndex) {
        this.functions.removeEpisode(seasonIndex, episodeIndex)
        this.episodeDisplay[seasonIndex].limit--
      },
      editSeason(seasonIndex) {
        this.functions.editSeason(seasonIndex)
      },
      addSeason() {
        this.episodeDisplay.push({
          limit: 11,
          text: 'See more',
          expanded: false
        })
        this.functions.addSeason()
      },
      removeSeason(seasonIndex) {
        this.functions.removeSeason(seasonIndex)
        this.episodeDisplay.splice(seasonIndex, 1)
      },
      getActiveImage(listImage) {
        let image = _.find(listImage, {'status': 'active'})
        return image ? image.url : undefined
      },
      getImageURL(filename) {
        let url = '/img/backend/404error.jpeg'
        if (filename) {
          url = this.image.resize.w300 + filename
        } 
        return url
      },
    },
    created() {
      for (let i = 0; i < this.title.containsSeason.length; i++) {
        this.episodeDisplay.push({
          limit: 11,
          text: 'See more',
          expanded: false
        })
      }

      this.$store.subscribe((mutation, state) => {
        if (mutation.type == '$_title/ADD_EPISODE') {
          if (this.episodeDisplay[mutation.payload.seasonIndex].expanded) {
            this.episodeDisplay[mutation.payload.seasonIndex].limit = this.title.containsSeason[mutation.payload.seasonIndex].episode.length;
          }
        }
        if (mutation.type == '$_title/EDIT_EPISODE') {
          this.$forceUpdate();
        }
      })
    },
    mounted() {
      setTimeout(() => {
        this.loading = false
      }, 500)
    }
  }
</script>

<style lang="scss" module>
  .imageEpisode {
    width: 100%;
    height: 100px;
    object-fit: cover;
  }
</style>
