<template>
    <div class="row">
        <div class="col-lg-12">
            <a-form
                    :form="form"
                    @submit.prevent="handleSubmit"
            >
                <div class="row">
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="text-black mb-3">
                                    <strong>Page Information</strong>
                                </h4>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <a-form-item label="Name" :colon=false>
                                            <a-input placeholder="Name"
                                                     v-decorator="['name',{ rules: [{ required: true, message: 'Please input your Name' }] }]"
                                            />
                                            <a-input type="hidden" v-decorator="['_id']"/>
                                        </a-form-item>
                                    </div>
                                    <!-- titleEnglish -->
                                    <div class="col-lg-6">
                                        <a-form-item label="Page Title-English" :colon=false>
                                            <a-input placeholder="title English"
                                                     v-decorator="['titleEnglish',{ rules: [{ required: true, message: 'Please input your title English' }] }]"
                                            />
                                        </a-form-item>
                                    </div>

                                    <!-- Platform -->
                                    <div class="col-lg-6">
                                        <a-form-item label="Platform" :colon="false">
                                            <a-input placeholder="Platform"
                                                     v-decorator="['platform',{initialValue: 'mobile'}]"
                                                     disabled
                                            />
                                        </a-form-item>
                                    </div>

                                    <!-- titleVietnamese -->
                                    <div class="col-lg-6">
                                        <a-form-item label="Page Title-Vietnamese" :colon=false>
                                            <a-input placeholder="title Vietnamese"
                                                     v-decorator="['titleVietnamese',{ rules: [{ required: true, message: 'Please input your title Vietnamese' }] }]"
                                            />
                                        </a-form-item>
                                    </div>

                                    <!-- slug -->
                                    <div class="col-lg-6">
                                        <a-form-item label="Slug" :colon=false>
                                            <a-input placeholder="Slug"
                                                     v-decorator="['slug',{ rules: [{ required: true, message: 'Please input your Slug' }] }]"
                                            />
                                        </a-form-item>
                                    </div>
                                    <!-- Status -->
                                    <div class="col-lg-6">
                                        <a-form-item label=" " :colon=false>
                                            <a-checkbox @change="onCheck" v-decorator="['status', {initialValue: checkbox}]">Active</a-checkbox>
                                        </a-form-item>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <!--Spotlight-->
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <a-form-item label="Ribbon Spotlight" :colon=false>
                                                    <a-auto-complete
                                                            @select="select"
                                                            @search="search(keyword,'Spotlight')"
                                                            :value="keyword"
                                                            :open="openSpotligh"
                                                            :allowClear="true"
                                                            :class="$style.searchInput"
                                                            ref="searchInput"
                                                            optionLabelProp="text"
                                                            @blur="onBlur"
                                                    >
                                                        <template slot="dataSource">
                                                            <a-select-option v-for="item in listSearch" :key="item._id+'-'+item.ribbonType" :text="item.name">
                                                                <div class="ant-list-item">
                                                                    <div class="ant-list-item-meta">
                                                                        <div class="ant-list-item-meta-content">
                                                                            <h4 class="ant-list-item-meta-title" style="font-size: 12px">
                                                                                Name : {{ item.name }}
                                                                            </h4>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </a-select-option>
                                                        </template>
                                                        <a-input-search
                                                                :class="$style.searchInput"
                                                                placeholder="Searching..."
                                                                v-model="keyword"
                                                                v-on:keyup.esc="openSpotligh = false"
                                                        />
                                                    </a-auto-complete>
                                                </a-form-item>
                                            </div>

                                            <div class="col-lg-12 mt-2">
                                                <a-list itemLayout="horizontal" :dataSource="ribbonLocal.spotlight" :rowKey="record => record._id">
                                                    <a-list-item slot="renderItem" slot-scope="record">
                                                        <a-list-item-meta :description="record.name+'-'+record.alternateName" class="ant-message-info">
                                                            <span slot="title">{{record.name}}</span>
                                                        </a-list-item-meta>
                                                        <a slot="actions" @click="onClose(record._id, record.ribbonType)">x</a>
                                                    </a-list-item>
                                                </a-list>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Preview-->
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <a-form-item label="Ribbon Preview" :colon=false>
                                                    <a-auto-complete
                                                            @select="select"
                                                            @search="search(keywordPreview,'Preview')"
                                                            :value="keywordPreview"
                                                            :open="openPreview"
                                                            :allowClear="true"
                                                            :class="$style.searchInput"
                                                            ref="searchInput"
                                                            optionLabelProp="text"
                                                            @blur="onBlur"
                                                    >
                                                        <template slot="dataSource">
                                                            <a-select-option v-for="item in listSearchPreview" :key="item._id+'-'+item.ribbonType" :text="item.name">
                                                                <div class="ant-list-item">
                                                                    <div class="ant-list-item-meta">
                                                                        <div class="ant-list-item-meta-content">
                                                                            <h4 class="ant-list-item-meta-title" style="font-size: 12px">
                                                                                Name : {{ item.name }}
                                                                            </h4>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </a-select-option>
                                                        </template>
                                                        <a-input-search
                                                                :class="$style.searchInput"
                                                                placeholder="Searching..."
                                                                v-model="keywordPreview"
                                                                v-on:keyup.esc="openPreview = false"
                                                        />
                                                    </a-auto-complete>
                                                </a-form-item>
                                            </div>
                                            <div class="col-lg-12 mt-2">
                                                <a-list itemLayout="horizontal" :dataSource="ribbonLocal.preview" :rowKey="record => record._id">
                                                    <a-list-item slot="renderItem" slot-scope="record">
                                                        <a-list-item-meta :description="record.name+'-'+record.alternateName">
                                                            <span slot="title">{{record.name}}</span>
                                                        </a-list-item-meta>
                                                        <a slot="actions" @click="onClose(record._id, record.ribbonType)">x</a>
                                                    </a-list-item>
                                                </a-list>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Portrait Top-->
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <a-form-item label="Ribbon Portrait Top" :colon=false>
                                                    <a-auto-complete
                                                            @select="select"
                                                            @search="search(keywordPortraitTop,'Portrait','top')"
                                                            :value="keywordPortraitTop"
                                                            :open="openPortraitTop"
                                                            :allowClear="true"
                                                            :class="$style.searchInput"
                                                            ref="searchInput"
                                                            optionLabelProp="text"
                                                            @blur="onBlur"
                                                    >
                                                        <template slot="dataSource">
                                                            <a-select-option v-for="item in listSearchPortraitTop" :key="item._id+'-'+'PortraitTop'" :text="item.name">
                                                                <div class="ant-list-item">
                                                                    <div class="ant-list-item-meta">
                                                                        <div class="ant-list-item-meta-content">
                                                                            <h4 class="ant-list-item-meta-title" style="font-size: 12px">
                                                                                Name : {{ item.name }}
                                                                            </h4>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </a-select-option>
                                                        </template>
                                                        <a-input-search
                                                                :class="$style.searchInput"
                                                                placeholder="Searching..."
                                                                v-model="keywordPortraitTop"
                                                                v-on:keyup.esc="openPortraitTop = false"
                                                        />
                                                    </a-auto-complete>
                                                </a-form-item>
                                            </div>
                                            <div class="col-lg-12 mt-2">
                                                <a-list itemLayout="horizontal" :dataSource="ribbonLocal.portraitTop" :rowKey="record => record._id">
                                                    <a-list-item slot="renderItem" slot-scope="record">
                                                        <a-list-item-meta :description="record.name+'-'+record.alternateName">
                                                            <span slot="title">{{record.name}}</span>
                                                        </a-list-item-meta>
                                                        <a slot="actions" @click="onClose(record._id, 'PortraitTop')">x</a>
                                                    </a-list-item>
                                                </a-list>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Sponsor-->
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <a-form-item label="Ribbon Sponsor" :colon=false>
                                                    <a-auto-complete
                                                            @select="select"
                                                            @search="search(keywordSponsor,'Sponsor')"
                                                            :value="keywordSponsor"
                                                            :open="openSponsor"
                                                            :allowClear="true"
                                                            :class="$style.searchInput"
                                                            ref="searchInput"
                                                            optionLabelProp="text"
                                                            @blur="onBlur"
                                                    >
                                                        <template slot="dataSource">
                                                            <a-select-option v-for="item in listSearchSponsor" :key="item._id+'-'+item.ribbonType" :text="item.name">
                                                                <div class="ant-list-item">
                                                                    <div class="ant-list-item-meta">
                                                                        <div class="ant-list-item-meta-content">
                                                                            <h4 class="ant-list-item-meta-title" style="font-size: 12px">
                                                                                Name : {{ item.name }}
                                                                            </h4>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </a-select-option>
                                                        </template>
                                                        <a-input-search
                                                                :class="$style.searchInput"
                                                                placeholder="Searching..."
                                                                v-model="keywordSponsor"
                                                                v-on:keyup.esc="openSponsor = false"
                                                        />
                                                    </a-auto-complete>
                                                </a-form-item>
                                            </div>
                                            <div class="col-lg-12 mt-2">
                                                <a-list itemLayout="horizontal" :dataSource="ribbonLocal.sponsor" :rowKey="record => record._id">
                                                    <a-list-item slot="renderItem" slot-scope="record">
                                                        <a-list-item-meta :description="record.name+'-'+record.alternateName">
                                                            <span slot="title">{{record.name}}</span>
                                                        </a-list-item-meta>
                                                        <a slot="actions" @click="onClose(record._id, record.ribbonType)">x</a>
                                                    </a-list-item>
                                                </a-list>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Portrait Middle-->
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <a-form-item label="Ribbon Portrait Middle" :colon=false>
                                                    <a-auto-complete
                                                            @select="select"
                                                            @search="search(keywordPortraitMiddle,'Portrait','middle')"
                                                            :value="keywordPortraitMiddle"
                                                            :open="openPortraitMiddle"
                                                            :allowClear="true"
                                                            :class="$style.searchInput"
                                                            ref="searchInput"
                                                            optionLabelProp="text"
                                                            @blur="onBlur"
                                                    >
                                                        <template slot="dataSource">
                                                            <a-select-option v-for="item in listSearchPortraitMiddle" :key="item._id+'-'+'PortraitMiddle'" :text="item.name">
                                                                <div class="ant-list-item">
                                                                    <div class="ant-list-item-meta">
                                                                        <div class="ant-list-item-meta-content">
                                                                            <h4 class="ant-list-item-meta-title" style="font-size: 12px">
                                                                                Name : {{ item.name }}
                                                                            </h4>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </a-select-option>
                                                        </template>
                                                        <a-input-search
                                                                :class="$style.searchInput"
                                                                placeholder="Searching..."
                                                                v-model="keywordPortraitMiddle"
                                                                v-on:keyup.esc="openPortraitMiddle = false"
                                                        />
                                                    </a-auto-complete>
                                                </a-form-item>
                                            </div>
                                            <div class="col-lg-12 mt-2">
                                                <a-list itemLayout="horizontal" :dataSource="ribbonLocal.portraitMiddle" :rowKey="record => record._id">
                                                    <a-list-item slot="renderItem" slot-scope="record">
                                                        <a-list-item-meta :description="record.name+'-'+record.alternateName">
                                                            <span slot="title">{{record.name}}</span>
                                                        </a-list-item-meta>
                                                        <a slot="actions" @click="onClose(record._id, 'PortraitMiddle')">x</a>
                                                    </a-list-item>
                                                </a-list>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Original-->
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <a-form-item label="Ribbon Original" :colon=false>
                                                    <a-auto-complete
                                                            @select="select"
                                                            @search="search(keywordOriginal,'Original')"
                                                            :value="keywordOriginal"
                                                            :open="openOriginal"
                                                            :allowClear="true"
                                                            :class="$style.searchInput"
                                                            ref="searchInput"
                                                            optionLabelProp="text"
                                                            @blur="onBlur"
                                                    >
                                                        <template slot="dataSource">
                                                            <a-select-option v-for="item in listOriginal" :key="item._id+'-'+item.ribbonType" :text="item.name">
                                                                <div class="ant-list-item">
                                                                    <div class="ant-list-item-meta">
                                                                        <div class="ant-list-item-meta-content">
                                                                            <h4 class="ant-list-item-meta-title" style="font-size: 12px">
                                                                                Name : {{ item.name }}
                                                                            </h4>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </a-select-option>
                                                        </template>
                                                        <a-input-search
                                                                :class="$style.searchInput"
                                                                placeholder="Searching..."
                                                                v-model="keywordOriginal"
                                                                v-on:keyup.esc="openOriginal = false"
                                                        />
                                                    </a-auto-complete>
                                                </a-form-item>
                                            </div>
                                            <div class="col-lg-12 mt-2">
                                                <a-list itemLayout="horizontal" :dataSource="ribbonLocal.original" :rowKey="record => record._id">
                                                    <a-list-item slot="renderItem" slot-scope="record">
                                                        <a-list-item-meta :description="record.name+'-'+record.alternateName">
                                                            <span slot="title">{{record.name}}</span>
                                                        </a-list-item-meta>
                                                        <a slot="actions" @click="onClose(record._id, record.ribbonType)">x</a>
                                                    </a-list-item>
                                                </a-list>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Portrait Bottom-->
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <a-form-item label="Ribbon Portrait Bottom" :colon=false>
                                                    <a-auto-complete
                                                            @select="select"
                                                            @search="search(keywordPortraitBottom,'Portrait','bottom')"
                                                            :value="keywordPortraitBottom"
                                                            :open="openPortraitBottom"
                                                            :allowClear="true"
                                                            :class="$style.searchInput"
                                                            ref="searchInput"
                                                            optionLabelProp="text"
                                                            @blur="onBlur"
                                                    >
                                                        <template slot="dataSource">
                                                            <a-select-option v-for="item in listSearchPortraitBottom" :key="item._id+'-'+'PortraitBottom'" :text="item.name">
                                                                <div class="ant-list-item">
                                                                    <div class="ant-list-item-meta">
                                                                        <div class="ant-list-item-meta-content">
                                                                            <h4 class="ant-list-item-meta-title" style="font-size: 12px">
                                                                                Name : {{ item.name }}
                                                                            </h4>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </a-select-option>
                                                        </template>
                                                        <a-input-search
                                                                :class="$style.searchInput"
                                                                placeholder="Searching..."
                                                                v-model="keywordPortraitBottom"
                                                                v-on:keyup.esc="openPortraitBottom = false"
                                                        />
                                                    </a-auto-complete>
                                                </a-form-item>
                                            </div>
                                            <div class="col-lg-12 mt-2">
                                                <a-list itemLayout="horizontal" :dataSource="ribbonLocal.portraitBottom" :rowKey="record => record._id">
                                                    <a-list-item slot="renderItem" slot-scope="record">
                                                        <a-list-item-meta :description="record.name+'-'+record.alternateName">
                                                            <span slot="title">{{record.name}}</span>
                                                        </a-list-item-meta>
                                                        <a slot="actions" @click="onClose(record._id, 'PortraitBottom')">x</a>
                                                    </a-list-item>
                                                </a-list>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 text-right">
                        <div class="form-actions">
                            <a-button type="default">CANCEL</a-button>
                            <a-button type="primary" class="mr-2" html-type="submit">SAVE</a-button>
                        </div>
                    </div>
                </div>
            </a-form>
        </div>
    </div>
</template>

<script>
    import {mapGetters, mapMutations, mapActions} from "vuex"
    import ConfigData from '../page.json';
    import { Table, AutoComplete, Button, Select, Input, Form, Checkbox, List } from 'ant-design-vue';
    window.Vue.use(Table);
    window.Vue.use(AutoComplete);
    window.Vue.use(Button);
    window.Vue.use(Select);
    window.Vue.use(Input);
    window.Vue.use(Form);
    window.Vue.use(Checkbox);
    window.Vue.use(List);

    export default {
        props: {
            page: Object,
            ribbon: Array
        },
        beforeCreate() {
            this.form = this.$form.createForm(this);
        },
        data() {
            return {
                keyword: undefined,
                keywordPortraitTop: undefined,
                keywordOriginal: undefined,
                keywordPortraitBottom: undefined,
                keywordSponsor: undefined,
                keywordPortraitMiddle: undefined,
                keywordPreview: undefined,
                openSpotligh: false,
                openPortraitTop: false,
                openOriginal: false,
                openSponsor: false,
                openPortraitBottom: false,
                openPortraitMiddle: false,
                openPreview: false,
                listSearch: [],
                listSearchPortraitTop: [],
                listOriginal: [],
                listSearchPortraitBottom: [],
                listSearchSponsor: [],
                listSearchPortraitMiddle: [],
                listSearchPreview: [],
                dataListSpotligh: [],
                dataListPortraitTop: [],
                dataListOriginal: [],
                dataListSponsor: [],
                dataListPortraitBottom: [],
                dataListPortraitMiddle: [],
                dataListPreview: [],
                ribbonList: {
                    spotlight: [],
                    preview: [],
                    portraitTop: [],
                    sponsor: [],
                    portraitMiddle: [],
                    original: [],
                    portraitBottom: [],
                },
                ribbonLocal: {
                    spotlight: [],
                    preview: [],
                    portraitTop: [],
                    sponsor: [],
                    portraitMiddle: [],
                    original: [],
                    portraitBottom: [],
                },
                checkbox: false,
                ConfigData
            }

        },
        computed: {
            ...mapGetters("page/detail", {
                pageData: "page",
            }),
        },
        methods: {
            onBlur() {
                this.openSpotligh = false
                this.openPreview = false
                this.openSponsor = false
                this.openPortraitTop = false
                this.openPortraitMiddle = false
                this.openPortraitBottom = false
                this.openOriginal = false
            },
            onCheck (checkedValues) {},
            search(keyword,ribbonType,position) {
                clearInterval(this.timer);
                this.timer = setInterval(function () {
                    clearInterval(this.timer);
                    axios
                        .get('/admin/page/searchRibbon', {
                            params: {
                                keyword: keyword,
                                ribbonType: ribbonType,
                                position: position
                            }
                        })
                        .then(response => {
                            if (response.data.data.ribbonType == 'PortraitTop') {
                                this.listSearchPortraitTop = response.data.data.ribbon.data
                                this.openPortraitTop = true
                            } else if (response.data.data.ribbonType == 'Spotlight') {
                                this.listSearch = response.data.data.ribbon.data
                                this.openSpotligh = true
                            } else if (response.data.data.ribbonType == 'Original') {
                                this.listOriginal = response.data.data.ribbon.data
                                this.openOriginal = true
                            } else if (response.data.data.ribbonType == 'PortraitBottom') {
                                this.listSearchPortraitBottom = response.data.data.ribbon.data
                                this.openPortraitBottom = true
                            } else if (response.data.data.ribbonType == 'PortraitMiddle') {
                                this.listSearchPortraitMiddle = response.data.data.ribbon.data
                                this.openPortraitMiddle = true
                            } else if (response.data.data.ribbonType == 'Sponsor') {
                                this.listSearchSponsor = response.data.data.ribbon.data
                                this.openSponsor = true
                            } else if (response.data.data.ribbonType == 'Preview') {
                                this.listSearchPreview = response.data.data.ribbon.data
                                this.openPreview = true
                            }

                        })
                        .catch(error => {
                            console.log(error)
                        });
                }.bind(this), 300)
            },
            select(value) {
                let data = value.split('-');
                clearInterval(this.timer);
                this.timer = setInterval(function () {
                    clearInterval(this.timer);
                    axios
                        .get('/admin/page/findIdRibbon', {
                            params: {
                                id: data[0],
                                ribbonType: data[1],
                            }
                        })
                        .then(response => {
                            if (response.data.data.ribbonType == 'Spotlight') {
                                this.dataListSpotligh = response.data.data.data.ribbon
                                let ribbonList = {
                                    '_id': response.data.data.data.ribbon._id
                                }
                                let checkDuplicate = _.find(this.ribbonList.spotlight, {'_id': response.data.data.data.ribbon._id})
                                if (checkDuplicate === undefined) {
                                    this.ribbonList.spotlight.push(ribbonList)
                                    this.ribbonLocal.spotlight.push(this.dataListSpotligh)
                                } else {
                                    this.$message.warn("Spotlight " + response.data.data.data.ribbon.name + " has been added!")
                                }
                                this.openSpotligh = false
                                this.keyword = undefined
                            } else if (response.data.data.ribbonType == 'PortraitTop') {
                                this.dataListPortraitTop = response.data.data.data.ribbon
                                let ribbonList = {
                                    '_id': response.data.data.data.ribbon._id
                                }
                                let checkDuplicate = _.find(this.ribbonList.portraitTop, {'_id': response.data.data.data.ribbon._id})
                                if (checkDuplicate === undefined) {
                                    this.ribbonList.portraitTop.push(ribbonList)
                                    this.ribbonLocal.portraitTop.push(this.dataListPortraitTop)
                                } else {
                                    this.$message.warn("PortraitTop " + response.data.data.data.ribbon.name + " has been added!")
                                }
                                this.openPortraitTop = false
                                this.keywordPortraitTop = undefined
                            } else if (response.data.data.ribbonType == 'PortraitBottom') {
                                this.dataListPortraitBottom= response.data.data.data.ribbon
                                let ribbonList = {
                                    '_id': response.data.data.data.ribbon._id
                                }
                                let checkDuplicate = _.find(this.ribbonList.portraitBottom, {'_id': response.data.data.data.ribbon._id})
                                if (checkDuplicate === undefined) {
                                    this.ribbonList.portraitBottom.push(ribbonList)
                                    this.ribbonLocal.portraitBottom.push(this.dataListPortraitBottom)
                                } else {
                                    this.$message.warn("PortraitBottom " + response.data.data.data.ribbon.name + " has been added!")
                                }
                                this.openPortraitBottom = false
                                this.keywordPortraitBottom = undefined
                            } else if (response.data.data.ribbonType == 'Original') {
                                this.dataListOriginal = response.data.data.data.ribbon
                                let ribbonList = {
                                    '_id': response.data.data.data.ribbon._id
                                }
                                let checkDuplicate = _.find(this.ribbonList.original, {'_id': response.data.data.data.ribbon._id})
                                if (checkDuplicate === undefined) {
                                    this.ribbonList.original.push(ribbonList)
                                    this.ribbonLocal.original.push(this.dataListOriginal)
                                } else {
                                    this.$message.warn("Original " + response.data.data.data.ribbon.name + " has been added!")
                                }
                                this.openOriginal = false
                                this.keywordOriginal = undefined
                            } else if (response.data.data.ribbonType == 'Sponsor') {
                                this.dataListSponsor = response.data.data.data.ribbon
                                let ribbonList = {
                                    '_id': response.data.data.data.ribbon._id
                                }
                                let checkDuplicate = _.find(this.ribbonList.sponsor, {'_id': response.data.data.data.ribbon._id})
                                if (checkDuplicate === undefined) {
                                    this.ribbonList.sponsor.push(ribbonList)
                                    this.ribbonLocal.sponsor.push(this.dataListSponsor)
                                } else {
                                    this.$message.warn("Sponsor " + response.data.data.data.ribbon.name + " has been added!")
                                }
                                this.openSponsor = false
                                this.keywordSponsor = undefined
                            } else if (response.data.data.ribbonType == 'PortraitMiddle') {
                                this.dataListPortraitMiddle = response.data.data.data.ribbon
                                let ribbonList = {
                                    '_id': response.data.data.data.ribbon._id
                                }
                                let checkDuplicate = _.find(this.ribbonList.portraitMiddle, {'_id': response.data.data.data.ribbon._id})
                                if (checkDuplicate === undefined) {
                                    this.ribbonList.portraitMiddle.push(ribbonList)
                                    this.ribbonLocal.portraitMiddle.push(this.dataListPortraitMiddle)
                                } else {
                                    this.$message.warn("PortraitMiddle " + response.data.data.data.ribbon.name + " has been added!")
                                }
                                this.openPortraitMiddle = false
                                this.keywordPortraitMiddle = undefined
                            } else if (response.data.data.ribbonType == 'Preview') {
                                this.dataListPreview = response.data.data.data.ribbon
                                let ribbonList = {
                                    '_id': response.data.data.data.ribbon._id
                                }
                                let checkDuplicate = _.find(this.ribbonList.preview, {'_id': response.data.data.data.ribbon._id})
                                if (checkDuplicate === undefined) {
                                    this.ribbonList.preview.push(ribbonList)
                                    this.ribbonLocal.preview.push(this.dataListPreview)
                                } else {
                                    this.$message.warn("Preview " + response.data.data.data.ribbon.name + " has been added!")
                                }
                                this.openPreview = false
                                this.keywordPreview = undefined
                            }
                        })
                        .catch(error => {
                            console.log(error)
                        });
                }.bind(this), 300)
            },
            onClose(id, ribbonType) {
                if (ribbonType === 'Spotlight') {
                    let index = _.findIndex(this.ribbonLocal.spotlight, {'_id':id})
                    this.ribbonLocal.spotlight.splice(index, 1)
                    _.findIndex(this.ribbonList.spotlight, {'_id': id})
                    this.ribbonList.spotlight.splice(index, 1)
                } if (ribbonType === 'PortraitTop') {
                    let index = _.findIndex(this.ribbonLocal.portraitTop, {'_id':id})
                    this.ribbonLocal.portraitTop.splice(index, 1)
                    _.findIndex(this.ribbonList.portraitTop, {'_id': id})
                    this.ribbonList.portraitTop.splice(index, 1)
                } if (ribbonType === 'Original') {
                    let index = _.findIndex(this.ribbonLocal.original, {'_id':id})
                    this.ribbonLocal.original.splice(index, 1)
                    _.findIndex(this.ribbonList.original, {'_id': id})
                    this.ribbonList.original.splice(index, 1)
                } if (ribbonType === 'PortraitBottom') {
                    let index = _.findIndex(this.ribbonLocal.portraitBottom, {'_id':id})
                    this.ribbonLocal.portraitBottom.splice(index, 1)
                    _.findIndex(this.ribbonList.portraitBottom, {'_id': id})
                    this.ribbonList.portraitBottom.splice(index, 1)
                } if (ribbonType === 'Sponsor') {
                    let index = _.findIndex(this.ribbonLocal.sponsor, {'_id':id})
                    this.ribbonLocal.sponsor.splice(index, 1)
                    _.findIndex(this.ribbonList.sponsor, {'_id': id})
                    this.ribbonList.sponsor.splice(index, 1)
                } if (ribbonType === 'PortraitMiddle') {
                    let index = _.findIndex(this.ribbonLocal.portraitMiddle, {'_id':id})
                    this.ribbonLocal.portraitMiddle.splice(index, 1)
                    _.findIndex(this.ribbonList.portraitMiddle, {'_id': id})
                    this.ribbonList.portraitMiddle.splice(index, 1)
                } if (ribbonType === 'Preview') {
                    let index = _.findIndex(this.ribbonLocal.preview, {'_id':id})
                    this.ribbonLocal.preview.splice(index, 1)
                    _.findIndex(this.ribbonList.preview, {'_id': id})
                    this.ribbonList.preview.splice(index, 1)
                }
            },
            handleSubmit() {
                if (this.ribbonList.portraitTop.length > 2) {
                    if (this.ribbonList.portraitMiddle.length > 2) {
                        if (this.ribbonList.portraitBottom.length > 2) {
                            this.form.validateFields((err, values) => {
                                if (!err) {
                                    axios({
                                        method: 'post',
                                        url: '/admin/page/updatePage',
                                        data: {
                                            page: this.ribbonList,
                                            value: values,
                                        }
                                    }).then((response) => {
                                        if (response.status === 200) {
                                            this.$message.loading('Action in progress..', 2.5)
                                                .then(() => this.$message.success('Add New Successfully', 2.5))
                                            window.location.href = '/admin/page';
                                        }
                                    });
                                }
                            });
                        } else {
                            this.$message.warn("Not Save Ribbon portraitBottom less than three!")
                        }
                    } else {
                        this.$message.warn("Not Save Ribbon PortraitMiddle less than three!")
                    }
                } else {
                    this.$message.warn("Not Save Ribbon PortraitTop less than three!")
                }
            },
        },
        created() {
            _.each(this.ribbon, (value) =>  {
                _.each(value.spotlight, (item) =>  {
                    let ribbonList = {
                        '_id': item._id
                    };
                    this.ribbonLocal.spotlight.push(item)
                    this.ribbonList.spotlight.push(ribbonList)
                })
                _.each(value.preview, (item) =>  {
                    let ribbonList = {
                        '_id': item._id
                    };
                    this.ribbonLocal.preview.push(item)
                    this.ribbonList.preview.push(ribbonList)
                })
                _.each(value.portraitTop, (item) =>  {
                    let ribbonList = {
                        '_id': item._id
                    };
                    this.ribbonLocal.portraitTop.push(item)
                    this.ribbonList.portraitTop.push(ribbonList)
                })
                _.each(value.sponsor, (item) =>  {
                    let ribbonList = {
                        '_id': item._id
                    };
                    this.ribbonLocal.sponsor.push(item)
                    this.ribbonList.sponsor.push(ribbonList)
                })
                _.each(value.portraitMiddle, (item) =>  {
                    let ribbonList = {
                        '_id': item._id
                    };
                    this.ribbonLocal.portraitMiddle.push(item)
                    this.ribbonList.portraitMiddle.push(ribbonList)
                })
                _.each(value.portraitBottom, (item) =>  {
                    let ribbonList = {
                        '_id': item._id
                    };
                    this.ribbonLocal.portraitBottom.push(item)
                    this.ribbonList.portraitBottom.push(ribbonList)
                })
                _.each(value.original, (item) =>  {
                    let ribbonList = {
                        '_id': item._id
                    };
                    this.ribbonLocal.original.push(item)
                    this.ribbonList.original.push(ribbonList)
                })
            })
        },
        mounted() {
            this.form.setFieldsValue({_id: this.page._id});
            this.form.setFieldsValue({name: this.page.name});
            this.form.setFieldsValue({titleEnglish: this.page.titleEnglish});
            this.form.setFieldsValue({platform: this.page.platform});
            this.form.setFieldsValue({titleVietnamese: this.page.titleVietnamese});
            this.form.setFieldsValue({slug: this.page.slug});
            if (this.page.status === 'active') {
                this.form.setFieldsValue({status: true});
            } else {
                this.form.setFieldsValue({status: false});
            }
        },
    }
</script>

<style lang="scss" module>
    @import "./style.module.scss";
</style>
