<template>
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <h4 class="text-black mb-3">
            <strong>All Photos</strong>
          </h4>
          <a-skeleton active :loading="loading">
            <a-table
              :columns="columns"
              :dataSource="photo"
              :pagination="pagination"
              :rowKey="record => record.id"
            >
              <template slot="url" slot-scope="value">
                <img width="100px" :src="getImageURL(value)" alt />
              </template>
              <template slot="status" slot-scope="value">
                <span class="text-success" v-if="value === 'active'">{{ capitalize(value) }}</span>
                <span class="text-warning" v-if="value === 'unActive'">{{ capitalize(value) }}</span>
              </template>
              <template slot="id" slot-scope="value">
                <a-button @click="removeImge(value)" icon="cross" size="small">Remove</a-button>
              </template>
            </a-table>
          </a-skeleton>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { mapGetters, mapMutations } from "vuex";
const columns = [
  {
    title: "Image",
    dataIndex: "url",
    scopedSlots: { customRender: "url" }
  },
  {
    title: "Platform",
    dataIndex: "platform",
    scopedSlots: { customRender: "platform" }
  },
  {
    title: "Title",
    dataIndex: "role",
    scopedSlots: { customRender: "role" }
  },
  {
    title: "Height",
    dataIndex: "height",
    scopedSlots: { customRender: "height" }
  },
  {
    title: "Width",
    dataIndex: "width",
    scopedSlots: { customRender: "width" }
  },
  {
    title: "Aspect",
    dataIndex: "aspect",
    scopedSlots: { customRender: "aspect" }
  },
  {
    title: "Status",
    dataIndex: "status",
    scopedSlots: { customRender: "status" }
  },
  {
    title: "Action",
    dataIndex: "id",
    scopedSlots: { customRender: "id" }
  }
];

import { Skeleton, Table, Button } from 'ant-design-vue';

window.Vue.use(Skeleton);
window.Vue.use(Table);
window.Vue.use(Button);

export default {
  props: {
    photo: Array
  },
  data() {
    return {
      data: [],
      columns,
      pagination: {
        total: 1,
        showTotal: (total, range) =>
          `${range[0]}-${range[1]} of ${total} items`,
        pageSize: 10
      },
      loading: true
    };
  },
  computed: {
    ...mapGetters({
      title: "$_title/title"
    }),
    ...mapGetters("config", {
      image: "image"
    })
  },
  methods: {
    capitalize(string) {
      return string.charAt(0).toUpperCase() + string.slice(1);
    },
    getImageURL(filename) {
      if (filename) {
        return this.image.resize.w300 + filename;
      }
      return "/img/backend/404error.jpeg";
    },
    removeImge(value) {
      let result = value.split("-");
      let id = result[0];
      let role = result[1];
      let status = result[2];
      let platform = result[3];
      if (status == "unActive") {
        let index = _.find(this.title.image[platform][role], { _id: id });
        this.title.image[platform][role].splice(index, 1);

        index = _.findIndex(this.photo, { _id: id, role: role });
        this.photo.splice(index, 1);
        this.pagination.total = this.photo.length;
      } else {
        this.$message.warn("No delete !");
      }
    }
  },
  created() {
    this.pagination.total = this.photo.length;
	},
	mounted() {
		setTimeout(() => {
      this.loading = false;
    }, 300);
	}
};
</script>
