<template>
  <div class="row">
    <div class="col-lg-12">
      <a-tabs defaultActiveKey="1" :tabPosition="tabPosition">
        <a-tab-pane tab="Ribbon" key="1">
          <ribbon/>
        </a-tab-pane>
        <a-tab-pane tab="Related" key="2">
          <related/>
        </a-tab-pane>
      </a-tabs>
    </div>
  </div>
</template>

<script>
  export default {
    components: {
      Ribbon: () => import(/* webpackChunkName: "js/chunks/ribbon.chunk" */ './ribbon/index.vue'),
      Related: () => import(/* webpackChunkName: "js/chunks/related.chunk" */ './related/index.vue'),
    },
    data() {
      return {
        tabPosition: 'right'
      }
    },
  }
</script>

<style>

</style>
