<template>
  <div>
    <a-modal
      title="List source"
      :visible="visible"
      :confirmLoading="confirmLoading"
      @cancel="handleCancel"
      cancelText="CANCEL"
      @ok="handleOk"
      okText="APPLY"
      :okButtonProps="{
        props: {disabled: itemSelected == undefined}
      }"
      :destroyOnClose="true"
    >
      <div class="row">
        <div class="col-lg-12">
          <a-skeleton :loading="loading">
            <a-list itemLayout="horizontal" :dataSource="data">
              <a-list-item 
                slot="renderItem" 
                slot-scope="item" 
                :class="{[$style.selected]: item._id == itemSelected, [$style.listItem]: true}"
                @click="select(item._id)"
              >
                <a-list-item-meta>
                  <div slot="description">
                    Status: {{ item.status }}
                    <br />
                    Type: {{ item.type }}
                  </div>
                  <div slot="title">{{item.name}}</div>
                </a-list-item-meta>
                <i class="fa fa-check-circle" :class="$style.checkGreen" v-if="item._id == itemSelected"></i>
              </a-list-item>
            </a-list>
          </a-skeleton>
        </div>
      </div>
    </a-modal>
  </div>
</template>
<script>
import { Modal, List, Button, Icon, Skeleton } from "ant-design-vue";

window.Vue.use(Modal);
window.Vue.use(List);
window.Vue.use(Button);
window.Vue.use(Skeleton);

export default {
  props: {
    visible: Boolean,
    cancel: Function,
    apply: Function,
    data: Array,
    loading: Boolean
  },
  data() {
    return {
      confirmLoading: false,
      itemSelected: undefined
    };
  },
  methods: {
    handleOk(e) {
      this.confirmLoading = true;
      this.apply(this.itemSelected);
      setTimeout(() => {
        this.cancel();
        this.confirmLoading = false;
      }, 1000);
    },
    handleCancel(e) {
      this.itemSelected = undefined;
      this.cancel();
    },
    select(id) {
      this.itemSelected = id;
    }
  }
};
</script>
<style lang="scss" module>
.listItem {
  padding: 10px;
  cursor: pointer;
}
.selected {
  background: #e6e6e6;
  border-radius: 5px;
}
.checkGreen{
  color: green;
}
</style>