<template>
  <div class="row">
    <div class="col-lg-12">
      <div class="card card--withShadow">
        <div class="col-lg-12">
          <div class="card-body">
            <h4 class="text-black mb-3">
              <strong>{{ option.config.platform }}</strong>
            </h4>
            <div class="row">
              <div class="col-md-4" v-for="role in option.config.role" :key="role.key">
                <upload-image
                  :option="{
                    title: role.name,
                    dimensions: {
                      minWidth: role.minWidth,
                      maxWidth: role.maxWidth,
                      width: role.width,
                      height: role.height,
                      ratio: role.ratio
                    },
                    photo: option.photo[role.key], 
                    functions: {
                      addImage: addImage,
                      activeImage: activeImage
                    },
                    uploadData: {
                      name: option.titleSlug + '_' + option.platform + '_' + role.key,
                      platform: option.platform,
                      ratio: role.ratio,
                      role: role.key,
                      type: 'title'
                    },
                    config: imageConfig,
                    key: role.key
                  }"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { Form } from 'ant-design-vue';
import { mapGetters, mapActions } from "vuex";

window.Vue.use(Form);

export default {
  components: {
    UploadImage: () =>
      import(
        /* webpackChunkName: "js/chunks/ribbon.chunk" */ "@/backend/components/CommonComponents/UploadImage"
      )
  },
  props: {
    option: Object
  },
  computed: {
    ...mapGetters("config", {
      imageConfig: "image"
    })
  },
  methods: {
    ...mapActions({
      activeImage: '$_title/activeImage',
      addImage: '$_title/addImage',
    })
  },
};
</script>

<style>
</style>
