<template>
  <div>
    <div :class="$style.logo">
      <div :class="$style.logoContainer">
        <img src="/img/backend/brand/logo.png" alt>
      </div>
    </div>
    <div :class="$style.topbar">
      <a-menu
        :theme="'light'"
        :mode="'horizontal'"
        :selectedKeys="selectedKeys"
        @click="handleClick"
      >
        <a-menu-item :key="'home'">
          <a href="/">
            <span :class="$style.title">Dashboard</span>
            <i :class="[$style.icon, 'icmn icmn-home']"></i>
          </a>
        </a-menu-item>
        <a-menu-item :key="'device'">
          <a href="/admin/device">
            <span :class="$style.title">Device</span>
            <i :class="[$style.icon, 'fa fa-desktop']"></i>
          </a>
        </a-menu-item>
        <a-sub-menu>
          <a href="/admin/movie" class="submenu-title-wrapper" slot="title">
            <span><i :class="[$style.icon, 'fa fa-film']"></i>Titles</span>
          </a>
        </a-sub-menu>
        <a-menu-item :key="'Peoples'">
          <a href="/admin/people">
            <span :class="$style.title">Peoples</span>
            <i :class="[$style.icon, 'fa fa-user']"></i>
          </a>
        </a-menu-item>
        <a-menu-item :key="'Ribbon'">
          <a href="/admin/ribbon">
            <span :class="$style.title">Ribbon</span>
            <i :class="[$style.icon, 'fa fa-slack']"></i>
          </a>
        </a-menu-item>
        <a-menu-item :key="'Page'">
          <a href="/admin/page">
            <span :class="$style.title">Page</span>
            <i :class="[$style.icon, 'fa fa-book']"></i>
          </a>
        </a-menu-item>
        <a-sub-menu>
          <span slot="title" class="submenu-title-wrapper"><a-icon type="setting"/>Setting</span>
          <a-menu-item key="setting:1"><a href="/admin/auth/user">User Management</a></a-menu-item>
          <a-menu-item key="setting:2"><a href="/admin/auth/role">Role Management</a></a-menu-item>
          <a-menu-item key="setting:3"><a href="/admin/auth/permission">Permission Management</a></a-menu-item>
        </a-sub-menu>
        <a-sub-menu>
          <span slot="title" class="submenu-title-wrapper"><i
            :class="[$style.icon, 'fa fa-wpforms']"></i>Log Viewer</span>
          <a-menu-item key="log:1"><a href="/admin/log-viewer">Dashboard</a></a-menu-item>
          <a-menu-item key="log:2"><a href="/admin/log-viewer/logs">Logs</a></a-menu-item>
        </a-sub-menu>
        <!--      <template v-for="item in menuData">-->
        <!--        <item-->
        <!--          v-if="!item.children && !item.divider"-->
        <!--          :menu-info="item"-->
        <!--          :styles="$style"-->
        <!--          :key="item.key"-->
        <!--        />-->
        <!--        <sub-menu v-if="item.children" :menu-info="item" :styles="$style" :key="item.key"/>-->
        <!--      </template>-->
      </a-menu>
      <div class="mr-4">
        <!--      <cui-issues-history/>-->
      </div>
      <div class="mr-4">
        <!--      <cui-project-management/>-->
      </div>
      <div class="mr-auto">
        <!--      <cui-live-search/>-->
      </div>
      <div class="mr-4">
        <!--      <cui-bitcoin-price/>-->
      </div>
      <div class="mr-4">
        <!--      <cui-language-selector/>-->
      </div>
      <div class="mr-4">
        <!--      <cui-home-menu/>-->
      </div>
      <cui-profile-menu/>
    </div>
  </div>

</template>

<script>
  import { Menu, Icon } from 'ant-design-vue'
  // import store from '@/backend/stores'
  // import _ from 'lodash'
  // import { getTopMenuData } from '@/backend/services/menu'
  // import SubMenu from './partials/submenu'
  // import Item from './partials/item'
  import CuiProfileMenu from './ProfileMenu'

  window.Vue.use(Menu)
  window.Vue.use(Icon)

  export default {
    name: 'menu-top',
    components: {CuiProfileMenu},
    props: {
      settings: Object,
    },
    data() {
      return {
        // menuData: getTopMenuData,
        selectedKeys: [],
        // openKeys: [],
      }
    },
    methods: {
      handleClick(e) {
      },
    },
  }
</script>

<style lang="scss" module>
  @import "./style.module.scss";
</style>
