@import '@/backend/assets/styles/mixins.scss';

.head {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: rem(15);
}

.name {
  flex-shrink: 0;
  flex-grow: 1;
}

.title {
  font-weight: 700;
  font-size: rem(15);
  margin-bottom: rem(5);
}

.note {
  font-size: rem(13);
  font-weight: 300;
  margin-bottom: 0;
}

.value {
  text-transform: uppercase;
  font-weight: 700;
  font-size: rem(23);
  line-height: 1;
  margin-top: rem(10);
  margin-bottom: rem(10);
  margin-left: auto;
}

.line {
  margin-bottom: rem(5);
}

.lineDescr {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: $gray-darken;
}
