<template>
  <div>
    <div :class="$style.boxShadow" @dragover.prevent @drop="hanldeDrop">
      <a-skeleton active :loading="loading">
        <div v-if="previewPhoto == undefined" :class="$style.container">
          <form method="post" action="#" enctype="multipart/form-data">
            <div :class="$style.menuUpload">
              <label class="btn btn-sm btn-success">
                <a-icon type="upload" />Upload Photo
                <input
                  type="file"
                  name="image"
                  ref="file"
                  @change="handleClickUpload"
                  style="display: none;"
                />
              </label>
              <label class="btn btn-sm" @click="showUploadModal">
                <a-icon type="select" />Choose Photo
              </label>
            </div>
            <div>
              <div
                class="row d-flex align-items-center justify-content-center h-100"
                @click="$refs.file.click()"
              >
                <div class="col-12" :class="$style.dropzone">
                  <p class="ant-upload-drag-icon" :class="$style.dropzoneIcon">
                    <a-icon type="inbox" />
                  </p>
                  <p class="ant-upload-text">Click or drag file to this area to upload</p>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div v-else :class="$style.container">
          <div :class="$style.figure">
            <img :class="$style.img2" :src="getImageURL(previewPhoto.url)" />
            <div :class="$style.hoverMenu">
              <div :class="$style.imageMenu">
                <div :class="$style.leftButton">
                  <a style="text-decoration: none" href>SETTING</a>
                </div>
                <div :class="$style.rightButton">
                  <a
                    style="text-decoration: none"
                    href
                    @click.prevent="showUploadModal"
                  >PRELOADED IMAGAES</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </a-skeleton>
      <h5 class="text-black" v-if="option.title != undefined">
        <strong>{{ option.title }}</strong>
      </h5>
      <div class="mb-3" v-if="option.dimensions != undefined" style="height: 22px;">
        <a-tag color="#2db7f5" v-if="option.dimensions.ratio">Ratio: {{ option.dimensions.ratio }}</a-tag>
        <a-tag
          color="#87d068"
          v-if="option.dimensions.minWidth"
        >Min width: {{ option.dimensions.minWidth }} px</a-tag>
        <a-tag
          color="#87d068"
          v-if="option.dimensions.maxWidth"
        >Max width: {{ option.dimensions.maxWidth }} px</a-tag>
        <a-tag
          color="#87d068"
          v-if="option.dimensions.width"
        >Width: {{ option.dimensions.width }} px</a-tag>
        <a-tag
          color="#87d068"
          v-if="option.dimensions.height"
        >Height: {{ option.dimensions.height }} px</a-tag>
      </div>
    </div>

    <!-- Modal Upload -->
    <a-modal
      title="Preloaded Images"
      v-model="uploadModal"
      :footer="null"
      width="70%"
      style="top: 20px;"
    >
      <div class="container">
        <div class="cui-utils-title">
          <a-radio-group name="radioGroup" v-model="selectPhoto">
            <a-radio :value="true">Choose from photos</a-radio>
            <a-radio :value="false">Upload from computer</a-radio>
          </a-radio-group>
        </div>
        <div v-if="selectPhoto">
          <div class="row" style="height: 400px;">
            <div :class="[$style.wallRight, 'col-md-7']">
              <div class="row" style="height: 100%; overflow: scroll;">
                <div class="col-6 col-md-4 col-lg-3" v-for="(element, index) in option.photo">
                  <div :class="$style.photoElement">
                    <input
                      :id="option.key + '.' + element._id"
                      type="radio"
                      name="listPhoto"
                      v-model="checkedPhoto"
                      :value="element._id"
                      :checked="previewPhoto.url && previewPhoto._id == checkedPhoto"
                      @change="setActivePhoto(element._id)"
                    />
                    <label
                      :for="option.key + '.' + element._id"
                      :style="`background: url('${getImageURL(element.url)}') center center no-repeat;background-size: cover;`"
                    ></label>
                  </div>
                </div>
                <div v-if="option.photo.length == 0" style="margin: auto;">No photo to choose.</div>
              </div>
            </div>
            <div class="col-md-5">
              <div :class="$style.previewPhoto">
                <img
                  :src="previewPhoto == undefined ? 'https://via.placeholder.com/350x400.png?text=Image%20Preview' : getImageURL(previewPhoto.url)"
                  alt
                  style="display: block; margin:auto;"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <div class="row float-right">
                <a-button @click="uploadModal = false">CANCEL</a-button>
                <a-button type="primary" @click="handleApplyActive">APPLY</a-button>
              </div>
            </div>
          </div>
        </div>
        <div v-if="!selectPhoto" class="row" style="height: 300px;">
          <div class="col-lg-12">
            <div
              style="height: 300px; border-radius: 5px; border: 1px dashed #e8e8e8; background: #fafafa; cursor: pointer;"
              @dragover.prevent
              @drop="hanldeDrop"
              @click="$refs.drop.click()"
            >
              <input
                type="file"
                ref="drop"
                name="image"
                @change="handleClickUpload"
                style="display: none;"
              />
              <div class="row d-flex align-items-center justify-content-center h-100">
                <div class="col-12 text-center" :class="$style.dropzone">
                  <p class="ant-upload-drag-icon" :class="$style.dropzoneIcon">
                    <a-icon type="inbox" />
                  </p>
                  <p class="ant-upload-text">Click or drag file to this area to upload</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </a-modal>
  </div>
</template>

<script>
import { Tag, Modal, Checkbox } from "ant-design-vue";
import { mapActions } from "vuex";
window.Vue.use(Tag);
window.Vue.use(Modal);
window.Vue.use(Checkbox);

export default {
  props: {
    option: Object
  },
  data() {
    return {
      uploadModal: false,
      selectPhoto: true,
      previewPhoto: undefined,
      loading: true,
      activePhotoId: undefined,
      checkedPhoto: undefined,
    };
  },
  methods: {
    ...mapActions({
      uploadImage: "$_title/uploadImage",
      addImage: "$_title/addImage",
      activeImage: "$_title/activeImage"
    }),
    showUploadModal() {
      this.resetChecked();
      this.uploadModal = true;
    },
    setActivePhoto(id) {
      this.activePhotoId = id;
    },
    resetChecked() {
      this.checkedPhoto = this.previewPhoto ? this.previewPhoto._id : undefined;
    },
    handleApplyActive() {
      if (this.option.uploadData.type == 'title') {
        this.option.functions.activeImage({
          platform: this.option.uploadData.platform,
          role: this.option.uploadData.role,
          imageId: this.activePhotoId
        });
      }
      if (this.option.uploadData.type == 'episode') {
        this.option.functions.activeImage(this.activePhotoId);
      }
      this.previewPhoto = _.find(this.option.photo, {status: 'active'});
      this.uploadModal = false;
    },
    uploadPhoto(file) {
      let formData = new FormData();
      formData.append("listPhoto", JSON.stringify(this.option.photo));
      formData.append("file", file);
      Object.keys(this.option.uploadData).forEach(key => {
        formData.append(key, this.option.uploadData[key]);
      });
      let element = {
        status: "active"
      };

      this.$message.loading("Uploading...").then(() => {
        this.uploadImage(formData)
          .then(response => {
            element = { ...element, ...response.data.data };
            if (this.option.uploadData.type == 'title') {
              this.option.functions.addImage({
                platform: this.option.uploadData.platform,
                role: this.option.uploadData.role,
                imageData: element
              });
            }
            if (this.option.uploadData.type == 'episode') {
              this.option.functions.addImage(element);
            }
            this.previewPhoto = element;
            this.uploadModal = false;
            this.$message.success("Upload successfully!");
          })
          .catch(error => {
            this.$message.error(this.handleError(error.response));
          });
      });
    },
    handleClickUpload(e) {
      this.uploadPhoto(e.target.files[0]);
    },
    hanldeDrop(e) {
      e.stopPropagation();
      e.preventDefault();
      this.uploadPhoto(e.dataTransfer.files[0]);
    },
    getImageURL(filename) {
      if (filename) {
        return this.option.config.resize.w600 + filename;
      } else {
        return "/img/backend/404error.jpeg";
      }
    },
    handleError(error) {
      let result = undefined;
      switch (error.status) {
        case 422:
          result = error.data.errors.file[0];
          break;
        case 413:
          result = "Your photo size is too large.";
          break;
        default:
          result = "Somethings went wrong!";
      }
      return result;
    }
  },
  created() {
    this.previewPhoto = _.find(this.option.photo, {status: 'active'});
    this.$store.subscribe((mutation, state) => {
      if (mutation.type == "$_title/RESET_TITLE") {
        if (this.option.uploadData.type == 'title') {
          this.loading = true;
          setTimeout(()=> {
            this.previewPhoto = _.find(this.option.photo, {status: 'active'});
            this.resetChecked();
            this.$forceUpdate();
            this.loading = false;
          }, 300)
        }
      }
    });
  },
  mounted() {
    setTimeout(() => {
      this.loading = false;
    }, 300);
  }
};
</script>

<style lang="scss" module>
@import "./style.module.scss";
</style>
