<template>
  <div>
    <div style="position: relative">
      <a
              href="javascript: void(0);"
              :class="[$style.avatar, bordered ? $style.bordered : '', $style[`size${size}`],]"
              :style="{borderColor, display: 'inline-block', background: 'transparent', borderRadius: 0, verticalAlign: 'top', marginBottom: '-55px'}"
      >
        <img :src="getImageURL(thumbnail.url)" :alt="thumbnail.url"
             style="width: 95% !important; border-radius: 5px;"/>
      </a>
      <div style="display: inline-block; margin-bottom: -55px; overflow: hidden;">
        <h4>
          <a-breadcrumb>
            <a-breadcrumb-item>
              <a href="/">Home</a>
            </a-breadcrumb-item>
            <a-breadcrumb-item>
              <a href="/admin/movie">Titles</a>
            </a-breadcrumb-item>
          </a-breadcrumb>
        </h4>
        <h1>{{titleName}}</h1>
        <div class="font-size-12">
          <span>Source Status:</span>
          <span v-if="movieData.status === 'inReview'" class="text-warning font-size-16">{{movieData.status}}</span>
          <span v-if="movieData.status === 'active'" class="text-success font-size-16">{{movieData.status}}</span>
          <span v-if="movieData.status === 'inActive'" class="text-danger font-size-16">{{movieData.status}}</span>
          &nbsp;&nbsp;<span>In Service:</span>
          <span>&nbsp;12/06/2019</span>
        </div>
      </div>
      <div style="position: absolute; right: 0; bottom: 5px;">
        <a-button type="default" @click="handleCancel">CANCEL</a-button>
        <a-button type="primary" @click="handleSave" :disabled="submitted">SAVE</a-button>
        <a-button class="btn btn-success" @click="handleSave" :disabled="published" icon="upload">PUBLISH</a-button>
      </div>
      <div style="position: inherit;text-align: right;top: -46px;">
        <a-auto-complete
                @select="select"
                @search="onSearch"
                :class="$style.searchInput"
                ref="searchInput"
                optionLabelProp="text"
                style="width: 275px"
        >
          <template slot="dataSource">
            <a-select-option v-for="item in listSearch" :key="item.legacy_id" :text="item.alternateName">
              <div class="ant-list-item">
                <div class="ant-list-item-meta">
                  <div class="ant-list-item-meta-avatar">
                    <img width="50px"
                         :src="getImageURL(item.thumbnail)"
                    >
                  </div>
                  <div class="ant-list-item-meta-content">
                    <h4 class="ant-list-item-meta-title" style="font-size: 12px">
                      {{ item.alternateName }}
                    </h4>
                    <div class="ant-list-item-meta-description" style="font-size: 12px">
                      {{ item.slug }}
                    </div>
                  </div>
                </div>
              </div>
            </a-select-option>
          </template>
          <a-input-search
                  placeholder="Search Title..."
                  v-model="keyword"
                  style="width: 275px"
                  :class="$style.searchInput"
                  v-on:keyup.enter="onSearch"
          />
        </a-auto-complete>
      </div>
    </div>
    <a-form
            :form="form"
            :selfUpdate="true"
    >
      <a-tabs defaultActiveKey="1" :tabPosition="tabPosition">
        <a-tab-pane tab="Content" key="1">
          <content-metadata/>
        </a-tab-pane>
        <a-tab-pane tab="Photos" key="2">
          <content-photos :photo="photo" />
        </a-tab-pane>
        <a-tab-pane tab="Display" key="3">
          <content-display/>
        </a-tab-pane>
        <a-tab-pane tab="Seasons" key="4" v-if="movieData.type == 'tvseries'">
          <content-seasons/>
        </a-tab-pane>
        <a-tab-pane tab="Marker" key="5">
          <content-marker/>
        </a-tab-pane>
        <a-tab-pane tab="Trailer" key="6">
          <content-trailer/>
        </a-tab-pane>
        <a-tab-pane tab="Event" key="7">
          <content-event/>
        </a-tab-pane>
      </a-tabs>
    </a-form>
  </div>
</template>

<script>
  import {mapActions, mapGetters} from 'vuex'
  import moment from "moment"
  export default {
    components: {
      ContentMetadata: () => import(/* webpackChunkName: "js/chunks/content-metadata.chunk" */'./content/index.vue'),
      ContentPhotos: () => import(/* webpackChunkName: "js/chunks/photo.chunks" */'./photos/index.vue'),
      ContentEvent: () => import(/* webpackChunkName: "js/chunks/event.chunk" */'./event/index.vue'),
      ContentTrailer: () => import(/* webpackChunkName: "js/chunks/trailer.chunk" */'./trailer/index.vue'),
      ContentDisplay: () => import(/* webpackChunkName: "js/chunks/display.chunk" */'./display/index.vue'),
      ContentMarker: () => import(/* webpackChunkName: "js/chunks/marker.chunk" */'./marker/index.vue'),
      ContentSeasons: () => import(/* webpackChunkName: "js/chunks/seasons.chunk" */'./seasons/index.vue'),
    },
    props: {
      size: {
        type: Number,
        validator: val => [20, 25, 35, 50, 70, 90, 110, 111].includes(val),
        default: 110
      },
      bordered: {
        type: Boolean,
        default: false
      },
      borderColor: {
        type: String,
        default: "#d2d9e5"
      },
      src: String,
      title: Object,
      actor: Array,
      director: Array,
      ribbon: Array,
      related: Array,
      photo: Array,
    },
    data() {
      return {
        moment: moment,
        tabPosition: "top",
        keyword: undefined,
        content: [],
        listSearch: [],
        localTitle: {},
        submitted: false,
        published: false,
        thumbnail: undefined,
      };
    },
    computed: {
      ...mapGetters('config', {
        image: 'image'
      }),
      ...mapGetters('movie_content/detail', {
        movieData: 'title',
        ribbonData: 'ribbon',
      }),
    },
    methods: {
      select(legacy_id) {
        window.location.href = '/admin/movie/edit/' + legacy_id
      },
      onSearch() {
        clearInterval(this.timer);
        this.timer = setInterval(function () {
          clearInterval(this.timer);
          axios
                  .get('/admin/movie/search', {
                    params: {
                      keyword: this.keyword,
                    }
                  })
                  .then(response => {
                    this.listSearch = response.data.docs;
                  })
        }.bind(this), 500)
      },
      ...mapActions({
        pullData: 'movie_content/detail/pullData',
        mergeData: 'movie_content/detail/mergeData',
        setDataField: 'movie_content/detail/setDataField',
      }),
      getCountryCode(arrayCountry) {
        for (let i in arrayCountry) {
          let country = arrayCountry[i]
          return country.code
        }
      },
      handleCancel() {
        axios
                .get('/admin/movie/getById', {
                  params: {
                    id: this.movieData.legacy_id
                  }
                })
                .then(response => {
                  this.form.setFieldsValue({alternateName: response.data.docs.alternateName})
                  this.form.setFieldsValue({englishName: response.data.docs.englishName})
                  this.form.setFieldsValue({name: response.data.docs.name})
                  this.form.setFieldsValue({publisher: response.data.docs.publisher})
                  this.form.setFieldsValue({datePublished: response.data.docs.datePublished})
                  this.form.setFieldsValue({type: response.data.docs.type})
                  this.form.setFieldsValue({
                    'countryOfOrigin[0].code': this.getCountryCode(response.data.docs.countryOfOrigin)
                  })
                  this.form.setFieldsValue({numberOfSeasons: response.data.docs.numberOfSeasons})
                  this.form.setFieldsValue({productionCompany: response.data.docs.productionCompany})
                  this.form.setFieldsValue({duration: response.data.docs.duration})
                  this.form.setFieldsValue({
                    aggregateRating: {
                      imdb: response.data.docs.aggregateRating.imdb,
                      fimplus: {
                        ratingValue: response.data.docs.aggregateRating.fimplus.ratingValue
                      }
                    }
                  })
                  this.form.setFieldsValue({slug: response.data.docs.slug})
                  this.form.setFieldsValue({genre: response.data.docs.genre})
                  this.form.setFieldsValue({subGenre: response.data.docs.subGenre})
                  this.form.setFieldsValue({description: response.data.docs.description})
                  this.form.setFieldsValue({disambiguatingDescription: response.data.docs.disambiguatingDescription})
                  this.form.setFieldsValue({spotline: response.data.docs.spotline})
                  this.form.setFieldsValue({keyword: response.data.docs.keyword})
                  if (typeof response.data.docs.copyrightExpireOn !== 'undefined' && response.data.docs.copyrightExpireOn !== 0) {
                    this.form.setFieldsValue({
                      copyrightExpireOn: moment.unix(response.data.docs.copyrightExpireOn)
                    })
                  }
                  if (typeof response.data.docs.copyrightStartOn !== 'undefined' && response.data.docs.copyrightStartOn !== 0) {
                    this.form.setFieldsValue({
                      copyrightStartOn: moment.unix(response.data.docs.copyrightStartOn)
                    })
                  }
                  if (typeof response.data.docs.publishScheduleOn !== 'undefined' && response.data.docs.publishScheduleOn !== 0) {
                    this.form.setFieldsValue({
                      publishScheduleOn: moment.unix(response.data.docs.publishScheduleOn)
                    })
                  }
                  this.form.setFieldsValue({tags: response.data.docs.tags})
                })
                .catch(error => {
                  console.log(error)
                })
      },
      handleSave(e) {
        e.preventDefault()
        let self = this
        if (this.movieData.related.length > 2) {
          this.form.validateFields((err, values) => {
            if (!err) {
              self.submitted = true
              self.published = false
              this.$message.loading('Action in progress..')
                      .then(() => {
                        axios({
                          method: 'post',
                          url: '/admin/movie/update',
                          data: {
                            title: this.movieData,
                            ribbon: this.ribbonData
                          }
                        }).then((response) => {
                          if (response.status === 200) {
                            this.$message.success('Update Successfully', 2.5)
                            self.titleName = self.movieData.alternateName
                            self.$forceUpdate()
                          }
                        }).catch((error) => {
                          this.$message.error(error, 2.5)
                        });
                      })
            }
          })
        } else {
          this.$message.warn("No delete Gribview Related no less than three!")
        }
      },
      getImageURL(filename) {
        if (filename) {
          return this.image.resize.w300 + filename
        }
        return '/img/backend/404error.jpeg'
      },
      checkIssetTitleFields() {
        if (!this.localTitle.englishName){
          this.localTitle.englishName = undefined
        }
        if (!this.localTitle.slug){
          this.localTitle.slug = undefined
        }
        if (!this.localTitle.genre) {
          this.localTitle.genre = []
        }
        if (!this.localTitle.aggregateRating){
          this.localTitle.aggregateRating = {
            fimplus: {
              ratingValue: '',
              ratingCount: '',
              worstRating: '',
              bestRating: '',
            },
            imdb: '',
          }
        }
        if (!this.localTitle.image) {
          let emptyPlatform = {
            posterPortrait: [],
            posterLandscape: [],
            posterOriginal: [],
            posterSponsor: [],
            banner: [],
            backdrop: [],
            thumbnail: [],
            preview: [],
            spotlight: [],
            titleSpotlightEn: [],
            titleSpotlightVn: [],
            titleDetailEn: [],
            titleDetailVn: [],
          }
          this.localTitle.image = {
            web: emptyPlatform,
            tv: emptyPlatform,
            mobile: emptyPlatform,
          }
        }

        if (!this.localTitle.video){
          this.localTitle.video = []
        }

        if (!this.localTitle.settings){
          this.localTitle.settings = []
        }

        if (!this.localTitle.related){
          this.localTitle.related = []
        }

        if (!this.localTitle.actor){
          this.localTitle.actor = []
        }

        if (!this.localTitle.director){
          this.localTitle.director = []
        }

        if (!this.localTitle.type){
          this.localTitle.type = undefined
        }

        if (!this.localTitle.containsSeason){
          this.localTitle.containsSeason = []
        }
        if (!this.localTitle.keyword) {
          this.localTitle.keyword = {
            searchKeyword: undefined,
            recKeyword: undefined,
            franchise: undefined,
            remakeOf: undefined,
          }
        }
      },
    },
    beforeCreate() {
      let self = this;
      this.form = this.$form.createForm(this, {
        onValuesChange(dom, values) {
          self.submitted = false
          self.published = true
          switch (Object.keys(values)[0]) {
            case 'genre':
              self.setDataField({
                key: 'genre',
                value: values['genre'],
              })
              break
            case 'subGenre':
              self.setDataField({
                key: 'subGenre',
                value: values['subGenre'],
              })
              break
            case 'tags':
              self.setDataField({
                key: 'tags',
                value: values['tags'],
              })
              break
            case 'productionCompany':
              self.setDataField({
                key: 'productionCompany',
                value: values['productionCompany'],
              })
              break
            case 'keyword':

              let element = {
                searchKeyword: self.form.getFieldValue('keyword.searchKeyword'),
                recKeyword: self.form.getFieldValue('keyword.recKeyword'),
                franchise: self.form.getFieldValue('keyword.franchise'),
                remakeOf: self.form.getFieldValue('keyword.remakeOf'),
              }
              switch (Object.keys(values.keyword)[0]) {
                case 'searchKeyword':
                  element.searchKeyword = values.keyword.searchKeyword
                  break
                case 'recKeyword':
                  element.recKeyword = values.keyword.recKeyword
                  break
                case 'franchise':
                  element.franchise = values.keyword.franchise
                  break
                case 'remakeOf':
                  element.remakeOf = values.keyword.remakeOf
                  break
              }
              self.setDataField({
                key: 'keyword',
                value: element,
              })
              break
            default:
              self.mergeData(values)
              self.$forceUpdate()
              break
          }
        },
      });
    },
    created() {
      this.localTitle = {...this.title}
      this.checkIssetTitleFields()
      this.pullData({
        title: this.localTitle,
        actor: this.actor,
        director: this.director,
        ribbon: this.ribbon,
        related: this.related,
        form: this.form
      })
      this.thumbnail = _.merge({url: undefined}, _.find(this.localTitle.image.web.thumbnail, {status: 'active'}))
      this.titleName = this.movieData.alternateName
    },
  };
</script>

<style lang="scss" module>
  @import "./style.module.scss";
</style>
<style>
  .custom {
    text-align: left;
  }

  .ant-tabs-nav-wrap {
    text-align: right !important;
  }

  .ant-form-item-label {
    margin-bottom: -10px;
  }

  .ant-form-item-label label {
    color: #777474;
  }

  .ant-input, .ant-select {
    color: rgba(0, 0, 0, 0.85);
  }

  .ant-form-item {
    margin-bottom: 0px !important;
  }

  /*.ant-tabs-bar {*/
  /*  margin: 0px !important;*/
  /*}*/
</style>
