@import '@/backend/assets/styles/mixins.scss';

.feed {
  max-width: rem(1250);
  margin: 0 auto;
}

.partition {
  padding-bottom: rem(10);
  margin-bottom: rem(30);
  border-bottom: 1px solid $gray-border;
}

.titleThumb {
  height: rem(28);
  width: rem(28);
  vertical-align: sub;
  border-radius: 5px;
}

.title {
  font-size: rem(24);
  font-weight: 700;
  vertical-align: middle;
}

.partitionContent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  list-style: none;
}

.item {
  width: 196px;
  padding-top: rem(15);
  margin-right: rem(5);
  margin-left: rem(5);
  margin-bottom: rem(20);
}

.itemLink {
  display: block;
}

.itemThumb {
  width: 100%;
}

.itemDescr {
  cursor: pointer;
}

.itemName {
  display: block;
  font-size: rem(14);
  font-weight: 700;
  margin: rem(10) 0 rem(5);
}

.itemAuthor {
  display: block;
}

.itemViews {
  display: block;
}
.thumbnail {
  display: inline-block;
  width: 4.28rem;
  height: 4.28rem;
  border: 1px solid #e4e9f0;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: #fff;
  text-align: center;
  img {
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    vertical-align: middle;
  }
}
.avatar {
    background-color: $gray-lighten;
    border-color: $gray-darken;
    display: inline-block;
    overflow: hidden;
    border-radius: 50%;

    img {
        width: 100%;
        max-width: 100%;
        height: auto;
    }
}
.size20 {
    width: rem(20);
    height: rem(20);
}

.size25 {
    width: rem(25);
    height: rem(25);
}

.size35 {
    width: rem(35);
    height: rem(35);
}

.size50 {
    width: rem(50);
    height: rem(50);
}

.size70 {
    width: rem(70);
    height: rem(70);
}

.size90 {
    width: rem(90);
    height: rem(90);
}

.size110 {
    width: 15.46rem !important;
}

.bordered {
    border: 4px solid $gray;
}
