<template>
  <div :class="$style.topbar">
    <div class="mr-4">
<!--      <cui-issues-history/>-->
    </div>
    <div class="mr-4">
<!--      <cui-project-management/>-->
    </div>
    <div class="mr-auto">
<!--      <cui-live-search/>-->
    </div>
    <div class="mr-4">
<!--      <cui-bitcoin-price/>-->
    </div>
    <div class="mr-4">
<!--      <cui-language-selector/>-->
    </div>
    <div class="mr-4">
<!--      <cui-home-menu/>-->
    </div>
    <cui-profile-menu/>
  </div>
</template>

<script>
// import CuiIssuesHistory from './IssuesHistory'
import CuiProjectManagement from './ProjectManagement'
// import CuiLiveSearch from './LiveSearch'
// import CuiBitcoinPrice from './BitcoinPrice'
// import CuiLanguageSelector from './LanguageSelector'
import CuiHomeMenu from './HomeMenu'
import CuiProfileMenu from './ProfileMenu'

export default {
  components: {
    // CuiIssuesHistory,
    CuiProjectManagement,
    // CuiLiveSearch,
    // CuiBitcoinPrice,
    // CuiLanguageSelector,
    CuiHomeMenu,
    CuiProfileMenu,
  },
}
</script>

<style lang="scss" module>
@import "./style.module.scss";
</style>
