<template>
  <div>
		<keep-alive>
			<content-breadcrumb :data="breadcrumb" />
		</keep-alive>
    <a-tabs defaultActiveKey="1" tabPosition="top">
      <a-tab-pane tab="Content" key="1">
        <keep-alive>
          <content-metadata />
        </keep-alive>
      </a-tab-pane>
			<a-tab-pane tab="Photos" key="2">
				<keep-alive>
					<content-photos :photo="photo" />
				</keep-alive>
			</a-tab-pane>
			<a-tab-pane tab="Display" key="3">
				<keep-alive>
					<content-display/>
				</keep-alive>
			</a-tab-pane>
			<a-tab-pane tab="Seasons" key="4" v-if="titleData.type == 'tvseries'">
				<keep-alive>
					<content-seasons/>
				</keep-alive>
			</a-tab-pane>
			<a-tab-pane tab="Marker" key="5">
				<keep-alive>
					<content-marker/>
				</keep-alive>
			</a-tab-pane>
			<a-tab-pane tab="Trailer" key="6">
				<keep-alive>
					<content-trailer/>
				</keep-alive>
			</a-tab-pane>
			<a-tab-pane tab="Event" key="7">
				<keep-alive>
					<content-event/>
				</keep-alive>
			</a-tab-pane>
    </a-tabs>
  </div>
</template>

<script>
import { Tabs } from 'ant-design-vue'
import { mapGetters, mapActions } from 'vuex'
import store from './_store'
import emptyTitle from './emptyTitle.json'
import emptyDamInfo from './emptyDamInfo.json'
import Loading from '@/backend/components/CommonComponents/Loading/index.vue'

window.Vue.use(Tabs)

const ContentBreadcrumb = () => ({
  component: import(/* webpackChunkName: "js/chunks/content-breadcrumb.chunk" */'./_components/breadcrumb/index.vue'),
  loading: Loading,
  error: Loading,
  delay: 200,
  timeout: 15000
});

const ContentMetadata = () => ({
  component: import(/* webpackChunkName: "js/chunks/content-metadata.chunk" */ "./_components/content/index.vue"),
  loading: Loading,
  error: Loading,
  delay: 200,
  timeout: 15000
});

export default {
  components: {
    "content-breadcrumb": ContentBreadcrumb,
    "content-metadata": ContentMetadata,
    "content-photos": () =>
      import(
        /* webpackChunkName: "js/chunks/content-photo.chunks" */ "./_components/photos/index.vue"
      ),
    "content-display": () =>
      import(
        /* webpackChunkName: "js/chunks/content-display.chunk" */ "./_components/display/index.vue"
      ),
    "content-seasons": () =>
      import(
        /* webpackChunkName: "js/chunks/content-seasons.chunk" */ "./_components/seasons/index.vue"
      ),
    "content-marker": () =>
      import(
        /* webpackChunkName: "js/chunks/content-marker.chunk" */ "./_components/marker/index.vue"
      ),
    "content-trailer": () =>
      import(
        /* webpackChunkName: "js/chunks/content-trailer.chunk" */ "./_components/trailer/index.vue"
      ),
    "content-event": () =>
      import(
        /* webpackChunkName: "js/chunks/content-event.chunk" */ "./_components/event/index.vue"
      )
  },
  props: {
    title: Object,
    actor: Array,
    director: Array,
    ribbon: Array,
    related: Array,
    photo: Array,
    damInfo: Object
  },
  computed: {
    ...mapGetters({
      titleData: "$_title/title",
      ribbonData: "$_title/ribbon",
      damInfoData: '$_title/damInfo',
      isSaved: '$_title/isSaved',
    })
  },
  data() {
    return {
      breadcrumb: {
        thumbnail: undefined,
        status: undefined,
        name: undefined,
        slug: undefined,
        damStatus: undefined
      },
      emptyTitle,
      emptyDamInfo
    };
  },
  methods: {
    ...mapActions({
      pullData: "$_title/pullData",
      saveTitle: "$_title/saveTitle",
      changeTitleStatusApi: "$_title/changeTitleStatusApi",
    }),
    handleSave() {
      this.$message.loading("Action in progress..").then(() => {
        this.saveTitle({
          title: this.titleData,
          ribbon: this.ribbonData
        })
          .then(response => {
            this.breadcrumb = {
              thumbnail: _.merge(
                { url: undefined },
                _.find(this.titleData.image.web.thumbnail, { status: "active" })
              ),
              status: this.titleData.status,
              name: this.titleData.alternateName,
              slug: this.titleData.slug,
              damStatus: this.damInfoData.status,
              isSaved: true,
            };
            this.$forceUpdate();
            this.$message.success("Update Successfully", 2.5);
          })
          .catch(error => {
            this.$message.error(error, 2.5);
          });
      });
    },
    handleCancel() {
      this.$message.loading("Action in progress..", 1).then(() => {
        let title = JSON.parse(JSON.stringify(this.emptyTitle));
        let damInfo = JSON.parse(JSON.stringify(this.emptyDamInfo));
        this.pullData({
          title: _.merge(title, this.title),
          actor: [...this.actor],
          director: [...this.director],
          ribbon: [...this.ribbon],
          related: [...this.related],
          damInfo: _.merge(damInfo, this.damInfo),
          isSaved: true
        });
        this.$store.commit("$_title/RESET_TITLE");
      });
    },
    handleSubmitToQC() {
      this.$message.loading("Action in progress..", 2.5).then(() => {
        this.changeTitleStatusApi({
          id: this.title._id,
          status: 'inReview'
        })
          .then((response) => {
            this.breadcrumb.status = response.data.data.status;
            this.$forceUpdate();
            this.$message.success("Update Successfully", 2.5);
          })
          .catch();
      })
    },
    handlePublish() {
      this.$message.loading("Action in progress..", 2.5).then(() => {
        this.changeTitleStatusApi({
          id: this.title._id,
          status: 'active'
        })
          .then((response) => {
            this.breadcrumb.status = response.data.data.status;
            this.$forceUpdate();
            this.$message.success("Update Successfully", 2.5);
          })
          .catch();
      })
    }
  },
  created() {
    this.breadcrumb = {
      thumbnail: _.merge(
        { url: undefined },
        _.find(this.title.image.web.thumbnail, { status: "active" })
      ),
      status: this.title.status,
      name: this.title.alternateName,
      slug: this.title.slug,
      damStatus: this.damInfo.status,
      isSaved: true,
    };

    const STORE_KEY = "$_title";
    if (!(STORE_KEY in this.$store._modules.root._children)) {
      this.$store.registerModule(STORE_KEY, store);
    }

    let title = JSON.parse(JSON.stringify(this.emptyTitle));
    let damInfo = JSON.parse(JSON.stringify(this.emptyDamInfo));
    this.pullData({
      title: _.merge(title, this.title),
      actor: [...this.actor],
      director: [...this.director],
      ribbon: [...this.ribbon],
      related: [...this.related],
      damInfo: _.merge(damInfo, this.damInfo)
    });

    this.$store.subscribe((mutation, state) => {
      if (mutation.type == "$_title/VALIDATE_TITLE_SUCCESS") {
        this.handleSave();
      }
    });

    this.$store.subscribe((mutation, state) => {
      if (mutation.type == "$_title/CHANGE_TITLE_TYPE") {
        this.$forceUpdate();
      }
    });

    this.$store.subscribe((mutation, state) => {
      if (mutation.type == "$_title/CHANGE_SAVE_STATUS") {
        this.breadcrumb.isSaved = this.isSaved;
      }
    });

    this.$store.subscribe((mutation, state) => {
      if (mutation.type == "$_title/CLICK_CANCEL_TITLE") {
        this.handleCancel();
        this.$forceUpdate();
      }
    });

    this.$store.subscribe((mutation, state) => {
      if (mutation.type == "$_title/CLICK_SUBMIT_TO_QC_TITLE") {
        this.handleSubmitToQC();
      }
    });

    this.$store.subscribe((mutation, state) => {
      if (mutation.type == "$_title/CLICK_PUBLISH_TITLE") {
        this.handlePublish();
      }
    });
  }
};
</script>

<style lang="scss" module>
@import "./style.module.scss";
</style>

<style scope>
@import "./style.scope.scss";
</style>
