.custom {
    text-align: left;
  }

  .ant-tabs-nav-wrap {
    text-align: right !important;
  }

  .ant-form-item-label {
    margin-bottom: -10px;
  }

  .ant-form-item-label label {
    color: #777474;
  }

  .ant-input, .ant-select {
    color: rgba(0, 0, 0, 0.85);
  }

  .ant-form-item {
    margin-bottom: 0px !important;
  }
.ul-type-none  {
  list-style-type: none;
}
dd{
  text-align: right !important;
}
.padding-left-25{
  padding-left: 25px !important
}