<template>
  <div>
    <a-form :form="form" :selfUpdate="true">
      <div class="row">
        <div class="col-lg-8">
          <div class="card">
            <div class="card-body">
              <h4 class="text-black mb-3">
                <strong>Episode information</strong>
              </h4>
              <div class="row">
                <div class="col-lg-12">
                  <!--input hidden-->
                  <a-form-item :colon="false">
                    <a-input type="hidden" v-decorator="['legacy_id']" />
                  </a-form-item>
                  <a-form-item :colon="false">
                    <a-input type="hidden" v-decorator="['_id']" />
                  </a-form-item>
                  <!--end input hidden-->

                  <a-form-item label="Episode Title - Vietnamese" :colon="false">
                    <a-input
                      placeholder="Tập..."
                      v-decorator="['alternateName',{ rules: [{ required: true, message: 'Please input your Title!', whitespace: true }] }]"
                    />
                  </a-form-item>

                  <a-form-item label="Episode Title - English" :colon="false">
                    <a-input
                      placeholder="Episode..."
                      v-decorator="['name',{ rules: [{ required: true, message: 'Please input your Title!', whitespace: true }] }]"
                    />
                  </a-form-item>

                  <a-form-item label="Duration (minutes)" :colon="false">
                    <a-input
                      placeholder="45"
                      v-decorator="['duration',{ rules: [{ required: true, message: 'Please input your Title!' }] }]"
                    />
                  </a-form-item>

                  <a-form-item label="Episode Number" :colon="false">
                    <a-input v-decorator="['episodeNumber']" />
                  </a-form-item>

                  <a-form-item label="Long Description" :colon="false">
                    <a-textarea placeholder="Long Description" :rows="4" />
                  </a-form-item>

                  <a-form-item label="Short Description" :colon="false">
                    <a-textarea
                      placeholder="Short Description"
                      :rows="4"
                      v-decorator="['description',
                      { rules: [{ max: 120, message: 'Short Description cannot be longer than 120 characters', whitespace: true
                       }]         
                      }
                    ]"
                      :maxLength="120"
                    />
                  </a-form-item>

                  <a-form-item
                    label="Sync From"
                    :label-col="{ span: 3 }"
                    :wrapper-col="{ span: 25 }"
                  >
                    <a href="#">Google Sheet Link</a>
                  </a-form-item>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="row">
            <div class="card">
              <div class="card-body">
                <h4 class="text-black mb-3">
                  <strong>Source</strong>
                </h4>
                <dl class="row">
                  <dt class="col-xl-6">Status</dt>
                  <dd class="col-xl-6">Ready</dd>
                  <dt class="col-xl-6">Created date</dt>
                  <dd class="col-xl-6">18/08/2019</dd>
                  <dt class="col-xl-6">Last Sync</dt>
                  <dd class="col-xl-6">3 days ago</dd>
                </dl>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="card">
              <div class="card-body">
                <h4 class="text-black mb-3">
                  <strong>Source review</strong>
                </h4>
                <dl class="row">
                  <dt class="col-xl-6">Source 4K review</dt>
                  <dd class="col-xl-6">12/08/2019</dd>
                  <dt class="col-xl-6">Source HD review</dt>
                  <dd class="col-xl-6">18/08/2019</dd>
                </dl>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-body">
                  <h4 class="text-black mb-3">
                    <strong>Thumbnail</strong>
                  </h4>
                  <upload-image
                    :option="{
                    title: undefined,
                    dimensions: undefined,
                    photo: episodeData.image, 
                    functions: {
                      addImage: addImage,
                      activeImage: activeImage
                    },
                    uploadRoute: '/admin/movie/uploadImage',
                    uploadData: {
                      name: title.slug + '_episode_' + this.data.episode.episodeNumber,
                      seasonIndex: data.seasonIndex,
                      episodeIndex: data.episodeIndex,
                      type: 'episode'
                    },
                    config: imageConfig,
                    key: data.episode._id
                  }"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-body">
              <h4 class="text-black mb-3">
                <strong>Marker</strong>
              </h4>
              <div class="row">
                <div class="col-lg-6">
                  <a-form-item label="Marker Type">
                    <a-select
                      showSearch
                      placeholder="Ask user to play next Video"
                      style="width: 100%;"
                    >
                      <a-select-option value="red">Ask user to play next Video</a-select-option>
                      <a-select-option value="black">Play Advertising</a-select-option>
                    </a-select>
                  </a-form-item>
                </div>
                <div class="col-lg-6">
                  <a-form-item label="Description">
                    <a-input placeholder="Description" v-decorator="['title']" />
                  </a-form-item>
                </div>
                <div class="col-lg-6">
                  <a-form-item label="Next Video ID">
                    <a-input placeholder="Release Year" v-decorator="['title']" />
                  </a-form-item>
                </div>
                <div class="col-lg-6">
                  <div class="row">
                    <div class="col-lg-6">
                      <a-form-item label="Star time">
                        <a-input placeholder v-decorator="['title']" />
                      </a-form-item>
                    </div>
                    <div class="col-lg-6">
                      <a-form-item label="Time">
                        <a-input placeholder v-decorator="['title']" />
                      </a-form-item>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <a-form-item label="Message">
                    <a-input placeholder="Please play next Video" v-decorator="['title']" />
                  </a-form-item>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-lg-12">
                  <a-form-item>
                    <a-table
                      :columns="columns"
                      :rowKey="record => record.key"
                      :dataSource="dataMarker"
                    >
                      <div slot="status" slot-scope="status">
                        <a-switch :defaultChecked="status == 1 ? true: false" />
                      </div>
                    </a-table>
                  </a-form-item>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row float-right">
        <div class="col-lg-12">
          <a-button @click="handleCancel">CANCEL</a-button>
          <a-button type="primary" @click="handleApply">APPLY</a-button>
        </div>
      </div>
    </a-form>
  </div>
</template>

<script>
const columns = [
  {
    title: "#",
    dataIndex: "key"
  },
  {
    title: "Type",
    dataIndex: "type",
    scopedSlots: { customRender: "thumbnail" }
  },
  {
    title: "Next videoID",
    dataIndex: "next"
  },
  {
    title: "Start time",
    dataIndex: "start"
  },
  {
    title: "End time",
    dataIndex: "end"
  },
  {
    title: "",
    dataIndex: "status",
    scopedSlots: { customRender: "status" }
  }
];

const dataMarker = [
  {
    key: "1",
    type: "Ask user to play next video",
    next: "47'",
    start: "47'",
    end: "50'",
    status: 1
  },
  {
    key: "2",
    type: "Ask user to play next video",
    next: "47'",
    start: "47'",
    end: "50'",
    status: 0
  }
];

import { Form, Input, Select, Table, Button } from 'ant-design-vue';
import { mapGetters, mapActions } from "vuex";

window.Vue.use(Form);
window.Vue.use(Input);
window.Vue.use(Select);
window.Vue.use(Table);
window.Vue.use(Button);

export default {
  components: {
    UploadImage: () =>
      import(
        /* webpackChunkName: "js/chunks/upload-image.chunk" */ "@/backend/components/CommonComponents/UploadImage"
      )
  },
  props: {
    data: Object,
    functions: Object
  },
  data() {
    return {
      columns,
      dataMarker,
      episodeData: {
        image: []
      },
    };
  },
  computed: {
    ...mapGetters({
      title: "$_title/title"
    }),
    ...mapGetters("config", {
      imageConfig: "image"
    })
  },
  methods: {
    ...mapActions({
      editEpisode: "$_title/editEpisode",
      addEpisode: "$_title/addEpisode",
    }),
    unActiveAllImage() {
      this.episodeData.image = _.map(this.episodeData.image, function(value, key, collection) {
        return (value.status = "unActive"), value;
      });
    },
    activeImage(id) {
      this.unActiveAllImage();
      let index = _.findIndex(this.episodeData.image, {_id: id});
      this.episodeData.image[index].status = 'active';
    },
    addImage(image) {
      this.unActiveAllImage();
      this.episodeData.image.push(image);
    },
    handleApply() {
      this.form.validateFields((err, values) => {
        if (!err) {
          if (this.data.type === "edit") {
            this.editEpisode({
              seasonIndex: this.data.seasonIndex,
              episodeIndex: this.data.episodeIndex,
              episodeData: this.episodeData
            });
          } else {
            this.addEpisode({
              seasonIndex: this.data.seasonIndex,
              episodeData: this.episodeData
            });
          }
          this.$forceUpdate();
          this.functions.removeTab(this.data.tabKey);
        }
      });
    },
    handleCancel() {
      this.functions.removeTab(this.data.tabKey);
    }
  },
  beforeCreate() {
    let self = this;
    this.form = this.$form.createForm(this, {
      onValuesChange(dom, values) {
        _.merge(self.episodeData, values);
      }
    });
  },
  created() {
    this.episodeData = _.merge(this.episodeData, this.data.episode);
  },
  mounted() {
    this.form.setFieldsValue({
      _id: this.data.episode._id
    });
    this.form.setFieldsValue({
      legacy_id: this.data.episode.legacy_id
    });
    this.form.setFieldsValue({
      alternateName: this.data.episode.alternateName
    });
    this.form.setFieldsValue({
      episodeNumber: this.data.episode.episodeNumber
    });
    this.form.setFieldsValue({
      name: this.data.episode.name
    });
    this.form.setFieldsValue({
      duration: this.data.episode.duration
    });
    this.form.setFieldsValue({
      description: this.data.episode.description
    });
  }
};
</script>

<style>
</style>
