<template>
  <div id="container">
    <div class="col-lg-12">
      <div class="card card--withShadow">
        <div class="card-body">
          <div style="display:inline-block;width:80%;">
            <a-auto-complete
                    :dataSource="listSuggest"
                    @select="select"
                    @search="getSuggest"
                    :allowClear="true"
                    :defaultActiveFirstOption="false"
                    :open="open"
                    :class="$style.searchInput"
                    ref="searchInput"
            >
              <a-input
                      :class="$style.searchInput"
                      placeholder="Type to search..."
                      v-model="keyword"
                      v-on:keyup.enter="search"
                      v-on:keyup.esc="open = false"
              />
            </a-auto-complete>
          </div>

          <div style="display: inline-block; float: right;">
            <a-select v-model="status" style="width: 120px" @change="onChangeStatus">
              <a-select-option value="">All status</a-select-option>
              <a-select-option value="active">Active</a-select-option>
              <a-select-option value="inReview">In review</a-select-option>
              <a-select-option value="unActive">Unactive</a-select-option>
            </a-select>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-12" v-if="mode === 'portal'">
      <div class="row">
        <div class="col-lg-4">
          <div class="card card--withShadow">
            <div class="card-header">
              <cui-info-card form="bordered" icon="checkmark text-success" type="success" title="Active"
                             subTitle="Actived movies"/>
            </div>
            <div class="card-body">
              <div :class="$style.resultContent"
                   v-for="item in activeMovie">
                <a
                        :class="$style.resultThumb"
                        :style="{backgroundImage: 'url(' + getImageURL(item.thumbnail)+ ')'}"
                        :href="'/admin/movie/edit/'+item.legacy_id"
                ></a>
                <div :class="$style.result">
                  <div :class="$style.resultText"><a :href="'/admin/movie/edit/'+item.legacy_id">{{ item.alternateName
                    }}</a></div>
                  <div :class="$style.resultSource">{{ item.datePublished }}</div>
                </div>
              </div>
              <a href class="float-right" @click.prevent="seeMore('active')">See more...</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card card--withShadow">
            <div class="card-header">
              <cui-info-card form="bordered" icon="eye text-warning" type="warning" title="In review"
                             subTitle="Waiting for review"/>
            </div>
            <div class="card-body">
              <div :class="$style.resultContent"
                   v-for="item in inReviewMovie">
                <a
                        :class="$style.resultThumb"
                        :style="{backgroundImage: 'url(' + getImageURL(item.thumbnail)+ ')'}"
                        :href="'/admin/movie/edit/'+item.legacy_id"
                ></a>
                <div :class="$style.result">
                  <div :class="$style.resultText"><a :href="'/admin/movie/edit/'+item.legacy_id">{{ item.alternateName
                    }}</a></div>
                  <div :class="$style.resultSource">{{ item.datePublished }}</div>
                </div>
              </div>
              <a href class="float-right" @click.prevent="seeMore('inReview')">See more...</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card card--withShadow">
            <div class="card-header">
              <cui-info-card form="bordered" icon="cross text-default" type="default" title="Unactive"
                             subTitle="Unactived movies"/>
            </div>
            <div class="card-body">
              <div :class="$style.resultContent"
                   v-for="item in unActiveMovie">
                <a
                        :class="$style.resultThumb"
                        :style="{backgroundImage: 'url(' + getImageURL(item.thumbnail)+ ')'}"
                        :href="'/admin/movie/edit/'+item.legacy_id"
                ></a>
                <div :class="$style.result">
                  <div :class="$style.resultText"><a :href="'/admin/movie/edit/'+item.legacy_id">{{ item.alternateName
                    }}</a></div>
                  <div :class="$style.resultSource">{{ item.datePublished }}</div>
                </div>
              </div>
              <a href class="float-right" @click.prevent="seeMore('unActive')">See more...</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-12" v-else>
      <div class="card card--withShadow">
        <div class="card-header">
          <i class="icmn-list text-primary" style="padding: 10px; font-size: 28px;" v-if="status === ''"></i>
          <i class="icmn-checkmark text-success" style="padding: 10px; font-size: 28px;" v-if="status === 'active'"></i>
          <i class="icmn-eye text-warning" style="padding: 10px; font-size: 28px;" v-if="status === 'inReview'"></i>
          <i class="icmn-cross text-default" style="padding: 10px; font-size: 28px;" v-if="status === 'unActive'"></i>
          <div style="display: inline-block">
            <div class="utils__title" style="font-size: 14px;">
              <strong v-if="status === ''">All status</strong>
              <strong v-if="status === 'active'">Active</strong>
              <strong v-if="status === 'inReview'">In review</strong>
              <strong v-if="status === 'unActive'">Unactive</strong>
            </div>
            <div class="utils__titleDescription" style="font-size: 11px;">
              <span v-if="status === ''">List all movies</span>
              <span v-if="status === 'active'">Actived movies</span>
              <span v-if="status === 'inReview'">Waiting for review</span>
              <span v-if="status === 'unActive'">Unactived movies</span>
            </div>
          </div>
          <div class="float-right" style="padding-top: 20px;">
            <a href @click.prevent="goBack" class="float-right">Go back</a>
          </div>
        </div>
        <div class="card-body">
          <a-table
                  :rowKey="record => record.legacy_id"
                  :columns="columns"
                  :dataSource="title"
                  :pagination="pagination"
                  @change="onPageChange"
                  :loading="loading"
                  class="utils__scrollTable"
                  :scroll="{ x: '100%' }"
          >
            <template slot="#" slot-scope="value, row, index">
              <span>{{ index + 1 }}</span>
            </template>
            <template slot="knownAs" slot-scope="value, record, index">
              <a :href="'/admin/movie/edit/' + record.legacy_id">{{ value }}</a>
            </template>
            <template slot="backdrop" slot-scope="value, record, index">
              <img
                      :src="getImageURL(value)"
                      width="100px"/>

            </template>
            <template slot="movieType" slot-scope="value">
              {{ capitalize(value) }}
            </template>
            <template slot="expireDay" slot-scope="value">
              {{ (new Date(value)).toDateString() }}
            </template>
            <template slot="status" slot-scope="value">
              <span class="text-success" v-if="value == 'active'">{{ capitalize(value) }}</span>
              <span class="text-warning" v-if="value == 'inReview'">{{ capitalize(value) }}</span>
              <span class="text-default" v-if="value == 'unActive'">{{ capitalize(value) }}</span>
            </template>
            <template slot="action" slot-scope="value, record, index">
              <a-button icon="edit" size="small" class="mr-1" @click="viewMovie(record.legacy_id)">Edit</a-button>
              <a-button icon="cross" size="small">Remove</a-button>
            </template>
          </a-table>
        </div>
      </div>
    </div>

  </div>
</template>

<script>
  const colums = [
    {
      title: '',
      dataIndex: '',
      scopedSlots: {customRender: '#'},
    },
    {
      title: 'Back Drop',
      dataIndex: 'thumbnail',
      scopedSlots: {
        customRender: 'backdrop',
      },
    },
    {
      title: 'Title',
      dataIndex: 'alternateName',
      scopedSlots: {
        customRender: 'knownAs'
      },
    },
    {
      title: 'Price',
      dataIndex: 'priceType',
    },
    {
      title: 'Movie Type',
      dataIndex: 'type',
      scopedSlots: {
        customRender: 'movieType',
      },
    },
    {
      title: 'Publish On',
      dataIndex: 'datePublished'
    },
    {
      title: 'Expire Day',
      dataIndex: 'copyrightExpireOn',
      scopedSlots: {
        customRender: 'expireDay',
      },
    },
    {
      title: 'Status',
      dataIndex: 'status',
      scopedSlots: {
        customRender: 'status',
      },
    },
    {
      title: '',
      scopedSlots: {
        customRender: 'action',
      },
    },
  ]

  import { AutoComplete, Input, Select, Table, Button } from 'ant-design-vue'
  import {mapGetters} from 'vuex'
  window.Vue.use(AutoComplete)
  window.Vue.use(Input)
  window.Vue.use(Select)
  window.Vue.use(Table)
  window.Vue.use(Button)

  export default {
    components: {
      CuiInfoCard: () => import( /* webpackChunkName: "js/chunks/cui-info-card.chunk" */ '@/backend/components/CleanUIComponents/InfoCard')
    },
    props: {
      activeMovie: Array,
      unActiveMovie: Array,
      inReviewMovie: Array,
    },
    data() {
      return {
        timer: null,
        mode: 'portal',
        status: '',
        loading: false,
        pagination: {
          pageSize: 10,
          total: '',
          showTotal:(total, range) => `${range[0]}-${range[1]} of ${total} items`
        },
        columns: colums,
        keyword: undefined,
        listSuggest: [],
        title: [],
        open: false
      }
    },
    computed: {
      ...mapGetters('config', {
        image: 'image'
      }),
    },
    methods: {
      onChangeStatus() {
        if (this.mode === 'detail') {
          this.search()
        }
        this.$refs.searchInput.focus()
      },
      seeMore(status) {
        this.mode = 'detail'
        this.keyword = ''
        this.status = status
        this.pagination = {
          pageSize: 10,
          total: this.title.length,
          showTotal:(total, range) => `${range[0]}-${range[1]} of ${total} items`
        }
        this.onChangeStatus()
      },
      goBack() {
        this.mode = 'portal'
        this.status = ''
        this.keyword = ''
        this.pagination = {
          pageSize: 10,
          total: this.title.length,
          showTotal:(total, range) => `${range[0]}-${range[1]} of ${total} items`
        }
      },
      getSuggest(value) {
        if (value != '' && value != undefined) {
          clearInterval(this.timer)
          this.timer = setInterval(function () {
            clearInterval(this.timer)
            axios
                    .get('/admin/movie/suggest', {
                      params: {
                        keyword: value,
                        size: 10,
                        grateful: 0
                      }
                    })
                    .then(response => {
                      this.listSuggest = response.data.terms
                      this.open = true
                      if (this.listSuggest == undefined) {
                        this.open = false
                      }
                    })
          }.bind(this), 300)
        } else {
          clearInterval(this.timer)
          this.open = false
        }
      },
      select(value) {
        this.keyword = value
        this.pagination.total = this.title.length
        this.search()
      },
      change(value) {
        console.log(value)
      },
      search() {
        this.open = false
        this.mode = 'detail'
        this.loading = true
        if (this.keyword == undefined || this.keyword.trim() == '') {
          axios
                  .get('/admin/movie', {
                    params: {
                      status: this.status,
                      page: this.pagination.current
                    }
                  })
                  .then(response => {
                    this.title = response.data.docs
                    this.pagination.total = typeof response.data.total === "number" ? response.data.total : 0
                    this.loading = false
                  })
        } else {
          axios
                  .get('/admin/movie/search', {
                    params: {
                      keyword: this.keyword,
                      status: this.status,
                      size: this.pagination.pageSize,
                      page: this.pagination.current - 1
                    }
                  })
                  .then(response => {
                    this.title = response.data.docs
                    this.pagination.total = typeof response.data.total === "number" ? response.data.total : 0
                    this.loading = false
                  })
        }
      },
      onPageChange(page, pageSize) {
        this.pagination = page
        this.search()
      },
      viewMovie(id) {
        window.location.href = '/admin/movie/edit/' + id
      },
      capitalize(string) {
        return string.charAt(0).toUpperCase() + string.slice(1)
      },
      getImageURL(filename) {
        if (filename) {
          return this.image.resize.w300 + filename
        }
        return '/img/backend/404error.jpeg'
      },
    },
    mounted() {
      this.$refs.searchInput.focus()
    },
  }
</script>

<style lang="scss" module>
  @import "./style.module.scss"
</style>

