@import '@/backend/assets/styles/mixins.scss';

.searchInput {
    width: 100%;
    font-size: rem(24);
    font-weight: bold;
    padding: 0;
    height: auto;
    border: none;
}

.options {
    padding: 0;
    margin: 0;
    list-style: none;
}

.option {
    display: inline-block;
    margin-right: rem(26);
    font-size: rem(13);
    color: $text;

    &:last-child {
        margin-right: 0;
    }
}

.optionRadio {
    color: $text !important;
}

.optionCheckbox {
    :global(.ant-checkbox-wrapper) {
        color: $text;

        :global(.ant-checkbox) {
            top: -0.19em;
        }

        :global(.ant-checkbox-inner) {
            border-color: $gray-darken;
        }

        :global(.ant-checkbox-checked) {
            :global(.ant-checkbox-inner) {
                background-color: $gray-darken;
            }
            &:after {
                border: 1px solid $gray-darken;
            }
        }
    }
}

.suggestion {
    margin-bottom: rem(40);

    @media (max-width: $sm-max-width) {
        margin-bottom: rem(15);
    }
}

.resultsTitle {
    font-weight: 700;
    margin-bottom: rem(20);
}

.resultThumb {
    display: block;
    width: rem(89);
    height: rem(50);
    border-radius: 4px;
    overflow: hidden;
    background-color: $default;
    color: #fff;
    line-height: rem(54);
    text-align: center;
    font-size: rem(18);
    font-weight: bold;
    background-size: cover;
    float: left;
}

.resultContent {
    margin-bottom: rem(15);
    min-height: rem(50);
}

.result {
    display: block;
    margin-left: rem(100);
    padding-top: rem(8);
}

.resultText {
    font-weight: 300;
    font-size: rem(15);
    line-height: 1;

    @media (max-width: $xs-max-width) {
        font-size: rem(10);
    }
}

.resultSource {
    color: $text-lighten;
}

.thumbnail {
    display: inline-block;
    width: 4.28rem;
    height: 4.28rem;
    border: 1px solid #e4e9f0;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background: #fff;
    text-align: center;

    img {
        max-width: 100%;
        min-height: 100%;
        max-height: 100%;
        vertical-align: middle;
    }
}
