<template>
  <a-tabs v-model="activeKey" tabPosition="right" type="editable-card" hideAdd @edit="onEdit">
    <a-tab-pane v-for="pane in panes" :tab="pane.title" :key="pane.key" :closable="pane.closable">
      <component :is="pane.content" :functions="pane.params" :data="pane.data"></component>
    </a-tab-pane>
  </a-tabs>
</template>
<script>
  import { Tabs } from 'ant-design-vue';
  import {mapGetters} from 'vuex'
  import {ObjectID} from 'bson'

  window.Vue.use(Tabs);

  export default {
    components: {
      ListSeason: () => import(/* webpackChunkName: "js/chunks/list-season.chunk" */ './list/index.vue'),
      SeasonDetail: () => import(/* webpackChunkName: "js/chunks/season-detail.chunk" */ './detail/season/index.vue'),
      EpisodeDetail: () => import(/* webpackChunkName: "js/chunks/episode-detail.chunk" */ './detail/episode/index.vue'),
    },
    data() {
      const panes = [
        {
          title: 'Listing',
          content: 'list-season',
          key: 'list',
          params: {
            editEpisode: this.editEpisode,
            editSeason: this.editSeason,
            addEpisode: this.addEpisode,
            addSeason: this.addSeason,
            removeEpisode: this.removeEpisode,
            removeSeason: this.removeSeason
          },
          closable: false,
        }
      ]

      return {
        panes,
        activeKey: 'list',
      }
    },
    computed: {
      ...mapGetters({
        movieData: '$_title/title'
      }),
    },
    methods: {
      onEdit(targetKey, action) {
        if (action == 'remove') {
          this.removeTab(targetKey)
        }
      },
      removeTab(targetKey) {
        let activeKey = this.activeKey
        let lastIndex
        this.panes.forEach((pane, i) => {
          if (pane.key === targetKey) {
            lastIndex = i - 1
          }
        })
        const panes = this.panes.filter(pane => pane.key !== targetKey)
        if (lastIndex >= 0 && activeKey === targetKey) {
          activeKey = panes[lastIndex].key
        }
        this.panes = panes
        this.activeKey = activeKey
      },
      editEpisode(seasonIndex, episodeIndex) {
        let season = this.movieData.containsSeason[seasonIndex]
        let episode = season.episode[episodeIndex]
        if (
          _.find(this.panes, {key: 'episode-' + episode._id + 'season-' + season._id}) ==
          undefined
        ) {
          let episodeDetail = {
            title: 'Episode ' + episode.episodeNumber + ' - Season ' + season.seasonNumber,
            content: 'episode-detail',
            key: 'episode-' + episode._id + '-season-' + season._id,
            data: {
              seasonIndex: seasonIndex,
              episodeIndex: episodeIndex,
              episode: episode,
              type: 'edit',
              tabKey: 'episode-' + episode._id + '-season-' + season._id
            },
            params: {
              removeTab: this.removeTab
            },
            closable: true
          }
          this.panes.push(episodeDetail)
        }
        this.activeKey = 'episode-' + episode._id + '-season-' + season._id
      },
      addEpisode(seasonIndex) {
        let season = this.movieData.containsSeason[seasonIndex]

        // Generate _id for episode
        let arrayIdEpisode = []
        let _id = new ObjectID()
        season.episode.forEach((value, index, array) => {
          arrayIdEpisode.push(value._id)
        })
        while (arrayIdEpisode.includes(_id.toString() != false)) {
          _id = new ObjectID()
        }

        let episode = {
          _id: _id.toString(),
          episodeNumber: undefined,
          alternateName: undefined,
          legacy_id: undefined,
          name: undefined,
          duration: undefined,
          description: undefined,
          image: []
        }

        let episodeDetail = {
          title: 'Tập mới - Season ' + season.seasonNumber,
          content: 'episode-detail',
          key: 'episode-' + episode._id + '-season-' + season._id,
          data: {
            seasonIndex: seasonIndex,
            episodeIndex: season.episode.length,
            episode: episode,
            type: 'add',
            tabKey: 'episode-' + episode._id + '-season-' + season._id
          },
          params: {
            removeTab: this.removeTab
          },
          closable: true
        }

        this.panes.push(episodeDetail)
        this.activeKey = 'episode-' + episode._id + '-season-' + season._id
      },
      removeEpisode(seasonIndex, episodeIndex) {
        let season = this.movieData.containsSeason[seasonIndex]
        let episode = season.episode[episodeIndex]
        this.removeTab('episode-' + episode.episodeNumber + 'season-' + season.seasonNumber)
        this.movieData.containsSeason[seasonIndex].episode.splice(episodeIndex, 1)
      },
      editSeason(seasonIndex) {
        let season = this.movieData.containsSeason[seasonIndex]
        if (_.find(this.panes, {key: 'season-' + season._id}) == undefined) {
          let seasonDetail = {
            title: 'Season ' + season.seasonNumber,
            content: 'season-detail',
            key: 'season-' + season._id,
            data: {
              seasonIndex: seasonIndex, 
              season: season,
              type: 'edit',
              tabKey: 'season-' + season._id
            },
            params: {
              removeTab: this.removeTab
            },
            closable: true
          }
          this.panes.push(seasonDetail)
        }
        this.activeKey = 'season-' + season._id
      },
      addSeason() {
        // Generate _id for episode
        let arrayIdSeason = []
        let _id = new ObjectID()
        this.movieData.containsSeason.forEach((value, index, array) => {
          arrayIdSeason.push(value._id)
        })
        while (arrayIdSeason.includes(_id.toString() != false)) {
          _id = new ObjectID()
        }

        let season = {
          _id: _id.toString(),
          name: undefined,
          alternateName: undefined,
          seasonNumber: undefined,
          slug: undefined,
          numberOfEpisodes: undefined,
          episode: []
        }

        let seasonDetail = {
          title: 'Phần mới',
          content: 'season-detail',
          key: 'season-' + season._id,
          data: {
            seasonIndex: this.movieData.containsSeason.length, 
            season: season,
            type: 'add',
            tabKey: 'season-' + season._id
          },
          params: {
            removeTab: this.removeTab
          },
          closable: true
        }

        this.panes.push(seasonDetail)
        this.activeKey = 'season-' + season._id
      },
      removeSeason(seasonIndex) {
        let season = this.movieData.containsSeason[seasonIndex]
        this.removeTab('season-' + season.seasonNumber)
        this.movieData.containsSeason.splice(seasonIndex, 1)
      },
    }
  }
</script>
<style>
</style>
