<template>
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <h4 class="text-black mb-3">
            <strong>Marker</strong>
          </h4>
          <div class="row">
            <div class="col-lg-6">
              <a-form-item label="Marker Type">
                <a-select showSearch placeholder="Ask user to play next Video"
                          style="width: 100%;" defaultValue="Ask user to play next Video">
                  <a-select-option value="red">Ask user to play next Video</a-select-option>
                  <a-select-option value="black">Play Advertising</a-select-option>
                </a-select>
              </a-form-item>
            </div>
            <div class="col-lg-6">
              <a-form-item label="Description">
                <a-input placeholder="Description" v-decorator="['title']"
                         defaultValue=""/>
              </a-form-item>
            </div>
            <div class="col-lg-6">
              <a-form-item label="Next Video ID">
                <a-input placeholder="Release Year" v-decorator="['title']"
                         defaultValue="123456"/>
              </a-form-item>
            </div>
            <div class="col-lg-6">
              <div class="row">
                <div class="col-lg-6">
                  <a-form-item label="Star time">
                    <a-input placeholder="" v-decorator="['title']"
                             defaultValue="42"/>
                  </a-form-item>
                </div>
                <div class="col-lg-6">
                  <a-form-item label="Time">
                    <a-input placeholder="" v-decorator="['title']"
                             defaultValue="52"/>
                  </a-form-item>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <a-form-item label="Message">
                <a-input placeholder="Please play next Video" v-decorator="['title']"
                         defaultValue="Please play next Video"/>
              </a-form-item>
            </div>
          </div>
          <hr/>
          <div class="row">
            <div class="col-lg-12">
              <a-form-item>
                <a-table :columns="columns"
                         :rowKey="record => record.key"
                         :dataSource="data"
                         :pagination="pagination"
                >
                  <div slot="status" slot-scope="status">
                    <a-switch :defaultChecked="status == 1 ? true: false"/>
                  </div>
                </a-table>
              </a-form-item>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  const columns = [{
    title: '#',
    dataIndex: 'key',
    // scopedSlots: {customRender: 'thumbnail'},
  }, {
    title: 'Type',
    dataIndex: 'type',
    scopedSlots: {customRender: 'thumbnail'},
  }, {
    title: 'Next videoID',
    dataIndex: 'next',
  }, {
    title: 'Start time',
    dataIndex: 'start',
    // scopedSlots: {customRender: 'source_status'} ,
  }, {
    title: 'End time',
    dataIndex: 'end',
    // scopedSlots: {customRender: 'source_status'},
  }, {
    title: '',
    dataIndex: 'status',
    scopedSlots: {customRender: 'status'},
  }]

  const data = [{
    key: '1',
    type: 'Ask user to play next video',
    next: "47'",
    start: "47'",
    end: "50'",
    status: 1
  }, {
    key: '2',
    type: 'Ask user to play next video',
    next: "47'",
    start: "47'",
    end: "50'",
    status: 0
  }]

  import { Select, Input, Table, Switch } from 'ant-design-vue';
  
  window.Vue.use(Select);
  window.Vue.use(Input);
  window.Vue.use(Table);
  window.Vue.use(Switch);


  export default {
    data() {
      return {
        columns,
        data,
        pagination: {
          total: 2,
          showTotal:(total, range) => `${range[0]}-${range[1]} of ${total} items`,
          pageSize: 10
        },
      }
    },
  }
</script>

<style scoped>

</style>

