<template>
  <div class="row">
    <div class="col-lg-12">
      <a-tabs defaultActiveKey="1" :tabPosition="tabPosition">
        <a-tab-pane tab="Ribbon" key="1">
          <keep-alive>
            <ribbon/>
          </keep-alive>
        </a-tab-pane>
        <a-tab-pane tab="Related" key="2">
          <keep-alive>
            <related/>
          </keep-alive>
        </a-tab-pane>
      </a-tabs>
    </div>
  </div>
</template>

<script>
  export default {
    components: {
      'ribbon': () => import(/* webpackChunkName: "js/chunks/display-ribbon.chunk" */ './ribbon/index.vue'),
      'related': () => import(/* webpackChunkName: "js/chunks/display-related.chunk" */ './related/index.vue'),
    },
    data() {
      return {
        tabPosition: 'right'
      }
    },
  }
</script>

<style>

</style>
