<template>
    <div class="row">
        <div class="col-lg-12">
            <a-form
                    :form="form"
                    @submit.prevent="handleSubmit"
            >
                <div class="row">
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="text-black mb-3">
                                    <strong>Page Information</strong>
                                </h4>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <a-form-item label="Name" :colon=false>
                                            <a-input placeholder="Name"
                                                     v-decorator="['name',{ rules: [{ required: true, message: 'Please input your Name' }] }]"
                                            />
                                        </a-form-item>
                                    </div>
                                    <!-- titleEnglish -->
                                    <div class="col-lg-6">
                                        <a-form-item label="Page Title-English" :colon=false>
                                            <a-input placeholder="title English"
                                                     v-decorator="['titleEnglish',{ rules: [{ required: true, message: 'Please input your title English' }] }]"
                                            />
                                        </a-form-item>
                                    </div>

                                    <!-- Platform -->
                                    <div class="col-lg-6">
                                        <a-form-item label="Platform" :colon="false">
                                            <a-input placeholder="Platform"
                                                     v-decorator="['platform',{initialValue: 'website'}]"
                                                     disabled
                                            />
                                        </a-form-item>
                                    </div>

                                    <!-- titleVietnamese -->
                                    <div class="col-lg-6">
                                        <a-form-item label="Page Title-Vietnamese" :colon=false>
                                            <a-input placeholder="title Vietnamese"
                                                     v-decorator="['titleVietnamese',{ rules: [{ required: true, message: 'Please input your title Vietnamese' }] }]"
                                            />
                                        </a-form-item>
                                    </div>

                                    <!-- slug -->
                                    <div class="col-lg-6">
                                        <a-form-item label="Slug" :colon=false>
                                            <a-input placeholder="Slug"
                                                     v-decorator="['slug',{ rules: [{ required: true, message: 'Please input your Slug' }] }]"
                                            />
                                        </a-form-item>
                                    </div>
                                    <!-- Status -->
                                    <div class="col-lg-6">
                                        <a-form-item label=" " :colon=false>
                                            <a-checkbox @change="onCheck" v-decorator="['status', {initialValue: checkbox}]">Active</a-checkbox>
                                        </a-form-item>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <!--Spotlight-->
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <a-form-item label="Ribbon Spotlight" :colon=false>
                                                    <a-auto-complete
                                                            @select="select"
                                                            @search="search(keyword,'Spotlight')"
                                                            :value="keyword"
                                                            :open="openSpotligh"
                                                            :allowClear="true"
                                                            :class="$style.searchInput"
                                                            ref="searchInput"
                                                            optionLabelProp="text"
                                                    >
                                                        <template slot="dataSource">
                                                            <a-select-option v-for="item in listSearch" :key="item._id+'-'+item.ribbonType" :text="item.name">
                                                                <div class="ant-list-item">
                                                                    <div class="ant-list-item-meta">
                                                                        <div class="ant-list-item-meta-content">
                                                                            <h4 class="ant-list-item-meta-title" style="font-size: 12px">
                                                                                Name : {{ item.name }}
                                                                            </h4>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </a-select-option>
                                                        </template>
                                                        <a-input-search
                                                                :class="$style.searchInput"
                                                                placeholder="Searching..."
                                                                v-model="keyword"
                                                                v-on:keyup.esc="openSpotligh = false"
                                                        />
                                                    </a-auto-complete>
                                                </a-form-item>
                                            </div>

                                            <div class="col-lg-12 mt-2">
                                                <a-list itemLayout="horizontal" :dataSource="ribbonLocal.spotlight" :rowKey="record => record._id">
                                                    <a-list-item slot="renderItem" slot-scope="record">
                                                        <a-list-item-meta :description="record.name+'-'+record.alternateName" class="ant-message-info">
                                                            <span slot="title">{{record.name}}</span>
                                                        </a-list-item-meta>
                                                        <a slot="actions" @click="onClose(record._id, record.ribbonType)">x</a>
                                                    </a-list-item>
                                                </a-list>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--landScape Top-->
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <a-form-item label="Ribbon Landscape top" :colon=false>
                                                    <a-auto-complete
                                                            @select="select"
                                                            @search="search(keywordLanscape,'Landscape','top')"
                                                            :value="keywordLanscape"
                                                            :open="openLanscape"
                                                            :allowClear="true"
                                                            :class="$style.searchInput"
                                                            ref="searchInput"
                                                            optionLabelProp="text"
                                                    >
                                                        <template slot="dataSource">
                                                            <a-select-option v-for="item in listSearchLanscape" :key="item._id+'-'+'LandscapeTop'" :text="item.name">
                                                                <div class="ant-list-item">
                                                                    <div class="ant-list-item-meta">
                                                                        <div class="ant-list-item-meta-content">
                                                                            <h4 class="ant-list-item-meta-title" style="font-size: 12px">
                                                                                Name : {{ item.name }}
                                                                            </h4>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </a-select-option>
                                                        </template>
                                                        <a-input-search
                                                                :class="$style.searchInput"
                                                                placeholder="Searching..."
                                                                v-model="keywordLanscape"
                                                                v-on:keyup.esc="openLanscape = false"
                                                        />
                                                    </a-auto-complete>
                                                </a-form-item>
                                            </div>
                                            <div class="col-lg-12 mt-2">
                                                <a-list itemLayout="horizontal" :dataSource="ribbonLocal.landscapeTop" :rowKey="record => record._id">
                                                    <a-list-item slot="renderItem" slot-scope="record">
                                                        <a-list-item-meta :description="record.name+'-'+record.alternateName">
                                                            <span slot="title">{{record.name}}</span>
                                                        </a-list-item-meta>
                                                        <a slot="actions" @click="onClose(record._id, 'LandscapeTop')">x</a>
                                                    </a-list-item>
                                                </a-list>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Sponsor-->
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <a-form-item label="Ribbon Sponsor" :colon=false>
                                                    <a-auto-complete
                                                            @select="select"
                                                            @search="search(keywordSponsor,'Sponsor')"
                                                            :value="keywordSponsor"
                                                            :open="openSponsor"
                                                            :allowClear="true"
                                                            :class="$style.searchInput"
                                                            ref="searchInput"
                                                            optionLabelProp="text"
                                                    >
                                                        <template slot="dataSource">
                                                            <a-select-option v-for="item in listSearchSponsor" :key="item._id+'-'+item.ribbonType" :text="item.name">
                                                                <div class="ant-list-item">
                                                                    <div class="ant-list-item-meta">
                                                                        <div class="ant-list-item-meta-content">
                                                                            <h4 class="ant-list-item-meta-title" style="font-size: 12px">
                                                                                Name : {{ item.name }}
                                                                            </h4>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </a-select-option>
                                                        </template>
                                                        <a-input-search
                                                                :class="$style.searchInput"
                                                                placeholder="Searching..."
                                                                v-model="keywordSponsor"
                                                                v-on:keyup.esc="openSponsor = false"
                                                        />
                                                    </a-auto-complete>
                                                </a-form-item>
                                            </div>
                                            <div class="col-lg-12 mt-2">
                                                <a-list itemLayout="horizontal" :dataSource="ribbonLocal.sponsor" :rowKey="record => record._id">
                                                    <a-list-item slot="renderItem" slot-scope="record">
                                                        <a-list-item-meta :description="record.name+'-'+record.alternateName">
                                                            <span slot="title">{{record.name}}</span>
                                                        </a-list-item-meta>
                                                        <a slot="actions" @click="onClose(record._id, record.ribbonType)">x</a>
                                                    </a-list-item>
                                                </a-list>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Landscape Middle-->
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <a-form-item label="Ribbon Landscape Middle" :colon=false>
                                                    <a-auto-complete
                                                            @select="select"
                                                            @search="search(keywordLandscapeMiddle,'Landscape','middle')"
                                                            :value="keywordLandscapeMiddle"
                                                            :open="openLandscapeMiddle"
                                                            :allowClear="true"
                                                            :class="$style.searchInput"
                                                            ref="searchInput"
                                                            optionLabelProp="text"
                                                    >
                                                        <template slot="dataSource">
                                                            <a-select-option v-for="item in listSearchLandscapeMiddle" :key="item._id+'-'+'LandscapeMiddle'" :text="item.name">
                                                                <div class="ant-list-item">
                                                                    <div class="ant-list-item-meta">
                                                                        <div class="ant-list-item-meta-content">
                                                                            <h4 class="ant-list-item-meta-title" style="font-size: 12px">
                                                                                Name : {{ item.name }}
                                                                            </h4>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </a-select-option>
                                                        </template>
                                                        <a-input-search
                                                                :class="$style.searchInput"
                                                                placeholder="Searching..."
                                                                v-model="keywordLandscapeMiddle"
                                                                v-on:keyup.esc="openLandscapeMiddle = false"
                                                        />
                                                    </a-auto-complete>
                                                </a-form-item>
                                            </div>
                                            <div class="col-lg-12 mt-2">
                                                <a-list itemLayout="horizontal" :dataSource="ribbonLocal.landscapeMiddle" :rowKey="record => record._id">
                                                    <a-list-item slot="renderItem" slot-scope="record">
                                                        <a-list-item-meta :description="record.name+'-'+record.alternateName">
                                                            <span slot="title">{{record.name}}</span>
                                                        </a-list-item-meta>
                                                        <a slot="actions" @click="onClose(record._id, 'LandscapeMiddle')">x</a>
                                                    </a-list-item>
                                                </a-list>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Original-->
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <a-form-item label="Ribbon Original" :colon=false>
                                                    <a-auto-complete
                                                            @select="select"
                                                            @search="search(keywordOriginal,'Original')"
                                                            :value="keywordOriginal"
                                                            :open="openOriginal"
                                                            :allowClear="true"
                                                            :class="$style.searchInput"
                                                            ref="searchInput"
                                                            optionLabelProp="text"
                                                    >
                                                        <template slot="dataSource">
                                                            <a-select-option v-for="item in listOriginal" :key="item._id+'-'+item.ribbonType" :text="item.name">
                                                                <div class="ant-list-item">
                                                                    <div class="ant-list-item-meta">
                                                                        <div class="ant-list-item-meta-content">
                                                                            <h4 class="ant-list-item-meta-title" style="font-size: 12px">
                                                                                Name : {{ item.name }}
                                                                            </h4>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </a-select-option>
                                                        </template>
                                                        <a-input-search
                                                                :class="$style.searchInput"
                                                                placeholder="Searching..."
                                                                v-model="keywordOriginal"
                                                                v-on:keyup.esc="openOriginal = false"
                                                        />
                                                    </a-auto-complete>
                                                </a-form-item>
                                            </div>
                                            <div class="col-lg-12 mt-2">
                                                <a-list itemLayout="horizontal" :dataSource="ribbonLocal.original" :rowKey="record => record._id">
                                                    <a-list-item slot="renderItem" slot-scope="record">
                                                        <a-list-item-meta :description="record.name+'-'+record.alternateName">
                                                            <span slot="title">{{record.name}}</span>
                                                        </a-list-item-meta>
                                                        <a slot="actions" @click="onClose(record._id, record.ribbonType)">x</a>
                                                    </a-list-item>
                                                </a-list>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--landScape Bottom-->
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <a-form-item label="Ribbon Landscape Bottom" :colon=false>
                                                    <a-auto-complete
                                                            @select="select"
                                                            @search="search(keywordLanscapeBottom,'Landscape','bottom')"
                                                            :value="keywordLanscapeBottom"
                                                            :open="openLanscapeBottom"
                                                            :allowClear="true"
                                                            :class="$style.searchInput"
                                                            ref="searchInput"
                                                            optionLabelProp="text"
                                                    >
                                                        <template slot="dataSource">
                                                            <a-select-option v-for="item in listSearchLanscapeBottom" :key="item._id+'-'+'LandscapeBottom'" :text="item.name">
                                                                <div class="ant-list-item">
                                                                    <div class="ant-list-item-meta">
                                                                        <div class="ant-list-item-meta-content">
                                                                            <h4 class="ant-list-item-meta-title" style="font-size: 12px">
                                                                                Name : {{ item.name }}
                                                                            </h4>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </a-select-option>
                                                        </template>
                                                        <a-input-search
                                                                :class="$style.searchInput"
                                                                placeholder="Searching..."
                                                                v-model="keywordLanscapeBottom"
                                                                v-on:keyup.esc="openLanscapeBottom = false"
                                                        />
                                                    </a-auto-complete>
                                                </a-form-item>
                                            </div>
                                            <div class="col-lg-12 mt-2">
                                                <a-list itemLayout="horizontal" :dataSource="ribbonLocal.landscapeBottom" :rowKey="record => record._id">
                                                    <a-list-item slot="renderItem" slot-scope="record">
                                                        <a-list-item-meta :description="record.name+'-'+record.alternateName">
                                                            <span slot="title">{{record.name}}</span>
                                                        </a-list-item-meta>
                                                        <a slot="actions" @click="onClose(record._id, 'LandscapeBottom')">x</a>
                                                    </a-list-item>
                                                </a-list>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 text-right">
                        <div class="form-actions">
                            <a-button type="default">CANCEL</a-button>
                            <a-button type="primary" class="mr-2" html-type="submit">SAVE</a-button>
                        </div>
                    </div>
                </div>
            </a-form>
        </div>
    </div>
</template>

<script>
    import {mapGetters, mapMutations, mapActions} from "vuex"
    import ConfigData from '../page.json';
    import { Table, AutoComplete, Button, Select, Input, Form, Checkbox, List } from 'ant-design-vue';
    window.Vue.use(Table);
    window.Vue.use(AutoComplete);
    window.Vue.use(Button);
    window.Vue.use(Select);
    window.Vue.use(Input);
    window.Vue.use(Form);
    window.Vue.use(Checkbox);
    window.Vue.use(List);

    export default {
        beforeCreate() {
            this.form = this.$form.createForm(this);
        },
        data() {
            return {
                keyword: undefined,
                keywordLanscape: undefined,
                keywordOriginal: undefined,
                keywordLanscapeBottom: undefined,
                keywordSponsor: undefined,
                keywordLandscapeMiddle: undefined,
                openSpotligh: false,
                openLanscape: false,
                openOriginal: false,
                openSponsor: false,
                openLanscapeBottom: false,
                openLandscapeMiddle: false,
                listSearch: [],
                listSearchLanscape: [],
                listOriginal: [],
                listSearchLanscapeBottom: [],
                listSearchSponsor: [],
                listSearchLandscapeMiddle: [],
                dataListSpotligh: [],
                dataListLanscape: [],
                dataListOriginal: [],
                dataListSponsor: [],
                dataListLanscapeBottom: [],
                dataListLandscapeMiddle: [],
                ribbonList: {
                    spotlight: [],
                    landscapeTop: [],
                    sponsor: [],
                    landscapeMiddle: [],
                    original: [],
                    landscapeBottom: [],
                },
                ribbonLocal: {
                    spotlight: [],
                    landscapeTop: [],
                    sponsor: [],
                    landscapeMiddle: [],
                    original: [],
                    landscapeBottom: [],
                },
                checkbox: false,
                ConfigData
            }

        },
        computed: {
            ...mapGetters("page/detail", {
                pageData: "page",
            }),
        },
        methods: {
            onCheck (checkedValues) {},
            search(keyword,ribbonType,position) {
                clearInterval(this.timer);
                this.timer = setInterval(function () {
                    clearInterval(this.timer);
                    axios
                        .get('/admin/page/searchRibbon', {
                            params: {
                                keyword: keyword,
                                ribbonType: ribbonType,
                                position: position,
                            }
                        })
                        .then(response => {
                            if (response.data.data.ribbonType == 'LandscapeTop') {
                                this.listSearchLanscape = response.data.data.ribbon.data
                                this.openLanscape = true
                            } else if (response.data.data.ribbonType == 'Spotlight') {
                                this.listSearch = response.data.data.ribbon.data
                                this.openSpotligh = true
                            } else if (response.data.data.ribbonType == 'Original') {
                                this.listOriginal = response.data.data.ribbon.data
                                this.openOriginal = true
                            } else if (response.data.data.ribbonType == 'LandscapeBottom') {
                                this.listSearchLanscapeBottom = response.data.data.ribbon.data
                                this.openLanscapeBottom = true
                            } else if (response.data.data.ribbonType == 'LandscapeMiddle') {
                                this.listSearchLandscapeMiddle = response.data.data.ribbon.data
                                this.openLandscapeMiddle = true
                            } else if (response.data.data.ribbonType == 'Sponsor') {
                                this.listSearchSponsor = response.data.data.ribbon.data
                                this.openSponsor = true
                            }

                        })
                        .catch(error => {
                            console.log(error)
                        });
                }.bind(this), 300)
            },
            select(value) {
                let data = value.split('-');
                clearInterval(this.timer);
                this.timer = setInterval(function () {
                    clearInterval(this.timer);
                    axios
                        .get('/admin/page/findIdRibbon', {
                            params: {
                                id: data[0],
                                ribbonType: data[1],
                            }
                        })
                        .then(response => {
                            if (response.data.data.ribbonType == 'Spotlight') {
                                this.dataListSpotligh = response.data.data.data.ribbon
                                let ribbonList = {
                                    '_id': response.data.data.data.ribbon._id
                                }
                                let checkDuplicate = _.find(this.ribbonList.spotlight, {'_id': response.data.data.data.ribbon._id})
                                if (checkDuplicate === undefined) {
                                    this.ribbonList.spotlight.push(ribbonList)
                                    this.ribbonLocal.spotlight.push(this.dataListSpotligh)
                                } else {
                                    this.$message.warn("Spotlight " + response.data.data.data.ribbon.name + " has been added!")
                                }
                                this.openSpotligh = false
                                this.keyword = undefined
                            } else if (response.data.data.ribbonType == 'LandscapeTop') {
                                this.dataListLanscape = response.data.data.data.ribbon
                                let ribbonList = {
                                    '_id': response.data.data.data.ribbon._id
                                }
                                let checkDuplicate = _.find(this.ribbonList.landscapeTop, {'_id': response.data.data.data.ribbon._id})
                                if (checkDuplicate === undefined) {
                                    this.ribbonList.landscapeTop.push(ribbonList)
                                    this.ribbonLocal.landscapeTop.push(this.dataListLanscape)
                                } else {
                                    this.$message.warn("LandscapeTop " + response.data.data.data.ribbon.name + " has been added!")
                                }
                                this.openLanscape = false
                                this.keywordLanscape = undefined
                            } else if (response.data.data.ribbonType == 'LandscapeBottom') {
                                this.dataListLanscapeBottom = response.data.data.data.ribbon
                                let ribbonList = {
                                    '_id': response.data.data.data.ribbon._id
                                }
                                let checkDuplicate = _.find(this.ribbonList.landscapeBottom, {'_id': response.data.data.data.ribbon._id})
                                if (checkDuplicate === undefined) {
                                    this.ribbonList.landscapeBottom.push(ribbonList)
                                    this.ribbonLocal.landscapeBottom.push(this.dataListLanscapeBottom)
                                } else {
                                    this.$message.warn("LandscapeBottom " + response.data.data.data.ribbon.name + " has been added!")
                                }
                                this.openLanscapeBottom = false
                                this.keywordLanscapeBottom = undefined
                            } else if (response.data.data.ribbonType == 'Original') {
                                this.dataListOriginal = response.data.data.data.ribbon
                                let ribbonList = {
                                    '_id': response.data.data.data.ribbon._id
                                }
                                let checkDuplicate = _.find(this.ribbonList.original, {'_id': response.data.data.data.ribbon._id})
                                if (checkDuplicate === undefined) {
                                    this.ribbonList.original.push(ribbonList)
                                    this.ribbonLocal.original.push(this.dataListOriginal)
                                } else {
                                    this.$message.warn("Original " + response.data.data.data.ribbon.name + " has been added!")
                                }
                                this.openOriginal = false
                                this.keywordOriginal = undefined
                            } else if (response.data.data.ribbonType == 'Sponsor') {
                                this.dataListSponsor = response.data.data.data.ribbon
                                let ribbonList = {
                                    '_id': response.data.data.data.ribbon._id
                                }
                                let checkDuplicate = _.find(this.ribbonList.sponsor, {'_id': response.data.data.data.ribbon._id})
                                if (checkDuplicate === undefined) {
                                    this.ribbonList.sponsor.push(ribbonList)
                                    this.ribbonLocal.sponsor.push(this.dataListSponsor)
                                } else {
                                    this.$message.warn("Sponsor " + response.data.data.data.ribbon.name + " has been added!")
                                }
                                this.openSponsor = false
                                this.keywordSponsor = undefined
                            } else if (response.data.data.ribbonType == 'LandscapeMiddle') {
                                this.dataListLandscapeMiddle = response.data.data.data.ribbon
                                let ribbonList = {
                                    '_id': response.data.data.data.ribbon._id
                                }
                                let checkDuplicate = _.find(this.ribbonList.landscapeMiddle, {'_id': response.data.data.data.ribbon._id})
                                if (checkDuplicate === undefined) {
                                    this.ribbonList.landscapeMiddle.push(ribbonList)
                                    this.ribbonLocal.landscapeMiddle.push(this.dataListLandscapeMiddle)
                                } else {
                                    this.$message.warn("LandscapeMiddle " + response.data.data.data.ribbon.name + " has been added!")
                                }
                                this.openLandscapeMiddle = false
                                this.keywordLandscapeMiddle = undefined
                            }
                        })
                        .catch(error => {
                            console.log(error)
                        });
                }.bind(this), 300)
            },
            onClose(id, ribbonType) {
                if (ribbonType === 'Spotlight') {
                    let index = _.findIndex(this.ribbonLocal.spotlight, {'_id': id})
                    this.ribbonLocal.spotlight.splice(index, 1)
                    _.findIndex(this.ribbonList.spotlight, {'_id': id})
                    this.ribbonList.spotlight.splice(index, 1)
                } if (ribbonType === 'Landscape') {
                    let index = _.findIndex(this.ribbonLocal.landscapeTop, {'_id': id})
                    this.ribbonLocal.landscapeTop.splice(index, 1)
                    _.findIndex(this.ribbonList.landscapeTop, {'_id': id})
                    this.ribbonList.landscapeTop.splice(index, 1)
                } if (ribbonType === 'Original') {
                    let index = _.findIndex(this.ribbonLocal.original, {'_id': id})
                    this.ribbonLocal.original.splice(index, 1)
                    _.findIndex(this.ribbonList.original, {'_id': id})
                    this.ribbonList.original.splice(index, 1)
                } if (ribbonType === 'LandscapeBottom') {
                    let index = _.findIndex(this.ribbonLocal.landscapeBottom, {'_id': id})
                    this.ribbonLocal.landscapeBottom.splice(index, 1)
                    _.findIndex(this.ribbonList.landscapeBottom, {'_id': id})
                    this.ribbonList.landscapeBottom.splice(index, 1)
                } if (ribbonType === 'Sponsor') {
                    let index = _.findIndex(this.ribbonLocal.sponsor, {'_id': id})
                    this.ribbonLocal.sponsor.splice(index, 1)
                    _.findIndex(this.ribbonList.sponsor, {'_id': id})
                    this.ribbonList.sponsor.splice(index, 1)
                } if (ribbonType === 'LandscapeMiddle') {
                    let index = _.findIndex(this.ribbonLocal.landscapeMiddle, {'_id': id})
                    this.ribbonLocal.landscapeMiddle.splice(index, 1)
                    _.findIndex(this.ribbonList.landscapeMiddle, {'_id': id})
                    this.ribbonList.landscapeMiddle.splice(index, 1)
                }
            },
            handleSubmit() {
                if (this.ribbonList.landscapeTop.length > 2) {
                    if (this.ribbonList.landscapeMiddle.length > 2) {
                        if (this.ribbonList.landscapeBottom.length > 2) {
                            this.form.validateFields((err, values) => {
                                if (!err) {
                                    axios({
                                        method: 'post',
                                        url: '/admin/page/addPage',
                                        data: {
                                            page: this.ribbonList,
                                            value: values,
                                        }
                                    }).then((response) => {
                                        if (response.status === 200) {
                                            this.$message.loading('Action in progress..', 2.5)
                                                .then(() => this.$message.success('Add New Successfully', 2.5))
                                            window.location.href = '/admin/page';
                                        }
                                    });
                                }
                            });
                        } else {
                            this.$message.warn("Not Save Ribbon landscapeBottom less than three!")
                        }
                    } else {
                        this.$message.warn("Not Save Ribbon landscapeMiddle less than three!")
                    }
                } else {
                    this.$message.warn("Not Save Ribbon landscapeTop less than three!")
                }
            },
        },
    }
</script>

<style lang="scss" module>
    @import "./style.module.scss";
</style>
