<template>
  <div class="row">
    <div class="col-lg-12">
      <div class="card card--withShadow">
        <div class="card-body">
          <h4 class="text-black mb-3">
            <strong>Related</strong>
          </h4>
          <div class="row">
            <div class="col-lg-12">
              <a-auto-complete
                      @select="onSelect"
                      @search="onSearch"
                      :class="$style.searchInput"
                      :value="keyword"
                      :open="open"
                      ref="Enter Title"
                      style="width: 100%"
                      optionLabelProp="text"
                      @blur="onblur"
              >
                <template slot="dataSource">
                  <a-select-option v-for="item in listSearch" :key="item._id" :text="item.alternateName">
                    <div class="ant-list-item">
                      <div class="ant-list-item-meta">
                        <div class="ant-list-item-meta-avatar">
                          <img width="100px"
                               :src="getImageURL(item.thumbnail)"
                          >
                        </div>
                        <div class="ant-list-item-meta-content">
                          <h4 class="ant-list-item-meta-title" style="font-size: 12px">
                            Title: {{ item.alternateName }}
                          </h4>
                          <div class="ant-list-item-meta-title" style="font-size: 12px">
                            Movie type: {{ item.type }}
                          </div>
                        </div>
                      </div>
                    </div>
                  </a-select-option>
                </template>
                <a-input
                        placeholder="Enter Title..."
                        :class="$style.searchInput"
                        v-model="keyword"
                        v-on:keyup.enter="onSearch"
                        v-on:keyup.esc="open = false"
                />
              </a-auto-complete>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-12">
      <div class="card card--withShadow">
        <div class="card-body">
          <div class="col-lg-12">
            <h4 class="text-black mb-3">
              <strong>Related Listing</strong>
            </h4>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <a-table :columns="columns"
                       :rowKey="record => record._id"
                       :dataSource="relatedData"
                       :pagination="pagination"
                       @change="onPageChange"
              >
                <template slot="noDisplay" slot-scope="value, record, index">
                  <!--                  <a-form-item>-->
                  <!--                    <a-input-number :min="1" :max="100" disabled="disabled"-->
                  <!--                                    v-decorator="[`related[${(pagination.current - 1) * pagination.pageSize}].order`, {initialValue: value}]"/>-->
                  <!--                  </a-form-item>-->
                  <span>{{ value }}</span>
                </template>
                <template slot="status" slot-scope="value">
                  <span class="text-success" v-if="value === 'active'">{{ capitalize(value) }}</span>
                  <span class="text-warning" v-if="value === 'unActive'">{{ capitalize(value) }}</span>
                </template>
                <template slot="backdrop" slot-scope="value">
                    <img width="100px" :src="getImageURL(value.web.thumbnail[0].url)" alt="">
                </template>
                <template slot="action" slot-scope="value, record, index">
                  <a-button icon="cross" size="small" @click="remove(record._id)">Remove</a-button>
                </template>
              </a-table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  const columns = [
    {
      title: 'Backdrop',
      dataIndex: 'detail.image',
      scopedSlots: {customRender: 'backdrop'},
    }, {
      title: 'Title',
      dataIndex: 'detail.alternateName',

    }, {
      title: 'Movie type',
      dataIndex: 'detail.type',
    }, {
      title: 'Price',
      dataIndex: 'detail.priceType',
    }, {
      title: 'Status',
      dataIndex: 'detail.status',
      scopedSlots: {customRender: 'status'},
    }, {
      title: 'No. Display',
      dataIndex: 'order',
      scopedSlots: {customRender: 'noDisplay'},
    },
    {
      title: "Action",
      key: "action",
      scopedSlots: {customRender: "action"}
    }
  ]

  import { AutoComplete, Select, Input, Table, Button } from 'ant-design-vue';
  import { mapGetters, mapActions } from 'vuex'

  window.Vue.use(AutoComplete);
  window.Vue.use(Select);
  window.Vue.use(Input);
  window.Vue.use(Table);
  window.Vue.use(Button);

  export default {
    data() {
      return {
        columns,
        listSearch: [],
        keyword: undefined,
        timer: null,
        pagination: {
          total: '',
          showTotal:(total, range) => `${range[0]}-${range[1]} of ${total} items`,
          pageSize: 10
        },
        open: false,
      }
    },
    computed: {
      ...mapGetters({
        relatedData: '$_title/related',
        title: '$_title/title',
      }),
      ...mapGetters('config', {
        image: 'image',
      }),
    },
    methods: {
      ...mapActions({
        pullRelated: '$_title/pullRelated',
        setDataField: '$_title/setDataField',
      }),
      capitalize(string) {
        return string.charAt(0).toUpperCase() + string.slice(1)
      },
      onblur(e) {
        this.open = false
      },
      onSearch() {
        clearInterval(this.timer)
        this.timer = setInterval(function () {
          clearInterval(this.timer)
          axios
                  .get('/admin/movie/search', {
                    params: {
                      keyword: this.keyword,
                    }
                  })
                  .then(response => {
                    this.listSearch = response.data.docs
                    this.open = true
                  })
        }.bind(this), 300)
      },
      onSelect(value) {
        let _listRelated = [...this.title.related]
        let _relatedData = [...this.relatedData]
        let _related = _.find(this.listSearch, {'_id': value})
        if (_.find(_relatedData, {'_id': value}) == undefined) {
          if (_related.image.web.thumbnail[0] === undefined) {
              _related.image.web.thumbnail[0] = '/img/backend/404error.jpeg'
          }
          if (_relatedData.length < 2) {
            this.$message.warn("Gribview related no less than three!")
            _relatedData.unshift({
              legacy_id: _related.legacy_id,
              _id: _related._id,
              order: _relatedData.length + 1,
              detail: _related
            })
          } else {
            _relatedData.unshift({
              legacy_id: _related.legacy_id,
              _id: _related._id,
              order: _relatedData.length + 1,
              detail: _related
            })
          }

          _listRelated.push({
            legacy_id: _related.legacy_id,
            _id: _related._id,
            order: _listRelated.length + 1,
          })
          this.pullRelated(_relatedData)
          this.setDataField({
            key: 'related',
            value: _listRelated
          })
          this.pagination.total = _listRelated.length
          this.$store.commit('$_title/CHANGE_SAVE_STATUS', { status: false })
          this.$message.success("Add related " + _related.alternateName + " successfully!")
        } else {
          this.$message.warn("Related " + _related.alternateName + " has been added!")
        }
        this.keyword = undefined
        this.open = false
      },
      remove(id) {
        if (this.title.related.length > 3) {
          let _listRelated = [...this.title.related]
          let _relatedData = [...this.relatedData]
          let index = _.findIndex(_listRelated, {'_id': id})
          _listRelated.splice(index, 1)
          index = _.findIndex(_relatedData, {'_id': id})
          _relatedData.splice(index, 1)
          this.pagination.total = _listRelated.length
          this.pullRelated(_relatedData)
          this.setDataField({
            key: 'related',
            value: _listRelated
          })
          this.$store.commit('$_title/CHANGE_SAVE_STATUS', { status: false })
          this.$message.success("Remove successfully!")
        } else {
          this.$message.warn("No delete Gribview Related no less than three!")
        }

      },
      onPageChange(page, pageSize) {
        this.pagination = page
      },
      getImageURL(filename) {
        if (filename) {
          return this.image.resize.w300 + filename
        } else {
          return '/img/backend/404error.jpeg'
        }

      }
    },
    created() {
      this.pagination.total = this.relatedData.length
    },
  }
</script>

<style lang="scss" module>
  @import "./style.module.scss";
</style>

