<template>
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <h4 class="text-black mb-3">
            <strong>Actor</strong>
          </h4>
          <a-auto-complete
            @select="onSelect"
            @search="onSearch"
            :allowClear="true"
            :value="keyword"
            :open="open"
            :defaultActiveFirstOption="false"
            optionLabelProp="text"
            :class="$style.searchInput"
            @blur="onBlur"
          >
            <template slot="dataSource">
              <a-select-option v-for="item in listSearch" :key="item._id" :text="item.name">
                <div class="ant-list-item">
                  <div class="ant-list-item-meta">
                    <div class="ant-list-item-meta-avatar">
                      <img
                        width="50px"
                        :src="item.image ? item.image: '/img/backend/404error.jpeg'"
                      />
                    </div>
                    <div class="ant-list-item-meta-content">
                      <h4
                        class="ant-list-item-meta-title"
                        style="font-size: 12px"
                      >Name : {{ item.name }}</h4>
                    </div>
                  </div>
                </div>
              </a-select-option>
            </template>
            <a-input-search
              placeholder="Search actor"
              v-model="keyword"
              v-on:keyup.esc="open = false"
              v-on:keyup.enter="onSearch"
            />
          </a-auto-complete>
          <hr />
          <a-skeleton active :loading="loadingSke">
            <div id="components-table-demo-size">
              <a-table
                :columns="columns"
                :dataSource="actorData"
                :rowKey="record => record.detail._id"
                :pagination="pagination"
                @change="onPageChange"
                :loading="loading"
              >
                <template slot="#" slot-scope="value, record, index">{{ index + 1 }}</template>
                <template slot="img" slot-scope="value">
                  <img width="50px" :src="value ? value : '/img/backend/404error.jpeg'" />
                </template>
                <template slot="action" slot-scope="value, record">
                  <a-button @click="remove(record.detail._id)" icon="cross" size="small">Remove</a-button>
                </template>
              </a-table>
            </div>
          </a-skeleton>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
const columns = [
  {
    title: "",
    scopedSlots: { customRender: "#" }
  },
  {
    title: "Image",
    dataIndex: "detail.image",
    scopedSlots: { customRender: "img" }
  },
  {
    title: "Name",
    dataIndex: "detail.name"
  },
  {
    title: "Role",
    dataIndex: "role"
  },
  {
    title: "Action",
    dataIndex: "action",
    scopedSlots: { customRender: "action" }
  }
];

import { AutoComplete, Select, Input, Skeleton, Table } from 'ant-design-vue';
import { mapGetters, mapActions } from "vuex";

window.Vue.use(AutoComplete);
window.Vue.use(Select);
window.Vue.use(Input);
window.Vue.use(Skeleton);
window.Vue.use(Table);

export default {
  data() {
    return {
      columns,
      timer: null,
      open: false,
      keyword: undefined,
      listSearch: [],
      pagination: {
        pageSize: 5,
        total: "",
        showTotal: (total, range) => `${range[0]}-${range[1]} of ${total} items`
      },
      loading: false,
      loadingSke: true
    };
  },
  computed: {
    ...mapGetters({
      title: "$_title/title",
      actorData: "$_title/actor"
    })
  },
  methods: {
    ...mapActions({
      searchActorApi: "$_title/searchActorApi",
      addActor: "$_title/addActor",
      removeActor: "$_title/removeActor"
    }),
    onBlur(e) {
      this.open = false;
    },
    onSelect(value) {
      let actor = _.find(this.listSearch, { _id: value });
      if (_.find(this.actorData, { _id: value }) == undefined) {
        if (_.find(this.title.actor, { _id: value }) == undefined) {
          let _detail = {
            _id: value,
            order: this.actorData.length + 1,
            role: null,
            detail: actor
          };

          let _actor = {
            _id: value,
            order: this.actorData.length + 1,
            role: null
          };

          this.addActor({
            actor: _actor,
            detail: _detail
          });
          this.pagination.total = this.title.actor.length;
        } else {
          this.$message.warn("Actor " + actor.name + " has been added!");
        }
      } else {
        this.$message.warn("Actor " + actor.name + " has been added!");
      }
      this.keyword = undefined;
      this.open = false;
    },
    onSearch() {
      clearInterval(this.timer);
      this.timer = setInterval(() => {
        clearInterval(this.timer);
        let config = {
          params: {
            keyword: this.keyword
          }
        };
        this.searchActorApi(config)
          .then(response => {
            this.listSearch = response.data.docs.data.data;
            this.loading = false;
            this.open = true;
          })
          .catch(error => {
            console.log(error);
          });
      }, 300);
    },
    onPageChange(page) {
      this.loadingSke = true;
      this.pagination = page;
      setTimeout(() => {
        this.loadingSke = false;
      }, 500);
    },
    remove(id) {
      let actorIndex = _.findIndex(this.title.actor, { _id: id });
      let detailIndex = _.findIndex(this.actorData, { _id: id });
      this.removeActor({
        actorIndex: actorIndex,
        detailIndex: detailIndex
      });
      this.pagination.total = this.title.actor.length;
    }
  },
  created() {
    this.pagination.total = this.actorData.length;
  },
  mounted() {
    setTimeout(() => {
      this.loadingSke = false;
    }, 500);
  }
};
</script>
<style lang="scss" module>
.searchInput {
  width: 100%;
  font-size: rem(24);
  font-weight: bold;
  padding: 0;
  height: auto;
  border: none;
}
</style>