<template>
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <h4 class="text-black mb-3">
            <strong>Trailer listing</strong>
          </h4>
          <div class="row">
            <div class="col-lg-12">
              <a-form-item>
                <a-table :columns="columns"
                         :rowKey="record => record.legacy_id"
                         :dataSource="movieData.video"
                         :pagination="pagination"
                >
                  <div :class="$style.container" slot="thumbnail" slot-scope="value, record, index">
                    <div :class="$style.figure">
                      <img :class="$style.img2" :src="previewImage[index].url" alt="">
                      <div :class="$style.hoverMenu">
                        <div :class="$style.imageMenu">
                          <form method="post" action="#" enctype="multipart/form-data">
                            <div :class="$style.menuUpload">
                              <label class="btn btn-sm btn-success" style="font-size: 8px;">
                                REPLACE IMAGE
                                <input type="file" name="image" :data="record.legacy_id" ref="file"
                                       @change="handleClickUpload(index, $event)" style="display: none;"/>
                              </label>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div slot="sourceStatus">
                    <span class="text-success">Ready</span>
                  </div>
                  <div slot="status" slot-scope="status">
                    <a-switch :defaultChecked="status == 'active' ? true: false">
                      <a-icon type="check" slot="checkedChildren"/>
                    <a-icon type="close" slot="unCheckedChildren"/>
                    </a-switch>    
                  </div>
                </a-table>
              </a-form-item>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  const columns = [{
    title: 'Thumbnail',
    dataIndex: 'thumbnail',
    scopedSlots: {customRender: 'thumbnail'},
  }, {
    title: 'Title',
    dataIndex: 'name',
  }, {
    title: 'Source Status',
    scopedSlots: {customRender: 'sourceStatus'},
  }, {
    title: '',
    dataIndex: 'status',
    scopedSlots: {customRender: 'status'},
  }]

  import {mapGetters} from 'vuex'

  export default {
    data() {
      return {
        columns,
        previewImage: [],
        pagination: {
          total: 2,
          showTotal:(total, range) => `${range[0]}-${range[1]} of ${total} items`,
          pageSize: 10
        },
      }
    },
    computed: {
      ...mapGetters('movie_content/detail', {
        movieData: 'title',
        form: 'form'
      }),
      ...mapGetters('config', {
        image: 'image'
      }),
    },
    methods: {
      uploadPhoto(legacy_id, file, index) {
        let formData = new FormData()
        formData.append("file", file)
        formData.append("legacy_id", legacy_id)
        formData.append("name", this.movieData.slug + '_' + 'trailer_')
        let self = this
        axios
                .post("/admin/movie/uploadImage", formData, {
                  headers: {
                    "Content-Type": "multipart/form-data"
                  }
                })
                .then(function (response) {
                  if (response.status === 200) {
                    self.previewImage[index].legacy_id = response.data.data.legacy_id
                    self.previewImage[index].url = self.image.resize.w300 + response.data.data.url
                    self.movieData.video[index].thumbnail = response.data.data.url
                    self.$message.success("Upload successfully!")
                  }
                })
                .catch(error => {
                  self.$message.error("Your photo dimensions is not correct.")
                })
      },
      handleClickUpload(index, e) {
        this.uploadPhoto(e.target.attributes.data.value, e.target.files[0], index)
      },
    },
    created() {
      this.pagination.total = this.movieData.video.length
      this.movieData.video.forEach((value, index, array) => {
        this.previewImage.push({
          legacy_id: value.legacy_id,
          url: value.thumbnail
        })
      })
    }
  }
</script>

<style lang="scss" module>
  @import "./style.module.scss";
</style>

