<template>
  <div class="row">
    <div class="col-lg-12">
      <a-form :form="form" :selfUpdate="true">
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-body">
                <h4 class="text-black mb-3">
                  <strong>Ribbon Information</strong>
                </h4>
                <div class="row">
                  <div class="col-lg-6">
                    <a-form-item label="Ribbon Name" :colon="false">
                      <a-input
                        placeholder="Ribbon Name"
                        v-decorator="['name',{ rules: [
                          { required: true, message: 'Please input your English Ribbon Title' },
                          { validator: checkExist }
                        ] }]"
                      />
                    </a-form-item>
                    <a-form-item label="Ribbon tittle - English (To display on platform)" :colon="false">
                      <a-input
                        placeholder="Ribbon title - English"
                        v-decorator="['displayNameEn',{ rules: [{ required: true, message: 'Please input your Vietnamese Ribbon Title' }] }]"
                      />
                    </a-form-item>
                    <a-form-item label="Ribbon title - Vietnamese (To display on platform)" :colon="false">
                      <a-input
                        placeholder="Ribbon title - Vietnamese"
                        v-decorator="['displayNameVi',{ rules: [{ required: true, message: 'Please input your Vietnamese Ribbon Title' }] }]"
                      />
                    </a-form-item>
                    <a-form-item label="Type" :colon="false">
                      <a-select
                        placeholder="Type"
                        v-decorator="['ribbonType',{ rules: [{ required: true, message: 'Please select your Ribbon Type' }] }]"
                      >
                        <a-select-option
                          v-for="element in ribbonType"
                          :key="element.key"
                        >{{ element.value }}</a-select-option>
                      </a-select>
                    </a-form-item>
                    <a-form-item label="Status" :colon="false">
                      <a-select
                        placeholder="Status"
                        v-decorator="['status',{ rules: [{ required: true, message: 'Please select your Ribbon Type' }], initialValue: 'active' }]"
                      >
                        <a-select-option
                          v-for="element in ribbonStatus"
                          :key="element.key"
                        >{{ element.value }}</a-select-option>
                      </a-select>
                    </a-form-item>
                  </div>

                  <div class="col-lg-6">
                    <a-form-item label="Slug" :colon="false">
                      <a-input
                        placeholder="Slug"
                        v-decorator="['slug',{ rules: [
                          { required: true, message: 'Please input your Ribbon Slug' },
                          { validator: checkExist }
                        ] }]"
                      />
                    </a-form-item>
                    <a-form-item label="Subtitle - English (To display on platform)" :colon="false">
                      <a-input placeholder="Subtitle - English" v-decorator="['subTitleEn']" />
                    </a-form-item>
                    <a-form-item
                      label="Subtitle - Vietnamese (To display on platform)"
                      :colon="false"
                    >
                      <a-input placeholder="Subtitle - Vietnamese" v-decorator="['subTitleVi']" />
                    </a-form-item>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </a-form>

      <a-form :form="addTitleform">
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-body">
                <h4 class="text-black mb-3">
                  <strong>Add Title</strong>
                </h4>
                <div class="row">
                  <div class="col-lg-12">
                    <a-radio-group v-model="manual">
                      <a-radio
                        style="display:block;"
                        :value="true"
                      >Manual add title (Add title after save ribbon)</a-radio>
                      <a-radio style="display:block;" :value="false">Auto add by condition</a-radio>
                    </a-radio-group>
                    <div v-if="!manual" :class="$style.filterContainer">
                      <a-radio-group v-model="combineAll">
                        <a-radio style="display:block;" :value="true">Combine all condition</a-radio>
                        <a-radio
                          style="display:block;"
                          :value="false"
                        >Any conditions are appropriate</a-radio>
                      </a-radio-group>
                      <div style="padding: 20px;">
                        <a-form-item v-for="(item, index) in listCondition" :key="item.key">
                          <div class="row">
                            <div class="col-lg-5">
                              <a-select v-model="item.key" @change="updateListCondition(index)">
                                <a-select-option
                                  v-for="element in listOption[index]"
                                  :key="element.key"
                                  :value="element.key"
                                >{{ element.name }}</a-select-option>
                              </a-select>
                            </div>
                            <div class="col-lg-6">
                              <template v-if="item.valueType === 'select'">
                                <a-select
                                  v-model="item.value"
                                  :mode="item.selectMode"
                                  size="default"
                                  notFoundContent
                                  :allowClear="true"
                                >
                                  <template v-if="item.key === 'genre'">
                                    <a-select-option
                                      v-for="value in item.valueArray"
                                      :key="value.name"
                                    >{{ value.name }}</a-select-option>
                                  </template>

                                  <template v-if="item.key === 'countryOfOrigin'">
                                    <a-select-option
                                      v-for="value in item.valueArray"
                                      :key="value.code"
                                    >{{ value.viName }}</a-select-option>
                                  </template>
                                </a-select>
                              </template>
                              <template v-if="item.valueType === 'input'">
                                <a-input v-model="item.value" />
                              </template>
                            </div>
                            <div class="col-lg-1">
                              <a-button type="dashed" @click="removeCondition(index)">
                                <a-icon type="minus-circle" class="text-danger" />
                              </a-button>
                            </div>
                          </div>
                        </a-form-item>

                        <div v-if="listCondition.length < 3">
                          <a-button type="dashed" style="width: 30%" @click="addCondition">
                            <a-icon type="plus-circle" class="text-success" />More condition
                          </a-button>
                        </div>
                      </div>
                      <div class="text-right">
                        <a-button type="default" @click="getListTitle()">APPLY</a-button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </a-form>

      <div class="row" v-if="!manual">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-body">
              <h4 class="text-black mb-3">
                <strong>Title Listing</strong>
              </h4>
              <div class="row">
                <div class="col-lg-12">
                  <a-table
                    :columns="titleColums"
                    :dataSource="listTitle"
                    :rowKey="record => record._id"
                    :loading="loading"
                    @change="onPageChange"
                    :pagination="pagination"
                  ></a-table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12 text-right">
          <div class="form-actions">
            <a-button type="default">CANCEL</a-button>
            <a-button type="primary" class="mr-2" @click="handleSave" :disabled="disableSave">SAVE</a-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
const emptyRibbon = {
  name: undefined,
  displayNameEn: undefined,
  displayNameVi: undefined,
  slug: undefined,
  subTitleEn: "",
  subTitleVi: "",
  ribbonType: undefined,
  status: ""
};

const ribbonType = [
  {
    key: "Spotlight",
    value: "Spotlight"
  },
  {
    key: "Original",
    value: "Original"
  },
  {
    key: "Sponsor",
    value: "Sponsor"
  },
  {
    key: "Landscape",
    value: "Landscape"
  },
  {
    key: "Portrait",
    value: "Portrait"
  },
  {
    key: "Preview",
    value: "Preview"
  }
];

const ribbonStatus = [
  {
    key: "active",
    value: "Active"
  },
  {
    key: "unActive",
    value: "unActice"
  }
];

const titleColums = [
  {
    title: "Backdrop",
    dataIndex: "thumbnail"
  },
  {
    title: "Title",
    dataIndex: "alternateName"
  },
  {
    title: "Movie Type",
    dataIndex: "type"
  },
  {
    title: "Price",
    dataIndex: "priceType"
  },
  {
    title: "Profile",
    dataIndex: "videoQuality"
  },
  {
    title: "Status",
    dataIndex: "status"
  }
];

import { Form, Input, Select, Radio, Button, Table } from 'ant-design-vue';
import conditions from "./conditions.json";
import { mapGetters } from "vuex";
import { mixinSlugify } from '@/backend/mixins/slugify.js';

window.Vue.use(Form);
window.Vue.use(Input);
window.Vue.use(Select);
window.Vue.use(Radio);
window.Vue.use(Button);
window.Vue.use(Table);

export default {
  data() {
    return {
      ribbonType,
      ribbonStatus,
      emptyRibbon,
      timer: null,
      manual: true,
      combineAll: true,
      conditions: [...conditions],
      listOption: [],
      listCondition: [],
      listTitle: [],
      loading: false,
      titleColums,
      pagination: {
        pageSize: 10,
        total: 1
      },
      ribbon: {},
      disableSave: false
    };
  },
  computed: {
    ...mapGetters("config", ["allCountries", "allGenres"])
  },
  mixins: [mixinSlugify],
  methods: {
    addCondition() {
      let restOption = this.conditions.filter(item => {
        return _.findIndex(this.listCondition, { key: item.key }) === -1;
      });

      this.listCondition.push({
        key: restOption[0].key,
        valueType: restOption[0].valueType,
        selectMode: restOption[0].selectMode,
        valueArray: this.getValueArray(restOption[0].key),
        value: undefined
      });

      this.listOption.push(restOption);
      this.updateListCondition(undefined);
    },
    getValueArray(condition) {
      let result = [];
      switch (condition) {
        case "genre":
          result = this.allGenres.main;
          break;
        case "countryOfOrigin":
          result = this.allCountries;
          break;
        case "features":
          result = [
            { name: "HDR", value: "HDR" },
            { name: "4K", value: "4K" },
            { name: "Full HD", value: "Full HD" },
            { name: "SD", value: "SD" }
          ];
          break;
        case "service":
          result = [
            { name: "TVOD", value: "TVOD" },
            { name: "SVOD Basic", value: "SVOD Basic" },
            { name: "SVOD Premium", value: "SVOD Premium" }
          ];
          break;
        default:
          result = [];
      }
      return result;
    },
    removeCondition(index) {
      this.listCondition.splice(index, 1);
      this.updateListCondition();
    },
    updateListCondition(index) {
      if (index !== undefined) {
        let condition = _.find(this.conditions, {
          key: this.listCondition[index].key
        });
        this.listCondition[index].valueType = condition.valueType;
        (this.listCondition[index].selectMode = condition.selectMode),
          (this.listCondition[index].valueArray = this.getValueArray(
            condition.key
          ));
        this.listCondition[index].value = undefined;
      }

      this.listCondition.forEach((element, index, array) => {
        let restArray = [...array];
        restArray.splice(index, 1);

        let delArray = _.filter(this.conditions, function(element) {
          return _.findIndex(restArray, { key: element.key }) !== -1;
        });

        let restOption = this.conditions.filter(function(item) {
          return delArray.indexOf(item) === -1;
        });
        this.listOption[index] = restOption;
      });
    },
    getListFilter() {
      let conditions = [];
      for (let i = 0; i < this.listCondition.length; i++) {
        if (this.listCondition[i].key == "countryOfOrigin") {
          let index = _.findIndex(this.allCountries, {
            code: this.listCondition[i].value
          });
          let value = this.allCountries[index];
          conditions.push({
            key: this.listCondition[i].key,
            value: value
          });
        }
        if (this.listCondition[i].key == "genre") {
          conditions.push({
            key: this.listCondition[i].key,
            value: this.listCondition[i].value
          });
        }
      }
      return conditions;
    },
    getListTitle() {
      let conditions = this.getListFilter();

      this.loading = true;
      axios({
        method: "post",
        url: "/admin/ribbon/getTitleByConditions",
        data: {
          conditions: conditions,
          mode: this.combineAll ? "and" : "or",
          page: this.pagination.current
        }
      })
        .then(response => {
          if (response.status === 200) {
            this.listTitle = response.data.docs;
            this.pagination.total = response.data.total;
            this.loading = false;
          }
        })
        .catch(error => {
          console.log(error);
        });
    },
    onPageChange(page, pageSize) {
      this.pagination = page;
      this.getListTitle();
    },
    handleSave() {
      this.form.validateFields((err, values) => {
        if (!err) {
          this.disableSave = true;
          if (!this.manual) {
            this.getListTitle();
            this.ribbon.filter = {};
            this.ribbon.filter.mode = this.combineAll ? "and" : "or";
            this.ribbon.filter.detail = this.getListFilter();
          } else {
            this.ribbon.filmList = [];
          }

          axios({
            method: "post",
            url: "/admin/ribbon/store",
            data: this.ribbon
          })
            .then(response => {
              if (response.data.status == "success") {
                this.$message
                  .success("Create the ribbon successfully", 2.5)
                  .then(() => {
                    window.location.href = "/admin/ribbon";
                  });
              } else {
                this.disableSave = false;
              }
            })
            .catch(error => {
              this.disableSave = false;
              console.log(error);
            });
        }
      });
    },
    checkExist(rule, value, callback) {
      clearInterval(this.timer);
      this.timer = setInterval(() => {
        clearInterval(this.timer);
        axios({
          method: "post",
          url: "/admin/ribbon/checkRibbonName",
          data: {
            column: rule.field,
            name: value
          }
        })
          .then(response => {
            if (response.data.status == "success") {
              if (rule.field == 'name') {
                this.form.setFieldsValue({
                  slug: this.slugify(value)
                });
              }
              callback();
            } else {
              callback("Please enter another value");
            }
          })
          .catch(error => {
            console.log(error);
          });
      }, 300);
    }
  },
  beforeCreate() {
    let self = this;
    this.form = this.$form.createForm(this, {
      onValuesChange(dom, values) {
        _.merge(self.ribbon, values);
      }
    });
    this.addTitleform = this.$form.createForm(this);
  },
  created() {
    this.addCondition();
    _.merge(this.ribbon, this.emptyRibbon);
  }
};
</script>

<style scoped>
.ant-tabs-nav-wrap {
  text-align: right !important;
}

.ant-form-item-label {
  margin-bottom: -10px;
}

.ant-form-item-label label {
  color: #777474;
}

.ant-input,
.ant-select {
  color: rgba(0, 0, 0, 0.85);
}

.ant-form-item {
  margin-bottom: 0px !important;
}
</style>
<style lang="scss" module>
.filterContainer {
  padding: 10px;
  margin-left: 24px;
  background: #fbfbfb;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
}
</style>
<style>
.ant-form-item-label {
  margin-bottom: -10px;
}

.ant-form-item-label label {
  color: #777474;
}

.ant-input,
.ant-select {
  color: rgba(0, 0, 0, 0.85);
}

.ant-form-item {
  margin-bottom: 0px !important;
}
</style>
