@import '@/backend/assets/styles/mixins.scss';

.card {
  border: 0 solid $white;
  background: $white;
  position: relative;
  border-radius: 3px;
}

.head {
  height: rem(250);
  background: $gray-lighten-more center center;
  background-size: cover;
  border-radius: 0.25rem;
  line-height: 1.1;
  padding: rem(25) rem(30);
}

.left {
  float: left;
  padding-left: rem(20);
  margin-top: rem(-50);
}

.right {
  margin-left: rem(140);
  padding-top: rem(40);
  padding-right: rem(20);
  padding-bottom: 1px;
}
