<template>
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <h4 class="text-black mb-3">
            <strong>Actions daily</strong>
          </h4>
          <div class="row">
            <div class="col-lg-12">
              <a-form-item>
                <a-input-search placeholder="searching..." style="width: 100%"/>
              </a-form-item>
              <a-form-item>
                <a-table :columns="columns"
                         :rowKey="record => record.key"
                         :dataSource="data"
                         :pagination="pagination"
                />
              </a-form-item>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  const columns = [
    {
      title: 'Time',
      dataIndex: 'time',
    }, {
      title: 'User',
      dataIndex: 'user',
    }, {
      title: 'Action',
      dataIndex: 'action',
    }]

  const data = [{
    key: '1',
    time: '26/06/2019 15:36',
    user: 'Nguyễn Xuân Quỳnh',
    action: 'Add a new Title',
  }, {
    key: '2',
    time: '26/06/2019 15:36',
    user: 'CM - Admin',
    action: 'Update Service = Premium',
  }]

  export default {
    data() {
      return {
        columns,
        data,
        pagination: {
          total: 2,
          showTotal:(total, range) => `${range[0]}-${range[1]} of ${total} items`,
          pageSize: 10
        },
      }
    }
  }
</script>

<style>

</style>

