<template>
  <div class="row">
    <div class="col-lg-12">
      <div class="card card--withShadow">
        <div class="card-body">
          <h4 class="text-black mb-3">
            <strong>Ribbon</strong>
          </h4>
          <div class="row">
            <div class="col-lg-12">
              <a-auto-complete
                      @select="onSelect"
                      @search="onSearch"
                      :class="$style.searchInput"
                      :value="keyword"
                      :open="open"
                      ref="searchInput"
                      style="width: 100%"
                      optionLabelProp="text"
                      @blur="onblur"
              >
                <template slot="dataSource">
                  <a-select-option
                          v-for="item in listSearch"
                          :key="item._id"
                          :text="item.name"
                  >
                      <div class="ant-list-item-meta">
                        <div class="ant-list-item-meta-content">
                          <h4 class="ant-list-item-meta-title" style="font-size: 12px">
                            <span class="font-weight-bold">Name</span> : {{ item.name }}</h4>
                          <div class="ant-list-item-meta-title" style="font-size: 12px">
                            <span class="font-weight-bold">Ribbon Title</span> : {{ item.alternateName }}
                          </div>
                        </div>
                      </div>
                  </a-select-option>
                </template>
                <a-input
                        placeholder="Type to search..."
                        :class="$style.searchInput"
                        v-model="keyword"
                        v-on:keyup.enter="onSearch"
                        v-on:keyup.esc="open = false"
                />
              </a-auto-complete>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-12">
      <div class="card card--withShadow">
        <div class="card-body">
          <h4 class="text-black mb-3">
            <strong>Ribbon Listing</strong>
          </h4>
          <div class="row">
            <div class="col-lg-12">
              <a-table :columns="columns" :dataSource="ribbonData" :pagination="pagination" :rowKey="record => record._id">
                <template slot="transactionTip" slot-scope="value, record">
                  <span v-if="!record.filter[0]"></span>
                  <span v-else>{{ record.filter[0].value }}</span>
                </template>
                <template slot="status" slot-scope="value">
                  <span class="text-success" v-if="value === 'active'">{{ capitalize(value) }}</span>
                  <span class="text-warning" v-if="value === 'unActive'">{{ capitalize(value) }}</span>
                </template>

                <template slot="action" slot-scope="value, record, index">
                  <a-button icon="cross" size="small" @click="remove(record._id)">Remove</a-button>
                </template>
              </a-table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  const columns = [
    {
      title: "Name",
      dataIndex: "name"
    },
    {
      title: "Ribbon Title",
      dataIndex: "alternateName"
    },
    {
      title: "Transaction Tip",
      dataIndex: "transactionTip",
      scopedSlots: {customRender: "transactionTip"}
    },
    {
      title: "Status",
      dataIndex: "status",
      scopedSlots: {customRender: "status"}
    },
    {
      title: "Action",
      key: "action",
      scopedSlots: {customRender: "action"}
    }
  ]

  import {mapGetters} from "vuex"

  export default {
    data() {
      return {
        columns,
        listSearch: [],
        keyword: undefined,
        open: false,
        pagination: {
          pageSize: 10,
          total: '',
          showTotal:(total, range) => `${range[0]}-${range[1]} of ${total} items`
        },
      };
    },
    computed: {
      ...mapGetters("movie_content/detail", {
        ribbonData: "ribbon",
        movieData: "title"
      })
    },
    methods: {
      capitalize(string) {
        return string.charAt(0).toUpperCase() + string.slice(1)
      },
      onblur(e) {
        this.open = false
      },
      onSelect(value) {
        let ribbon = _.find(this.listSearch, {'_id': value})
        if (_.find(this.ribbonData, {'_id': value}) == undefined) {
          this.ribbonData.unshift(ribbon)
          this.pagination.total = this.ribbonData.length
          this.$message.success("Add ribbon " + ribbon.name + " successfully!")
        } else {
          this.$message.warn("Ribbon " + ribbon.name + " has been added!")
        }
        this.keyword = undefined
        this.open = false
      },
      onSearch(value) {
        clearInterval(this.timer)
        this.timer = setInterval(
                function () {
                  clearInterval(this.timer)
                  axios
                          .get('/admin/movie/searchRibbon', {
                            params: {
                              keyword: value
                            }
                          })
                          .then(response => {
                            this.listSearch = response.data.docs
                            this.open = true
                          })
                          .catch(error => {
                            console.log(error)
                          })
                }.bind(this),
                300
        )
      },
      remove(id) {
        for (let i = 0; i < this.ribbonData.length; i++) {
          if (this.ribbonData[i]._id == id) {
            this.ribbonData.splice(i, 1)
            this.pagination.total = this.ribbonData.length
            this.$message.success("Remove the ribbon successfully!")
            break
          }
        }
      }
    },
    created() {
      this.pagination.total = this.ribbonData.length
    },
  }
</script>

<style lang="scss" module>
  @import "./style.module.scss";
</style>

