<template>
  <div class="row">
    <div class="col-lg-12">
      <div class="card card--withShadow">
        <div class="card-body">
          <div class="table-operations" style="float: right;padding-bottom: 5px;">
            <a-button type="primary">
              <a href="/admin/ribbon/create">ADD RIBBON</a>
            </a-button>
          </div>
          <a-auto-complete
            @select="select"
            @search="search"
            :value="keyword"
            :open="open"
            :allowClear="true"
            :class="$style.searchInput"
            ref="searchInput"
            optionLabelProp="text"
          >
            <template slot="dataSource">
              <a-select-option v-for="item in listSearch" :key="item._id" :text="item.name">
                <div class="ant-list-item">
                  <div class="ant-list-item-meta">
                    <div class="ant-list-item-meta-content">
                      <h4 class="ant-list-item-meta-title" style="font-size: 12px">
                        <span class="font-weight-bold">Name</span>
                        : {{ item.name }}
                      </h4>
                      <div class="ant-list-item-meta-title" style="font-size: 12px">
                        <span class="font-weight-bold">SubTitle</span>
                        : {{ item.subTitle }}
                      </div>
                      <div class="ant-list-item-meta-title" style="font-size: 12px">
                        <span class="font-weight-bold">SubTitleVn</span>
                        : {{ item.subTitleVn }}
                      </div>
                    </div>
                  </div>
                </div>
              </a-select-option>
            </template>
            <a-input-search
              :class="$style.searchInput"
              placeholder="Searching..."
              v-model="keyword"
              v-on:keyup.esc="open = false"
            />
          </a-auto-complete>
        </div>
      </div>
    </div>

    <div class="col-lg-12">
      <div class="card card--withShadow">
        <div class="card-body">
          <div class="row">
            <div class="col-lg-12">
              <a-form-item>
                <a-table
                  :columns="columns"
                  :rowKey="record => record._id"
                  :dataSource="ribbon"
                  :pagination="pagination"
                  @change="onPageChange"
                  :loading="loading"
                >
                  <template slot="action" slot-scope="value, record, index">
                    <a-button
                      icon="edit"
                      size="small"
                      class="mr-1"
                      @click="
                                        (record._id)"
                    >Edit</a-button>
                  </template>
                </a-table>
              </a-form-item>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
const columns = [
  {
    title: "Name",
    dataIndex: "name"
  },
  {
    title: "English",
    dataIndex: "subTitle",
    scopedSlots: { customRender: "subtitle" }
  },
  {
    title: "Vietnamese",
    dataIndex: "subTitleVn",
    scopedSlots: { customRender: "subtitlevn" }
  },
  {
    title: "Platform",
    dataIndex: "displayType",
    scopedSlots: { customRender: "displaytype" }
  },
  {
    title: "Type",
    dataIndex: "type",
    scopedSlots: { customRender: "type" }
  },
  {
    title: "Action",
    scopedSlots: {
      customRender: "action"
    }
  }
];

import { Table, Button, Form, AutoComplete, Input, Select } from 'ant-design-vue';
import { mapGetters, mapMutations } from "vuex";
import moment from "moment";

window.Vue.use(Table);
window.Vue.use(Button);
window.Vue.use(Form);
window.Vue.use(AutoComplete);
window.Vue.use(Input);
window.Vue.use(Select);

export default {
  data() {
    return {
      timer: null, 
      columns,
      moment: moment,
      ribbon: [],
      keyword: undefined,
      listSearch: [],
      open: false,
      timer: null,
      pagination: {
        pageSize: 10,
        total: 1,
        current: 1
      },
      loading: false,
      toolbarOptions: ["ExcelExport"]
    };
  },
  computed: {
    ...mapGetters("ribbon/detail", {
      ribbonData: "ribbon"
    })
  },
  methods: {
    ...mapMutations("ribbon/detail", {
      pullRibbon: "PULL_RIBBON"
    }),
    viewPeople(id) {
      window.location.href = "/admin/ribbon/edit/" + id;
    },
    select(value) {
      clearInterval(this.timer);
      this.timer = setInterval(
        () => {
          clearInterval(this.timer);
          axios
            .get("/admin/ribbon/searchIdRibbon", {
              params: {
                id: value
              }
            })
            .then(response => {
              this.ribbon = response.data.data;
              this.loading = false;
              this.open = false;
              this.keyword = undefined;
            })
            .catch(error => {
              console.log(error);
            });
        },
        300
      );
    },
    search() {
      clearInterval(this.timer);
      this.timer = setInterval(
        () => {
          clearInterval(this.timer);
          if (this.keyword) {
            axios
            .get("/admin/ribbon/searchRibbon", {
              params: {
                keyword: this.keyword,
                page: this.pagination.current
              }
            })
            .then(response => {
              this.listSearch = response.data.data.data.data;
              if (this.listSearch.length > 0) {
                this.ribbon = response.data.data.data.data;
                this.pagination.total = response.data.data.data.total;
                this.loading = false;
                this.open = true;
              } else {
                this.loading = false;
                this.open = false;
              }
            })
            .catch(error => {
              console.log(error);
            });
          } else {
            this.loading = false;
            this.open = false;
          }
          
        },
        300
      );
    },
    onPageChange(page) {
      this.pagination = page;
      axios
        .get("/admin/ribbon/searchRibbon", {
          params: {
            keyword: this.keyword,
            page: this.pagination.current
          }
        })
        .then(response => {
          this.ribbon = response.data.data.data.data;
          this.pagination.total = response.data.data.data.total;
          this.loading = false;
        })
        .catch(error => {
          console.log(error);
        });
    }
  },
  created() {
    axios
      .get("/admin/ribbon/searchRibbon", {
        params: {
          keyword: this.keyword,
          page: this.pagination.current
        }
      })
      .then(response => {
        this.ribbon = response.data.data.data.data;
        this.pagination.total = response.data.data.data.total;
        this.loading = false;
      })
      .catch(error => {
        console.log(error);
      });
  }
};
</script>

<style lang="scss" module>
@import "./style.module.scss";
</style>
