<template>
    <div class="row">
        <div class="col-lg-12">
            <div class="card card--withShadow">
                <div class="card-body">
                    <a-auto-complete
                            @select="select"
                            @search="search"
                            :value="keyword"
                            :open="open"
                            :allowClear="true"
                            :class="$style.searchInput"
                            ref="searchInput"
                            optionLabelProp="text"
                            @blur="onBlur"
                    >
                        <template slot="dataSource">
                            <a-select-option v-for="item in listSearch" :key="item._id" :text="item.name">
                                <div class="ant-list-item">
                                    <div class="ant-list-item-meta">
                                        <div class="ant-list-item-meta-content">
                                            <h4 class="ant-list-item-meta-title" style="font-size: 12px">
                                                Name : {{ item.name }}
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                            </a-select-option>
                        </template>
                        <a-input-search
                                :class="$style.searchInput"
                                placeholder="Searching..."
                                v-model="keyword"
                                v-on:keyup.esc="open = false"
                        />
                    </a-auto-complete>
                </div>
            </div>
        </div>

        <div class="col-lg-12">
            <div class="card card--withShadow">
                <div class="card-body">
                    <div class="table-operations" style="float: right">
                        <a-button type="primary"><a href="/admin/page/addNewWebsite">ADD PAGE</a></a-button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <a-skeleton active :loading="loadingSke">
                                <a-form-item>
                                    <a-table
                                            :columns="columns"
                                            :rowKey="record => record._id"
                                            :dataSource="pageData"
                                            :pagination="pagination"
                                            @change="onPageChange"
                                            :loading="loading"
                                    >
                                        <div slot="image" slot-scope="value">
                                            <img :src="value ? value : '/img/backend/404error.jpeg'" width="50px"/>
                                        </div>
                                        <div slot="gender" slot-scope="value">
                                            <span v-if="value === 1">Male</span>
                                            <span v-else-if="value === 2">Female</span>
                                            <span v-else-if="value === 3">Other</span>
                                        </div>
                                        <template slot="action" slot-scope="value, record, index">
                                            <a-button icon="edit" size="small" class="mr-1" @click="edit(record._id)">Edit</a-button>
                                        </template>
                                    </a-table>
                                </a-form-item>
                            </a-skeleton>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    const columns = [
        {
            title: "Name",
            dataIndex: "name",
            scopedSlots: {customRender: "name"}
        },
        {
            title: "Page Title English",
            dataIndex: "titleEnglish",
            scopedSlots: {customRender: "titleEnglish"}
        },
        {
            title: "Page title Vietnamese",
            dataIndex: "titleVietnamese",
            scopedSlots: {customRender: "titleVietnamese"}
        },
        {
            title: 'Action',
            scopedSlots: {
                customRender: 'action',
            },
        },
    ]
    import {mapGetters, mapMutations} from 'vuex'

    export default {
        data() {
            return {
                columns,
                pageData: [],
                keyword: undefined,
                listSearch: [],
                timer: null,
                pagination: {
                    total: '',
                    showTotal:(total, range) => `${range[0]}-${range[1]} of ${total} items`,
                    pageSize: 10
                },
                loading: false,
                open: false,
                loadingSke: true,
            }
        },
        methods: {
            onBlur(e) {
                this.open = false
            },
            select(value) {
                clearInterval(this.timer);
                this.timer = setInterval(function () {
                    clearInterval(this.timer);
                    axios
                        .get('/admin/page/searchIdPage', {
                            params: {
                                id: value,
                            }
                        })
                        .then(response => {
                            this.pageData = response.data.data.data
                            this.pagination.total = response.data.data.total
                            this.loading = false;
                            this.open = false
                            this.keyword = undefined
                        })
                        .catch(error => {
                            console.log(error)
                        });
                }.bind(this), 300)
            },
            search() {
                if (this.keyword === '') {
                    clearInterval(this.timer);
                    this.timer = setInterval(function () {
                        clearInterval(this.timer);
                        axios
                            .get('/admin/page/searchPage', {
                                params: {
                                    keyword: this.keyword,
                                    page: this.pagination.current,
                                    platform: 'website'
                                }
                            })
                            .then(response => {
                                this.listSearch = response.data.data.data.data
                                this.pageData = response.data.data.data.data
                                this.pagination.total = response.data.data.total
                                this.loading = false;
                                this.open = true
                            })
                            .catch(error => {
                                console.log(error)
                            });
                    }.bind(this), 300)
                } else {
                    clearInterval(this.timer);
                    this.timer = setInterval(function () {
                        clearInterval(this.timer);
                        axios
                            .get('/admin/page/searchPage', {
                                params: {
                                    keyword: this.keyword,
                                    page: this.pagination.current,
                                    platform: 'website'
                                }
                            })
                            .then(response => {
                                this.listSearch = response.data.data.data
                                this.pageData = response.data.data.data
                                this.pagination.total = response.data.data.total
                                this.loading = false;
                                this.open = true
                            })
                            .catch(error => {
                                console.log(error)
                            });
                    }.bind(this), 300)
                }
            },
            onPageChange(page, pageSize) {
                this.pagination = page;
                axios
                    .get('/admin/page/searchPage', {
                        params: {
                            keyword: this.keyword,
                            page: this.pagination.current
                        }
                    })
                    .then(response => {
                        this.pageData = response.data.data.data
                        this.pagination.total = response.data.data.total
                        this.loading = false;
                        this.loadingSke = true
                        setTimeout(() => {
                            this.loadingSke = false
                        }, 500)
                    })
                    .catch(error => {
                        console.log(error)
                    });
            },
            edit(id) {
                window.location.href = '/admin/page/editWebsite/' + id;
            },
        },
        created() {
            axios
                .get('/admin/page/searchPage', {
                    params: {
                        keyword: this.keyword,
                        page: this.pagination.current,
                        platform: 'website'
                    }
                })
                .then(response => {
                    this.listSearch = response.data.data.data.data
                    this.pageData = response.data.data.data.data
                    this.pagination.total = response.data.data.total
                    this.loading = false
                    setTimeout(() => {
                        this.loadingSke = false
                    }, 500)
                })
                .catch(error => {
                    console.log(error)
                });
        },
        mounted() {
            this.$refs.searchInput.focus()
            this.loadingSke = true
            setTimeout(() => {
                this.loadingSke = false
            }, 500)
        },
    }
</script>

<style lang="scss" module>
    @import "./style.module.scss";
</style>
