<template>
  <div>
    <a-form
        :form="form"
        @submit.prevent="handleSubmit"
      >
    <a-form-item>
      <a-input placeholder="Movie title" v-decorator="['alternateName',{ rules: [{ required: true, message: 'Please input your Title' }] }]" />
    </a-form-item>
    </a-form>
    <tree
      class="tree-highlights"
      :filter=treeFilter
      :data="treeData"
      :options="treeOptions"
      v-model="selectedNode"
      @node:selected="onNodeSelected"
      ref="tree"
    />
  </div>
</template>

<script>
  import LiquorTree from 'liquor-tree'
  import { mapMutations } from 'vuex'
  import treeJson from './tree.json'

  // Vue.use(LiquorTree)
  export default {
    components: {
      LiquorTree
    },
    data () {
      return {
        selectedNode: [],
        treeData: treeJson,
        treeFilter: '',
        treeOptions: {
          minFetchDelay: 10,
          propertyNames: {
            text: 'title',
            children: 'children',
          },
          fetchData: (node) => {
            let path = node.data.path + '/' + node.text
            return this.getData(path)
          },
          // filter: {
          //   matcher(query, node) {
          //     return query == node.data.modelName
          //   },
          //   plainList: false,
          //   showChildren: false
          // }
        },
      }
    },
    methods: {
      getData(path) {
        return axios.get('/admin/device/getlist', {
            params: {
              path: path
            }
          }
        ).then(response => {
          let data = response.data
          data.map(function (item, index, array) {
            item.title = item.modelName
            item.isBatch = true
            item.data = {}
            item.data.path = item.path
            item.data.modelName = item.modelName
            item.data.platform = item.platform
            delete item.path
            delete item.modelName
            delete item.platform
          })
          return data
        })
      },
      handleSubmit() {

      },

      onNodeSelected(node) {
        if (node.data.platform !== '' && node.data.platform !== undefined) {
          console.log(node.data.platform)
          axios.get('/admin/device/getdetail', {
            params: {
              platform: node.data.platform,
            }
          }).then(response => {
            console.log(response.data)
            this.SELECT_NODE(node)
            this.ADD_NODE_DETAIL(response.data)
          })
        } else {
          this.SELECT_NODE({})
          this.ADD_NODE_DETAIL([])
        }
      },

      ...mapMutations('tree', [
        'ADD_NODE_DETAIL',
        'SELECT_NODE'
      ]),
    },
    beforeCreate () {
      this.form = this.$form.createForm(this);
    },
  }
</script>
<style>

</style>
