<template>
  <div style="position: relative">
    <a
      href="javascript: void(0);"
      :class="[$style.avatar, bordered ? $style.bordered : '', $style[`size${size}`],]"
      :style="{borderColor, display: 'inline-block', background: 'transparent', borderRadius: 0, verticalAlign: 'top', marginBottom: '-55px'}"
    >
      <img
        :src="getImageURL(data.thumbnail.url)"
        :alt="data.thumbnail.url"
        style="width: 95% !important; border-radius: 5px;"
      />
    </a>
    <div style="display: inline-block; margin-bottom: -55px; overflow: hidden;">
      <h4>
        <a-breadcrumb>
          <a-breadcrumb-item>
            <a href="/">Home</a>
          </a-breadcrumb-item>
          <a-breadcrumb-item>
            <a href="/admin/movie">Titles</a>
          </a-breadcrumb-item>
        </a-breadcrumb>
      </h4>
      <h1>{{data.name}}</h1>
      <div class="font-size-12">
        <span>Source Status:</span>
        <span 
          class="font-size-16"
          :class="{
            'text-success': data.status == 'active',
            'text-warning': data.status == 'inReview',
            'text-danger': data.status == 'unActive',
          }"
        >
          {{data.status}}
        </span>
        &nbsp;&nbsp;
        <span>In Service:</span>
        <span>&nbsp;12/06/2019</span>
      </div>
    </div>
    <div style="position: absolute; right: 0; bottom: 5px;">
      <template v-if="!data.isSaved">
        <a-button type="default" @click="handleCancel">CANCEL</a-button>
        <a-button type="primary" @click="handleSave">SAVE</a-button>
      </template>
      <a-button 
        v-if="data.damStatus == 'ready' && data.status == 'unActive'"
        class="btn btn-warning" 
        icon="check" 
        @click="handleSubmitToQC"
      >
        SUBMIT TO QC
      </a-button>
      <a-button 
        v-if="data.status == 'inReview'"
        class="btn btn-success" 
        icon="upload" 
        @click="handlePublish"
      >
        PUBLISH
      </a-button>
      <a-button 
        v-if="data.status == 'active'"
        class="btn btn-danger" 
        icon="cross" 
        @click="handleUnPublish"
      >
        UNPUBLISH
      </a-button>
    </div>
    <div style="position: inherit;text-align: right;top: -46px;">
      <a-auto-complete
        @select="select"
        @search="onSearch"
        :class="$style.searchInput"
        ref="searchInput"
        optionLabelProp="text"
        style="width: 275px"
      >
        <template slot="dataSource">
          <a-select-option
            v-for="item in listSearch"
            :key="item.legacy_id"
            :text="item.alternateName"
          >
            <div class="ant-list-item">
              <div class="ant-list-item-meta">
                <div class="ant-list-item-meta-avatar">
                  <img width="50px" :src="getImageURL(item.thumbnail)" />
                </div>
                <div class="ant-list-item-meta-content">
                  <h4
                    class="ant-list-item-meta-title"
                    style="font-size: 12px"
                  >{{ item.alternateName }}</h4>
                  <div
                    class="ant-list-item-meta-description"
                    style="font-size: 12px"
                  >{{ item.slug }}</div>
                </div>
              </div>
            </div>
          </a-select-option>
        </template>
        <a-input-search
          placeholder="Search Title..."
          v-model="keyword"
          style="width: 275px"
          :class="$style.searchInput"
          v-on:keyup.enter="onSearch"
        />
      </a-auto-complete>
    </div>
  </div>
</template>
<script>
import { AutoComplete, Breadcrumb, Button, Input, Select } from 'ant-design-vue';
import { mapGetters } from 'vuex';
window.Vue.use(AutoComplete);
window.Vue.use(Breadcrumb);
window.Vue.use(Button);
window.Vue.use(Input);
window.Vue.use(Select);

export default {
  props: {
    data: Object,
    size: {
      type: Number,
      validator: val => [20, 25, 35, 50, 70, 90, 110, 111].includes(val),
      default: 110
    },
    bordered: {
      type: Boolean,
      default: false
    },
    borderColor: {
      type: String,
      default: "#d2d9e5"
    }
  },
  data() {
    return {
      keyword: undefined,
      listSearch: []
    };
  },
  computed: {
    ...mapGetters('config', {
      image: 'image'
    }),
  },
  methods: {
    getImageURL(filename) {
      if (filename) {
        return this.image.resize.w300 + filename;
      }
      return "/img/backend/404error.jpeg";
    },
    select(legacy_id) {
      window.location.href = "/admin/movie/edit/" + legacy_id;
    },
    onSearch() {
      clearInterval(this.timer);
      this.timer = setInterval(
        () => {
          clearInterval(this.timer);
          axios
            .get("/admin/movie/search", {
              params: {
                keyword: this.keyword
              }
            })
            .then(response => {
              this.listSearch = response.data.docs;
            });
        }, 500);
    },
    handleSave() {
      this.$store.commit('$_title/CLICK_SAVE_TITLE')
    },
    handleCancel() {
      this.$store.commit('$_title/CLICK_CANCEL_TITLE')
    },
    handleSubmitToQC() {
      this.$store.commit('$_title/CLICK_SUBMIT_TO_QC_TITLE')
    },
    handlePublish() {
      this.$store.commit('$_title/CLICK_PUBLISH_TITLE')
    },
    handleUnPublish() {
      this.$store.commit('$_title/CLICK_UNPUBLISH_TITLE')
    }
  },
};
</script>
<style lang="scss" module>
@import "@/backend/assets/styles/mixins.scss";
.avatar {
  background-color: $gray-lighten;
  border-color: $gray-darken;
  display: inline-block;
  overflow: hidden;
  border-radius: 50%;

  img {
    width: 100%;
    max-width: 100%;
    height: auto;
  }
}
.size20 {
  width: rem(20);
  height: rem(20);
}

.size25 {
  width: rem(25);
  height: rem(25);
}

.size35 {
  width: rem(35);
  height: rem(35);
}

.size50 {
  width: rem(50);
  height: rem(50);
}

.size70 {
  width: rem(70);
  height: rem(70);
}

.size90 {
  width: rem(90);
  height: rem(90);
}

.size110 {
  width: 15.46rem !important;
}

.bordered {
  border: 4px solid $gray;
}
</style>