<template>
  <div class="row">
    <div class="col-lg-12">
      <div class="card card--withShadow">
        <div class="card-body">
          <div class="table-operations" style="float: right;padding-bottom: 5px;">
            <a-button type="primary"><a href="/admin/people/addNew">ADD PEOPLE</a></a-button>
          </div>
          <a-auto-complete
            @select="select"
            @search="search"
            :value="keyword"
            :open="open"
            :allowClear="true"
            :class="$style.searchInput"
            ref="searchInput"
            optionLabelProp="text"
          >
            <template slot="dataSource">
              <a-select-option v-for="item in listSearch" :key="item._id" :text="item.name">
                <div class="ant-list-item">
                  <div class="ant-list-item-meta">
                    <div class="ant-list-item-meta-avatar">
                      <img width="50px"
                           :src="item.image ? item.image: '/img/backend/404error.jpeg'">
                    </div>
                    <div class="ant-list-item-meta-content">
                      <h4 class="ant-list-item-meta-title" style="font-size: 12px">
                        Name : {{ item.name }}
                      </h4>
                    </div>
                  </div>
                </div>
              </a-select-option>
            </template>
            <a-input-search
              :class="$style.searchInput"
              placeholder="Searching..."
              v-model="keyword"
              v-on:keyup.esc="open = false"
            />
          </a-auto-complete>
        </div>
      </div>
    </div>

    <div class="col-lg-12">
      <div class="card card--withShadow">
        <div class="card-body">
          <div class="table-operations" style="float: right">
            <form method="post" action="#" enctype="multipart/form-data">
              <label class="btn btn-sm btn-primary">
                <a-icon type="download"/>
                Export
                <input type="button" name="file" @click="onExport"/>
              </label>
              <label class="btn btn-sm btn-success">
                <a-icon type="upload"/>
                Import
                <input type="file" name="file" @change="onImport"/>
              </label>
            </form>
          </div>
        </div>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-12">
                <a-skeleton active :loading="loadingSke">
                <a-form-item>
                  <a-table
                    :columns="columns"
                    :rowKey="record => record.name"
                    :dataSource="people"
                    :pagination="pagination"
                    @change="onPageChange"
                    :loading="loading"
                  >
                    <div slot="image" slot-scope="value">
                      <img :src="value ? value : '/img/backend/404error.jpeg'" width="50px"/>
                    </div>
                    <div slot="birthday" slot-scope="value">
                                          <span v-if="value">
                                              {{ moment.unix(value).format("DD/MM/YYYY") }}
                                          </span>
                      <span v-else></span>
                    </div>
                    <div slot="gender" slot-scope="value">
                      <span v-if="value === 1">Male</span>
                      <span v-else-if="value === 2">Female</span>
                      <span v-else-if="value === 3">Other</span>
                    </div>
                    <template slot="action" slot-scope="value, record, index">
                      <a-button icon="edit" size="small" class="mr-1" @click="viewPeople(record._id)">Edit</a-button>
                    </template>
                  </a-table>
                </a-form-item>
                </a-skeleton>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</template>

<script>

  const columns = [
    {
      title: "Image",
      dataIndex: "image",
      scopedSlots: {customRender: "image"}
    },
    {
      title: "Name",
      dataIndex: "name",
    },
    {
      title: "Birthday",
      dataIndex: "birthday",
      scopedSlots: {customRender: "birthday"}
    },
    {
      title: "Gender",
      dataIndex: "gender",
      scopedSlots: {customRender: "gender"}
    },
    {
      title: "Nickname",
      dataIndex: "nickname",
      scopedSlots: {customRender: "nickname"}

    },
    {
      title: 'Action',
      scopedSlots: {
        customRender: 'action',
      },
    },
  ]

  import { Button, AutoComplete, Input, Skeleton, Form, Table, Select } from 'ant-design-vue';
  import {mapGetters, mapMutations} from 'vuex'
  import moment from 'moment';
  import XLSX from 'xlsx';

  window.Vue.use(Button);
  window.Vue.use(AutoComplete);
  window.Vue.use(Input);
  window.Vue.use(Skeleton);
  window.Vue.use(Form);
  window.Vue.use(Table);
  window.Vue.use(Select);

  export default {
    data() {
      return {
        columns,
        moment: moment,
        people: [],
        keyword: undefined,
        listSearch: [],
        timer: null,
        pagination: {
          pageSize: 10,
          total: 1,
          current: 1
        },
        loading: false,
        toolbarOptions: ['ExcelExport'],
        open: false,
        loadingSke: true
      }
    },
    computed: {
      ...mapGetters('people/detail', {
        peopleData: 'people',
      }),
      ...mapGetters('config', {
        image: 'image'
      }),
    },
    methods: {
      ...mapMutations('people/detail', {
        pullPeople: 'PULL_PEOPLE',
      }),
      onExport() {
        let dataPeople = this.people;
        let a = [];
        $.each(dataPeople, function (i, v) {
          delete v._id;
          delete v.identifier;
          delete v.legacy_id;
          delete v.status;
          delete v.description;
          if (v.Gender == 2) {
            v.Gender = 'Female'
          } else if (v.Gender == 1) {
            v.Gender = 'Male'
          } else {
            v.Gender = 'Other'
          }
          if (v.birthday) {
            v.birthday = moment.unix(v.birthday).format('DD/MM/YYYY')
          }
          a.push(v);
        });
        let people = XLSX.utils.json_to_sheet(a);
        let wb = XLSX.utils.book_new();
        XLSX.utils.book_append_sheet(wb, people, a);
        XLSX.writeFile(wb, 'people.xlsx')
      },
      onImport(e) {
        this.importPeople(e.target.files[0]);
      },
      importPeople(file) {
        let formData = new FormData();
        formData.append("file", file);
        let self = this;
        axios
          .post("/admin/people/import", formData, {
            headers: {
              "Content-Type": "multipart/form-data"
            }
          })
          .then(function (response) {
            if (response.status === 200) {
              self.$message.loading('Action in progress..', 2.5)
                .then(() => self.$message.success('Import Successfully', 2.5));
              self.pullPeople(response.data.data);
            } else {
              self.$message.error("Import Error !");
            }
          })
          .catch(error => {
            self.$message.error("Your Import dimensions is not correct.");
          });
      },
      viewPeople(id) {
        window.location.href = '/admin/people/edit/' + id;
      },
      select(value) {
        clearInterval(this.timer);
        this.timer = setInterval(function () {
          clearInterval(this.timer);
          axios
            .get('/admin/people/searchIdPeople', {
              params: {
                id: value,
              }
            })
            .then(response => {
              this.people = response.data.data.data
              this.pagination.total = response.data.data.total
              this.loading = false;
              this.open = false
              this.keyword = undefined
            })
            .catch(error => {
              console.log(error)
            });
        }.bind(this), 300)
      },
      search() {
        clearInterval(this.timer);
        this.timer = setInterval(function () {
          clearInterval(this.timer);
          axios
            .get('/admin/people/searchPeople', {
              params: {
                keyword: this.keyword,
                page: this.pagination.current
              }
            })
            .then(response => {
              this.listSearch = response.data.data.data;
              this.people = response.data.data.data;
              this.pagination.total = response.data.data.total;
              this.loading = false;
              this.open = true
            })
            .catch(error => {
              console.log(error)
            });
        }.bind(this), 300)
      },
      onPageChange(page, pageSize) {
        this.pagination = page;
        axios
            .get('/admin/people/searchPeople', {
              params: {
                keyword: this.keyword,
                page: this.pagination.current
              }
            })
            .then(response => {
              this.people = response.data.data.data.data;
              this.pagination.total = response.data.data.data.total;
              this.loading = false;
              this.loadingSke = true
              setTimeout(() => {
                this.loadingSke = false
              }, 500)
            })
            .catch(error => {
              console.log(error)
            });
      },
    },
    created() {
      axios
        .get('/admin/people/searchPeople', {
          params: {
            keyword: this.keyword,
            page: this.pagination.current
          }
        })
          .then(response => {
            this.people = response.data.data.data.data;
            this.pagination.total = response.data.data.data.total;
            this.loading = false;
            setTimeout(() => {
              this.loadingSke = false
            }, 500)
          })
          .catch(error => {
            console.log(error)
          });
    },
    mounted() {
      this.$refs.searchInput.focus()
      this.loadingSke = true
      setTimeout(() => {
        this.loadingSke = false
      }, 500)
    },
  }
</script>

<style lang="scss" module>
  @import "./style.module.scss";
</style>
